Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Update readthedocs config
  .readthedocs.yml
Labels: none

Add IP Address view
  cobbler/web/urls.py
  cobbler/web/views.py
  web/templates/iplist.tmpl
  web/templates/master.tmpl
Labels: none

patch cobbler/modules/managers/dnsmasq.py for cnames
  changelog.d/1643.added
  cobbler/modules/managers/dnsmasq.py
Labels: none

Make profile available in the interface dictionary for dhcp template rendering
  changelog.d/3638.added
  cobbler/modules/managers/isc.py
Labels: none

Make profile available in the interface dictionary for dhcp template rendering
  cobbler/modules/managers/isc.py
Labels: none

add setting to use a new uyuni authentication endpoint
  changelog.d/3631.added
  cobbler/modules/authentication/spacewalk.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  tests/items/item_test.py
  tests/utils/utils_test.py
Labels: Documentation, Tests

Better permissions for web.ss
  cobbler.spec
  cobbler/cobblerd.py
Labels: none

Add support for cnames in dnsmasq. (release33 syntax)
  cobbler/modules/managers/dnsmasq.py
Labels: none

Change `--bootproto=none` to `--no-activate` for unconfigured static interfaces
  autoinstall_snippets/network_config
  changelog.d/3651.fixed
Labels: none

fix get_random_mac
  cobbler/utils/__init__.py
  tests/items/network_interface_test.py
Labels: Tests

fix sqlite.deserialize_raw
  cobbler/modules/serializers/sqlite.py
  tests/modules/serializer/sqlite_test.py
Labels: Tests

fix: maximum recursion depth exceeded
  changelog.d/3654.fixed
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/manager.py
  cobbler/items/item.py
  cobbler/remote.py
Labels: none

Add signature for Alma/Rocky Minimal ISOs
  config/cobbler/distro_signatures.json
Labels: none

Add more iso listings including rhel9 minimal isos
  system-tests/listings/redhat/rhel8/Rocky-8.9-x86_64-minimal.iso/index
  system-tests/listings/redhat/rhel9/AlmaLinux-9.3-x86_64-minimal.iso/index
  system-tests/listings/redhat/rhel9/Rocky-9.3-x86_64-minimal.iso/index
  system-tests/tests/import-redhat-rhel9
Labels: Tests

Add changelog fragment
  changelog.d/2623.added
Labels: none

Attempt to add test for importing AlmaLinux-8.9-x86_64-minimal.iso
  system-tests/listings/redhat/rhel8/AlmaLinux-8.9-x86_64-minimal.iso/index
Labels: Tests

Fix autoinstall snippets
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

Execute nopxe prior to runpost
  autoinstall_snippets/autoinstall_done
Labels: none

Make autoinstall snippets more generic
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

This uses a real boolean instead of a one converted to a str
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

Further reduce code duplication
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

Accept InfiniBand MAC addresses
  changelog.d/3660.fixed
  cobbler/validate.py
  tests/items/network_interface_test.py
Labels: Tests

Accept InfiniBand MAC addresses
  cobbler/validate.py
Labels: none

buildiso: Introduce exclude-systems CLI option and distro autodetection
  cobbler/actions/buildiso/netboot.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Blacklint the tests
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Add changelog
  changelog.d/3665.added
Labels: none

Fix type checks
  cobbler/actions/buildiso/netboot.py
  cobbler/api.py
  cobbler/remote.py
Labels: none

python3-yaml missing in Build-Depends
  debian/control
Labels: none

add changelog.d/3666.added
  changelog.d/3666.added
Labels: none

added changelog file for fixed issue.
  changelog.d/3668.fixed
Labels: none

Items: Fix backport (3)
  cobbler/items/item.py
Labels: none

Add support for cnames in dnsmasq. (release33 syntax)
  cobbler/modules/managers/dnsmasq.py
Labels: none

add changelog.d/3666.added
  changelog.d/3666.added
Labels: none

Add Ubuntu 23.10 to supported distros
  config/cobbler/distro_signatures.json
  system-tests/listings/ubuntu/mantic/ubuntu-23.10.1-desktop-amd64.iso/index
  system-tests/tests/import-ubuntu-mantic
Labels: Tests

Add changelog entry
  changelog.d/3656.added
Labels: none

fixed ubuntu mantic listing
  system-tests/listings/ubuntu/mantic/ubuntu-23.10.1-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/mantic/ubuntu-23.10.1-desktop-amd64.iso/files/dists/mantic/Release
  system-tests/listings/ubuntu/mantic/ubuntu-23.10.1-desktop-amd64.iso/index
Labels: Tests

Remove extraneous data. in __validate_log_data_params
  cobbler/remote.py
Labels: none

Fix autoinstall snippets
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

Make autoinstall snippets more generic
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

Execute nopxe prior to runpost
  autoinstall_snippets/autoinstall_done
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
