Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

deduplicate trigger sections
  docs/user-guide.rst
Labels: Documentation

Also need to "flatten" ks_meta for koan
  cobbler/utils.py
Labels: none

Increase application version to 3.3.5
  cobbler/settings/migrations/V3_3_5.py
Labels: none

Items: Extend docstrings
  cobbler/items/item.py
Labels: none

setup.py: Fix compatibility with setuptools 70+
  changelog.d/3692.fixed
  setup.py
Labels: none

setup.py: Fix compatibility with setuptools 70+
  changelog.d/3724.fixed
  setup.py
Labels: none

Add collection indices
  changelog.d/3725.added
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/resource.py
  cobbler/items/system.py
  cobbler/modules/installation/post_report.py
  cobbler/remote.py
  tests/collections/distro_collection_test.py
  tests/collections/system_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: Tests

Docker: Add python3-psutil to the image
  docker/develop/develop.dockerfile
Labels: none

Fix: Inheriting some non-string properties
  changelog.d/3715.fixed
  cobbler/items/image.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/validate.py
  tests/items/distro_test.py
  tests/items/file_test.py
  tests/items/image_test.py
  tests/items/item_test.py
  tests/items/menu_test.py
  tests/items/mgmtclass_test.py
  tests/items/network_interface_test.py
  tests/items/package_test.py
  tests/items/profile_test.py
  tests/items/repo_test.py
  tests/items/resource_test.py
  tests/items/system_test.py
Labels: Tests

Raise AttributeErrors in case it cannot be resolved
  cobbler/items/item.py
  cobbler/items/system.py
  tests/items/system_test.py
  tests/xmlrpcapi/profile_test.py
Labels: Tests

Provide sync_single_system for DHCP modules
  changelog.d/3710.changed
  cobbler/actions/sync.py
  cobbler/cobbler_collections/collection.py
  cobbler/modules/managers/__init__.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/isc.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils/__init__.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  templates/etc/dnsmasq.template
  tests/items/item_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/isc_test.py
  tests/utils/utils_test.py
Labels: Documentation, Tests

Fix automatic installation failure that might occur when multi nic exist
  cobbler/api.py
  cobbler/remote.py
  cobbler/services.py
  cobbler/tftpgen.py
Labels: none

Add changelog for 3.3.5
  changelog.d/3596.added
  changelog.d/3666.added
  changelog.d/3680.added
  changelog.d/3702.added
  changelog.d/3708.fixed
  changelog.d/3715.fixed
  changelog.d/3724.fixed
  changelog.d/3725.added
  changelog/v3.3.5.md
Labels: none

Forward port 3.3.4 and 3.3.5 migrations
  changelog.d/3628.changed
  changelog/.keep
  changelog/v3.3.4.md
  changelog/v3.3.5.md
  cobbler/settings/migrations/V3_3_4.py
  cobbler/settings/migrations/V3_3_5.py
  cobbler/settings/migrations/V3_4_0.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_3_4/modules.conf
  tests/test_data/V3_3_4/mongodb.conf
  tests/test_data/V3_3_4/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_4/settings.d/manage_genders.settings
  tests/test_data/V3_3_4/settings.d/nsupdate.settings
  tests/test_data/V3_3_4/settings.d/windows.settings
  tests/test_data/V3_3_4/settings.yaml
  tests/test_data/V3_3_5/modules.conf
  tests/test_data/V3_3_5/mongodb.conf
  tests/test_data/V3_3_5/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_5/settings.d/manage_genders.settings
  tests/test_data/V3_3_5/settings.d/nsupdate.settings
  tests/test_data/V3_3_5/settings.d/windows.settings
  tests/test_data/V3_3_5/settings.yaml
Labels: Tests

Move NetworkInterface class to dedicated module
  cobbler/cobbler_collections/systems.py
  cobbler/items/network_interface.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/cobbler_collections/system_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: Tests

Non-unique collection indexes
  changelog.d/3721.added
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/image_collection_test.py
  tests/cobbler_collections/menu_collection_test.py
  tests/cobbler_collections/profile_collection_test.py
  tests/cobbler_collections/repo_collection_test.py
  tests/cobbler_collections/system_collection_test.py
  tests/items/cache_test.py
  tests/items/inmemory_test.py
  tests/items/item_test.py
  tests/modules/serializer/sqlite_test.py
  tests/utils/utils_test.py
Labels: Tests

Changelog: Add release header for 3.3.5
  changelog/v3.3.5.md
Labels: none

Docs: Add missing lazy_start to config changelog
  docs/cobbler-conf.rst
Labels: Documentation

fix ubuntu 16.04.6 Legacy failed while multi NICs
  cobbler/tftpgen.py
Labels: none

Add dosfstools to dockerfiles
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_34/Fedora34.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

Increase application version to 3.3.6
  changelog.d/3748.added
  cobbler.spec
  cobbler/settings/migrations/V3_3_6.py
  docs/cobbler-conf.rst
  docs/conf.py
  setup.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_3_6/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_6/settings.d/manage_genders.settings
  tests/test_data/V3_3_6/settings.d/nsupdate.settings
  tests/test_data/V3_3_6/settings.d/windows.settings
  tests/test_data/V3_3_6/settings.yaml
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

Move NetworkInterface class to dedicated module
  cobbler/cobbler_collections/systems.py
  cobbler/items/network_interface.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/cobbler_collections/system_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: Tests

Document detail for buildiso exclude-dns param
  docs/user-guide/building-isos.rst
Labels: Documentation

Actions: Buildiso - Fix DNS append line generation
  changelog.d/3747.fixed
  cobbler/actions/buildiso/netboot.py
  docs/user-guide/building-isos.rst
  tests/actions/buildiso/__init__.py
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
  tests/actions/buildiso/conftest.py
Labels: Documentation, Tests

Forward port 3.3.4 and 3.3.5 migrations
  changelog.d/3628.changed
  changelog/.keep
  changelog/v3.3.4.md
  changelog/v3.3.5.md
  cobbler/settings/migrations/V3_3_4.py
  cobbler/settings/migrations/V3_3_5.py
  cobbler/settings/migrations/V3_4_0.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_3_4/modules.conf
  tests/test_data/V3_3_4/mongodb.conf
  tests/test_data/V3_3_4/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_4/settings.d/manage_genders.settings
  tests/test_data/V3_3_4/settings.d/nsupdate.settings
  tests/test_data/V3_3_4/settings.d/windows.settings
  tests/test_data/V3_3_4/settings.yaml
  tests/test_data/V3_3_5/modules.conf
  tests/test_data/V3_3_5/mongodb.conf
  tests/test_data/V3_3_5/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_5/settings.d/manage_genders.settings
  tests/test_data/V3_3_5/settings.d/nsupdate.settings
  tests/test_data/V3_3_5/settings.d/windows.settings
  tests/test_data/V3_3_5/settings.yaml
Labels: Tests

Tests: Switch to tftpd for supervisorctl tests
  changelog.d/3749.fixed
  tests/utils_test.py
Labels: Tests

Fix param-file for s390 systems when long parameters
  changelog.d/3750.fixed
  cobbler/tftpgen.py
  tests/tftpgen_test.py
Labels: Tests

System-Tests: Fix settings-cli-migrate expectations
  system-tests/tests/settings-cli-migrate
Labels: Tests

SPEC: Add SUSE copyright
  cobbler.spec
Labels: none

SPEC: Add SUSE copyright
  cobbler.spec
Labels: none

Introduce BaseItem class
  cobbler/api.py
  cobbler/autoinstall_manager.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/manager.py
  cobbler/decorator.py
  cobbler/items/abstract/base_item.py
  cobbler/items/distro.py
  cobbler/items/item.py
  cobbler/modules/authorization/ownership.py
  cobbler/remote.py
  cobbler/utils/__init__.py
  cobbler/validate.py
  cobbler/yumgen.py
  tests/items/base_item_test.py
  tests/items/item_test.py
Labels: Tests

Settings: Fix import errors for migrations
  cobbler/settings/migrations/V3_3_4.py
  cobbler/settings/migrations/V3_3_5.py
Labels: none

Settings: Add missing extra_settings_list key to 3.3.5
  cobbler/settings/migrations/V3_3_5.py
  tests/settings/migrations/normalize_test.py
Labels: Tests

Refactor: polymorphic buildiso run() methods
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
Labels: none

Fix generate_autoinstall when passing a system
  cobbler/autoinstallgen.py
Labels: none

Refactor Buildiso: split logic and I/O
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  templates/iso/isolinux_menuentry.template
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Skip wrong/inconsistent collections
  changelog.d/3751.fixed
  cobbler/cobbler_collections/collection.py
  cobbler/modules/serializers/file.py
  cobbler/utils.py
Labels: none

Add EFI support with ESP and grub.cfg
  changelog.d/3744.added
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  templates/iso/grub_menuentry.template
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Actions: buildiso - remove split testfile
  tests/actions/buildiso_test.py
Labels: Tests

Actions: buildiso - Fix rebase error
  cobbler/actions/buildiso/netboot.py
Labels: none
