Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Items: Cleanup docstrings
  cobbler/items/system.py
Labels: none

Items: Allow inheriting the virt_bridge name from the settings
  cobbler/items/system.py
Labels: none

Fix bug for the AutoinstallationManager
  cobbler/items/image.py
  cobbler/items/profile.py
  cobbler/items/system.py
Labels: none

Items: Add fixme for virt_type in mac address
  cobbler/items/system.py
Labels: none

Fixup docstring
  cobbler/items/item.py
Labels: none

Items: Fix search bug for NetworkInterface
  cobbler/items/item.py
Labels: none

Items: Fix truthiness check via utils
  cobbler/items/system.py
Labels: none

Simplify collection manager if-else
  cobbler/cobbler_collections/manager.py
Labels: none

Convert string to comment
  cobbler/utils.py
Labels: none

Fixup lazy formatted logging
  cobbler/actions/replicate.py
  cobbler/actions/reposync.py
  cobbler/api.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
  cobbler/utils.py
Labels: none

Add dump_vars endpoint to the XML-RPC API
  cobbler/api.py
  cobbler/items/item.py
  cobbler/remote.py
Labels: none

Remove unused import
  tests/autoinstallation_manager_test.py
Labels: Tests

Remove unused imports
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/modules/authorization/ownership.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils.py
Labels: none

Fixup duplicated import
  cobbler/configgen.py
Labels: none

enable ldap test again
  tests/modules/authentication/ldap_test.py
Labels: Tests

utils: Prevent AttributeError in case of None
  cobbler/utils.py
Labels: none

utils: blender - Sort profile & system repos
  cobbler/utils.py
Labels: none

utils: Fix blender bug that causes missing fields
  cobbler/utils.py
  tests/utils_test.py
Labels: Tests

Items: Inherit owners per default instead of copy
  cobbler/items/item.py
  tests/items/item_test.py
  tests/modules/managers/genders_test.py
  tests/modules/managers/in_tftpd_test.py
  tests/modules/managers/isc_test.py
Labels: Tests

XML-RPC: Enable fetching whole resolved items
  cobbler/items/item.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  tests/items/item_test.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/item_test.py
Labels: Tests

Tests: Add testcases for owners
  tests/items/item_test.py
Labels: Tests

Move grab_tree to item.py
  cobbler/items/item.py
  cobbler/utils.py
  tests/items/item_test.py
  tests/utils_test.py
Labels: Tests

virt_file_size: Use float in all places
  cobbler/cli.py
  cobbler/items/image.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/validate.py
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
  tests/items/image_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
Labels: Documentation, Tests

API: Add new set_item_resolved_value endpoint
  cobbler/api.py
  cobbler/decorator.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  tests/api/miscellaneous_test.py
Labels: Tests

CI: Update workflows to run against correct branches
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Items: to_dict and resolved works with dict attrs
  cobbler/items/item.py
  tests/items/item_test.py
Labels: Tests

API: Add new set_item_resolved_value endpoint
  cobbler/api.py
  cobbler/remote.py
Labels: none

Increase version to 3.3.3
  cobbler/settings/migrations/V3_3_3.py
  cobbler/settings/migrations/V3_4_0.py
  docs/cobbler-conf.rst
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
Labels: Documentation, Tests

Tests: Fix include folder path
  tests/test_data/V3_3_0/settings.yaml
  tests/test_data/V3_3_1/settings.yaml
  tests/test_data/V3_3_2/settings.yaml
  tests/test_data/V3_4_0/settings.yaml
Labels: Tests

Tests: Add test data for 3.3.3
  tests/test_data/V3_3_3/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_3/settings.d/manage_genders.settings
  tests/test_data/V3_3_3/settings.d/nsupdate.settings
  tests/test_data/V3_3_3/settings.d/windows.settings
  tests/test_data/V3_3_3/settings.yaml
Labels: Tests

CI: Upgrade rstcheck to V6
  .github/workflows/lint.yml
  .rstcheck.cfg
Labels: CI

Items: Fix creation of "default" NetworkInterface
  cobbler/items/system.py
  cobbler/remote.py
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

README: Add asciinema badge
  README.md
Labels: none

Tests: Define default system interface explicitly
  tests/conftest.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: Tests

Docs: Add small docstring to undocumented modules
  cobbler/actions/check.py
  cobbler/actions/log.py
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/grub.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/modules/installation/post_log.py
  cobbler/modules/installation/pre_clear_anamon_logs.py
  cobbler/modules/managers/genders.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/scm_track.py
  cobbler/remote.py
  cobbler/validate.py
Labels: none

utils: Move mtab functions to submodule
  cobbler/utils/__init__.py
  cobbler/utils/mtab.py
  tests/utils/__init__.py
  tests/utils/mtab_test.py
Labels: Tests

Tests: Create systems in xmlrpcapi
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

utils: Move input_* functions to own submodule
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/api.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/mgmtclass.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_2_1.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/utils/input_converters.py
  cobbler/validate.py
  tests/utils/__init__.py
  tests/utils/input_converters_test.py
Labels: Tests

utils: Move utils.py into own module
  cobbler/utils/__init__.py
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
