Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

CI: Fix RockyLinux 8 & 9 build
  .github/workflows/packaging.yml
Labels: CI

CI: Switch to ubuntu-latest for dockerized package build
  .github/workflows/packaging.yml
Labels: CI

CI: Update download-artifact to v4
  .github/workflows/packaging.yml
Labels: CI

Implement transactions
  changelog.d/3810.added
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/profiles.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/transaction_test.py
Labels: Tests

CI: Add self-hosted fireactions runner
  .github/workflows/# .github/workflows/test-fireactions.yml
Labels: CI

Tmp
  .github/workflows/test-fireactions.yml
Labels: CI

Implement transactions
  changelog.d/3810.added
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/distro.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/modules/serializer/file_test.py
  tests/modules/serializer/sqlite_test.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/transaction_test.py
Labels: Tests

CI: Update GH runners and used Python versions
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
Labels: CI

snippet keep_files: declare variables local
  autoinstall_snippets/keep_files
Labels: none

Drop Requires: /sbin/service from spec
  cobbler.spec
Labels: none

CI: replace run-on: ubuntu-20.04 with latest
  .github/workflows/packaging.yml
  .github/workflows/performance_testing_manual.yml
  .github/workflows/testing.yml
Labels: CI

Make flock mechanism to work on NFS environments
  cobbler/serializer.py
Labels: none

Add changelog entry
  changelog.d/3905.fixed
Labels: none

Disable pylint R1732 to avoid Codacy warning
  cobbler/serializer.py
Labels: none

CI: Fix RockyLinux 8 & 9 build
  .github/workflows/packaging.yml
Labels: CI

CI: Update download-artifact to v4
  .github/workflows/packaging.yml
Labels: CI

CI: Add self-hosted fireactions runner
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3908.added
Labels: CI

CI: Upload hidden files
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

Docs: Remove CLI manpages
  docs/conf.py
Labels: Documentation

XML-RPC: Remove xapi_edit
  cobbler/remote.py
  tests/xmlrpcapi/xapi_test.py
Labels: Tests

CLI: Remove bundled CLI
  bin/cobbler
  cobbler.spec
  cobbler/cli.py
  docker/debs/build-and-install-debs.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/rpms/build-and-install-rpms.sh
  docs/cobbler.rst
  docs/code-autodoc/cobbler.rst
  docs/index.rst
  setup.py
  tests/cli/__init__.py
  tests/cli/cli_unit_test.py
  tests/cli/cobbler_cli_direct_test.py
  tests/cli/cobbler_cli_object_test.py
  tests/cli/conftest.py
Labels: Documentation, Tests

Docker: Fix MongoDB installation
  docker/develop/scripts/setup-mongodb.sh
Labels: none

Docker: Remove openssl 1.1 requirement
  changelog.d/3910.fixed
  docker/develop/develop.dockerfile
Labels: none

Test: Mitigate removed power type docker
  tests/items/system_test.py
Labels: Tests

Tests: Define performance testing rounds with env variable
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3911.added
  tests/performance/__init__.py
Labels: Tests, CI

Tests: Add updated benchmark results
  .benchmarks/Linux-CPython-3.11-64bit/0002_e431f73ba97f80c7f18bb44f7400905eb795283d_20250523_081136_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Remove matrix job for performance testsuite
  .github/workflows/performance_testing_automated.yml
Labels: CI

Test: Mitigate removed power type docker
  tests/items/system_test.py
Labels: Tests

Tests: Add updated benchmark results
  .benchmarks/Linux-CPython-3.11-64bit/0002_e431f73ba97f80c7f18bb44f7400905eb795283d_20250523_081136_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

Tests: Force garbage collect for get_autoinstall
  tests/performance/get_autoinstall_test.py
Labels: Tests

CI: Decrease number of iterations for get_autoinstall
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Increase timeout for testrun
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Improve round and iteration numbers
  .github/workflows/performance_testing_automated.yml
  tests/performance/item_edit_test.py
  tests/performance/start_test.py
Labels: Tests, CI

CI: Widen the usage of the iteration parameter
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_edit_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests, CI

Tests: Define performance testing rounds with env variable
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3911.added
  tests/performance/__init__.py
Labels: Tests, CI

CI: Update number of iterations
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Remove matrix job for performance testsuite
  .github/workflows/performance_testing_automated.yml
Labels: CI

Extend keep_files snippet to preserve puppet keys
  autoinstall_snippets/keep_files
Labels: none

updating distro_signatures.json with the latest signatures from cobbler 'main' branch
  config/cobbler/distro_signatures.json
Labels: none

small fixes
  autoinstall_snippets/cloud_config_network
  autoinstall_templates/cloud_config_autoinstall
Labels: none
