Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Fix for recursive remove
  changelog.d/3940.fixed
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  tests/cobbler_collections/image_collection_test.py
  tests/cobbler_collections/menu_collection_test.py
  tests/cobbler_collections/profile_collection_test.py
  tests/cobbler_collections/system_collection_test.py
  tests/items/inheritable_item_test.py
Labels: Tests

Tests: Define performance testing rounds with env variable
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3911.added
  tests/performance/__init__.py
Labels: Tests, CI

Tests: Add updated benchmark results
  .benchmarks/Linux-CPython-3.11-64bit/0002_e431f73ba97f80c7f18bb44f7400905eb795283d_20250523_081136_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Remove matrix job for performance testsuite
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Improve round and iteration numbers
  .github/workflows/performance_testing_automated.yml
  tests/performance/item_edit_test.py
  tests/performance/start_test.py
Labels: Tests, CI

CI: Widen the usage of the iteration parameter
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_edit_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests, CI

Tests: Force garbage collect for get_autoinstall
  tests/performance/get_autoinstall_test.py
Labels: Tests

CI: Update number of iterations
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Increase timeout for testrun
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Decrease number of iterations for get_autoinstall
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Disable iptables raw for performance testsuite report generation
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Merge performance test workflows
  .github/workflows/performance_testing.yml
  .github/workflows/performance_testing_automated.yml
Labels: CI

Promote NetworkInterface class to dedicated collection
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/manager.py
  cobbler/cobbler_collections/network_interfaces.py
  cobbler/data/config/cobbler/settings.yaml
  cobbler/enums.py
  cobbler/items/abstract/base_item.py
  cobbler/items/network_interface.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils/filesystem_helpers.py
  cobbler/validate.py
  tests/cobbler_collections/network_interface_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/xmlrpcapi/network_interface_test.py
  tests/xmlrpcapi/non_object_calls_test.py
  tests/xmlrpcapi/system_test.py
Labels: Tests

setup: Add pre-commit
  setup.py
Labels: none

Autoinstaller: Refactor for cloud-init support
  cobbler/api.py
  cobbler/autoinstall/__init__.py
  cobbler/autoinstall/generate/__init__.py
  cobbler/autoinstall/generate/autoyast.py
  cobbler/autoinstall/generate/base.py
  cobbler/autoinstall/generate/cloud_init.py
  cobbler/autoinstall/generate/kickstart.py
  cobbler/autoinstall/generate/legacy.py
  cobbler/autoinstall/generate/preseed.py
  cobbler/autoinstall/manager.py
  cobbler/autoinstallgen.py
  cobbler/items/image.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/services.py
  cobbler/tftpgen.py
  docs/code-autodoc/cobbler.autoinstall.generate.rst
  docs/code-autodoc/cobbler.autoinstall.rst
  docs/code-autodoc/cobbler.rst
  tests/autoinstall/__init__.py
  tests/autoinstall/manager_test.py
Labels: Documentation, Tests

Ignore: Add codacy directory
  .gitignore
Labels: none

Migrate Network Interfaces to dedicated collection
  cobbler/settings/migrations/V3_3_6.py
  cobbler/settings/migrations/V3_3_7.py
  cobbler/settings/migrations/V3_4_0.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_3_6/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_6/settings.d/manage_genders.settings
  tests/test_data/V3_3_6/settings.d/nsupdate.settings
  tests/test_data/V3_3_6/settings.d/windows.settings
  tests/test_data/V3_3_6/settings.yaml
  tests/test_data/V3_3_7/collections/systems/host.example.org.json
  tests/test_data/V3_3_7/modules.conf
  tests/test_data/V3_3_7/mongodb.conf
  tests/test_data/V3_3_7/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_7/settings.d/manage_genders.settings
  tests/test_data/V3_3_7/settings.d/nsupdate.settings
  tests/test_data/V3_3_7/settings.d/windows.settings
  tests/test_data/V3_3_7/settings.yaml
Labels: Tests

Add changelog for item refactoring
  changelog.d/3439.added
Labels: none

add changelog.d entry
  2339.fixed
Labels: none

Introduce BootLoader enum
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/enums.py
  cobbler/items/abstract/base_item.py
  cobbler/items/abstract/bootable_item.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/menu.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/modules/managers/isc.py
  cobbler/remote.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/utils/signatures.py
  tests/items/distro_test.py
  tests/items/image_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/tftpgen_test.py
  tests/utils/signatures_test.py
  tests/utils/utils_test.py
Labels: Tests

setup: Add pre-commit
  setup.py
Labels: none

pre_install_network_config: Handle bonds, more cleanup
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none

Move more network configuration into pre_install_network_config; Handle basic bridges
  cobbler/data/templates/cheetah/autoinstall/snippets/network_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none

Add changelog fragment
  changelog.d/3941.changed
Labels: none

Use systemctl is-active --quiet to check status of services (fixes #3942)
  changelog.d/3942.fixed
  cobbler/actions/check.py
Labels: none

Improve Cobbler installation via pip
  changelog.d/3946.fixed
  cobbler/cobblerd/distro_options.py
  cobbler/cobblerd/setup.py
  cobbler/data/config/service/cobblerd.service
  docs/installation-guide.rst
Labels: Documentation

Docs: Fix code-block for pip installation
  docs/installation-guide.rst
Labels: Documentation

Copy static grub config into TFTP-directory
  changelog.d/3948.fixed
  cobbler/tftpgen.py
Labels: none

Use systemctl is-active --quiet to check status of services (fixes #3942)
  changelog.d/3942.fixed
  cobbler/actions/check.py
Labels: none

CI: Improve round and iteration numbers
  .github/workflows/performance_testing_automated.yml
  tests/performance/item_edit_test.py
  tests/performance/start_test.py
Labels: Tests, CI

CI: Merge performance test workflows
  .github/workflows/performance_testing.yml
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Decrease number of iterations for get_autoinstall
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

Tests: Force garbage collect for get_autoinstall
  tests/performance/get_autoinstall_test.py
Labels: Tests

CI: Widen the usage of the iteration parameter
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_edit_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests, CI

Tests: Define performance testing rounds with env variable
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3911.added
  tests/performance/__init__.py
Labels: Tests, CI

CI: Increase timeout for testrun
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Disable iptables raw for performance testsuite report generation
  .github/workflows/performance_testing_manual.yml
Labels: CI

Tests: Add updated benchmark results
  .benchmarks/Linux-CPython-3.11-64bit/0002_e431f73ba97f80c7f18bb44f7400905eb795283d_20250523_081136_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Update number of iterations
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Remove matrix job for performance testsuite
  .github/workflows/performance_testing_automated.yml
Labels: CI

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
