Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Add Distros to distro_signatures.json
  cobbler/data/config/cobbler/distro_signatures.json
  system-tests/listings/redhat/fedora39/Fedora-Workstation-Live-x86_64-39-1.5.iso/index
  system-tests/listings/redhat/fedora40/Fedora-Workstation-Live-x86_64-40-1.14.iso/index
  system-tests/listings/redhat/fedora41/Fedora-Workstation-Live-x86_64-41-1.4.iso/index
  system-tests/listings/redhat/fedora42/Fedora-Workstation-Live-42-1.1.x86_64.iso/index
  system-tests/listings/redhat/fedora43/Fedora-Workstation-Live-43-1.6.x86_64.iso/index
  system-tests/listings/redhat/fedora44/Fedora-Workstation-Live-44-1.7.x86_64.iso/index
  system-tests/listings/suse/leapmicro6.0/openSUSE-Leap-Micro-6.0-x86_64.iso/index
  system-tests/listings/suse/leapmicro6.1/openSUSE-Leap-Micro-6.1-x86_64.iso/index
  system-tests/listings/suse/leapmicro6.2/openSUSE-Leap-Micro.x86_64-Default-SelfInstall.iso/index
  system-tests/listings/suse/sles15sp6/SLE-15-SP6-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles15sp7/SLE-15-SP7-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles16.0/SLES-16.0-Full-x86_64-GM.install.iso/index
  system-tests/listings/suse/sles16.1/SLES-16.1-Full-x86_64-009-Beta3.install.iso/index
  system-tests/listings/suse/slmicro6.0/SL-Micro.x86_64-6.0-Default-SelfInstall-GM.install.iso/index
  system-tests/listings/suse/slmicro6.1/SL-Micro.x86_64-6.1-Default-SelfInstall-GM.install.iso/index
  system-tests/listings/suse/slmicro6.2/SL-Micro.x86_64-6.2-Default-SelfInstall-GM.install.iso/index
  system-tests/listings/ubuntu/oracular/ubuntu-24.10-desktop-amd64.iso/index
  system-tests/listings/ubuntu/plucky/ubuntu-25.04-desktop-amd64.iso/index
  system-tests/listings/ubuntu/questing/ubuntu-25.10-snapshot4-desktop-amd64.iso/index
  tests/integration/import_test.py
Labels: Tests

Kernel options: document scalar support
  cobbler/items/abstract/bootable_item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  docs/cobbler-conf/settings-yaml.rst
  docs/limitations.rst
  docs/user-guide/esxi.rst
Labels: Documentation

Docs: Fix underline too short
  docs/installation-guide.rst
Labels: Documentation

Fix changelog fragment file suffix
  changelog.d/3847.fixed
Labels: none

Fix ESXi import signatures
  changelog.d/2889.fixed
  cobbler/modules/managers/import_signatures.py
  tests/modules/managers/import_signatures_test.py
Labels: Tests

Update signatures files to support debian stable version trixie
  cobbler/data/config/cobbler/distro_signatures.json
Labels: none

Add debian trixie version system tests
  system-tests/listings/debian/trixie/debian-13.2.0-amd64-netinst.iso/files/dists/trixie/Release
  system-tests/listings/debian/trixie/debian-13.2.0-amd64-netinst.iso/index
  tests/integration/import_test.py
Labels: Tests

Fix kernel options - ensure deterministic ordering
  cobbler/autoinstall/generate/legacy.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  tests/utils/utils_test.py
Labels: Tests

Add SUSE bootloader to default config
  cobbler/data/config/cobbler/settings.yaml
Labels: none

Allow registering RedHat systems with either `redhat_management_org`/ `redhat_management_key` or `redhat_management_user`/`redhat_management_password`
  changelog.d/3539.added
  cobbler/data/config/cobbler/settings.yaml
  cobbler/data/templates/cheetah/autoinstall/snippets/redhat_register.template
  cobbler/items/distro.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  docs/cobbler-conf/settings-yaml.rst
  tests/api/miscellaneous_test.py
  tests/integration/data/test_svc_settings/expected_settings.json
  tests/items/bootable_item_test.py
  tests/items/distro_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/modules/managers/in_tftpd_test.py
  tests/modules/managers/isc_test.py
  tests/settings/migrations/normalize_test.py
  tests/special_cases/built_in_snippets_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/utils_test.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/item_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

docker: add build of debs for Debian 13 Trixie
  .github/workflows/packaging.yml
  Makefile
  changelog.d/3979.added
  docker/debs/Debian_13/Debian13.dockerfile
  docs/installation-guide.rst
Labels: Documentation, CI

snippet 'keep_files': global variable 'keys_found' should be per-service
  cobbler/data/templates/cheetah/autoinstall/snippets/keep_files.template
Labels: none

Compatibility fixes for tftpboot directory setup
  changelog.d/3973.added
  cobbler/actions/mkloaders.py
  cobbler/data/config/grub/grub.cfg
  cobbler/utils/filesystem_helpers.py
  tests/actions/mkloaders_test.py
  tests/utils/filesystem_helpers_test.py
Labels: Tests

Add necessary files for generating latest XCP-ng autoinstall answerfile.xml
  autoinstall_scripts/xcp_post_install
  autoinstall_scripts/xcp_pre_install
  autoinstall_snippets/network_config_xcp
  autoinstall_templates/answerfile.xml
Labels: none

Add latest XCP-ng 7.x & 8.x distro signatures with updated kernel options, autoinstall template, etc...
  config/cobbler/distro_signatures.json
Labels: none

Update changelog noting support for latest XCP-ng releases
  changelog.d/3980.fixed
Labels: none

Add support for compatible network boot configs for latest XPC-ng 7.x and 8.x distros
  cobbler/actions/mkloaders.py
  cobbler/tftpgen.py
  system-tests/tests/basic-mkloaders
  templates/boot_loader_conf/grub.template
  templates/boot_loader_conf/pxe.template
Labels: Tests

Basic support for Python3.13 (default on OpenSUSE Leap 16)
  cobbler/actions/reposync.py
Labels: none

Add openSUSE Leap 16 to distro_signatures and accompanying templates, snippets, scripts, and small edits to support interacetive or automatic PXE boot+install of Leap 16+ with new Agama installer
  autoinstall_scripts/agama_early_default
  autoinstall_scripts/agama_init_default
  autoinstall_scripts/agama_late_default
  autoinstall_snippets/agama_hostname
  autoinstall_snippets/agama_networking
  autoinstall_snippets/first_boot
  autoinstall_templates/sample_agama.json
  cobbler/tftpgen.py
  config/cobbler/distro_signatures.json
Labels: none

add changelog.d entry
  changelog.d/3419.fixed
  changelog.d/3826.fixed
Labels: none

Docker: Create parent dirs of Webdir
  docker/develop/scripts/setup-supervisor.sh
Labels: none

Fix up keep_files snippet and its test
  cobbler/data/templates/cheetah/autoinstall/snippets/keep_files.template
  tests/special_cases/built_in_snippets_test.py
Labels: Tests

Tests: Fixup s390 kernel test after 5577804
  tests/tftpgen_test.py
Labels: Tests

Tests: Fixup basic inheritance test after 5577804
  tests/integration/basic_test.py
Labels: Tests

Docker: Remove unnecessary MongoDB supervisord config
  docker/develop/supervisord/conf.d/mongodb.conf
Labels: none

Docker: Fix apache2 not starting due to missing directories
  docker/develop/scripts/setup-supervisor.sh
Labels: none

Docker: Fix openSUSE Tumbleweed build
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

Fix Debian Trixy Import
  cobbler/data/config/cobbler/distro_signatures.json
Labels: none

Fix black formatting error
  cobbler/utils/__init__.py
Labels: none

CI: Update pyright to v3
  .github/workflows/lint.yml
Labels: CI

Python Typing fixes
  .github/workflows/lint.yml
  cobbler/cobblerd/setup.py
  cobbler/modules/managers/bind.py
  cobbler/modules/sync_post_wingen.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  setup.py
  tests/modules/managers/bind_test.py
  tests/modules/managers/import_signatures_test.py
Labels: Tests, CI

Fix type issue in sync_post_wingen.py
  cobbler/modules/sync_post_wingen.py
Labels: none

Docs: Add summary file for ai-agents
  AGENTS.md
  CLAUDE.md
Labels: none

Docs: Clarify installation on EL derivatives
  changelog.d/3719.fixed
  docs/installation-guide.rst
Labels: Documentation

Allow trailing dots on name_servers_search
  changelog.d/2290.fixed
  cobbler/validate.py
  tests/validate_test.py
Labels: Tests

Move more network configuration into pre_install_network_config; Handle basic bridges
  changelog.d/3941.changed
  cobbler/data/templates/cheetah/autoinstall/snippets/network_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none

pre_install_network_config: Handle bonds, more cleanup
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none

pre_install_network_config: Fix typo, handle bonded_bridge_slave better
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none

Tests: Add extensive Kickstart networking cases
  tests/integration/network_config_kickstart_test.py
  tests/special_cases/built_in_snippets_kickstarts_network_config_test.py
  tests/special_cases/built_in_snippets_test.py
  tests/special_cases/built_in_templates_kickstart_test.py
Labels: Tests

Templates: Fix issue with missing default network interface for network_disable_interfaces.template
  cobbler/data/templates/cheetah/autoinstall/snippets/network_disable_interfaces.template
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
