Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

[profile] Set '_next_server_v4/v6' to '<<inherit>>' by default
  cobbler/items/profile.py
Labels: none

removed api from download manager and from services.py
  cobbler/actions/reposync.py
  cobbler/api.py
  cobbler/download_manager.py
  cobbler/services.py
  svc/services.py
Labels: none

Fix false positive on autodetect endpoint test, since the endpoint is currently not working
  system-tests/tests/svc-autodetect
Labels: Tests

skipped ldap-negative test because of segfault in openldap
  tests/modules/authentication/ldap_test.py
Labels: Tests

Reverted permissions
  cobbler.spec
Labels: none

Added tests for http endpoints and removed debug methods from cobbler/services.py
  cobbler/download_manager.py
  cobbler/services.py
  system-tests/tests/svc-autodetect
  system-tests/tests/svc-autoinstall
  system-tests/tests/svc-bootcfg
  system-tests/tests/svc-events
  system-tests/tests/svc-find_autoinstall
  system-tests/tests/svc-findks
  system-tests/tests/svc-ipxe-image
  system-tests/tests/svc-ipxe-profile
  system-tests/tests/svc-ipxe-system
  system-tests/tests/svc-ks
  system-tests/tests/svc-list
  system-tests/tests/svc-nopxe
  system-tests/tests/svc-puppet
  system-tests/tests/svc-script
  system-tests/tests/svc-settings
  system-tests/tests/svc-template
  system-tests/tests/svc-trig
  system-tests/tests/svc-yum
Labels: Tests

Tests: Split Migration and Normalization tests
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: Tests

Added documentation for the HTTP API
  docs/cobbler-conf.rst
  docs/user-guide.rst
  docs/user-guide/http-api.rst
Labels: Documentation

remove leading / from joinpath function call
  cobbler/yumgen.py
Labels: none

Move modules to SPDX identifiers
  cobbler/modules/authentication/configfile.py
  cobbler/modules/authentication/denyall.py
  cobbler/modules/authentication/ldap.py
  cobbler/modules/authentication/pam.py
  cobbler/modules/authentication/passthru.py
  cobbler/modules/authentication/spacewalk.py
  cobbler/modules/authorization/allowall.py
  cobbler/modules/authorization/configfile.py
  cobbler/modules/authorization/ownership.py
Labels: none

fix console=ttyS-1,-1 check in build_kernel_options
  cobbler/tftpgen.py
Labels: none

black formatter on tftpgen.py
  cobbler/tftpgen.py
Labels: none

Distro: Make initrd optional
  cobbler/items/distro.py
Labels: none

Fixed migration logic
  cobbler/settings/migrations/V3_0_0.py
  cobbler/settings/migrations/V3_0_1.py
  cobbler/settings/migrations/V3_1_0.py
  cobbler/settings/migrations/V3_1_1.py
  cobbler/settings/migrations/V3_1_2.py
  cobbler/settings/migrations/V3_2_0.py
  cobbler/settings/migrations/V3_2_1.py
  cobbler/settings/migrations/V3_3_0.py
  cobbler/settings/migrations/V3_3_1.py
  cobbler/settings/migrations/V3_3_2.py
  cobbler/settings/migrations/V3_4_0.py
Labels: none

make tftpgen.py use enum.Archs instead of str for architectures
  cobbler/tftpgen.py
Labels: none

Remove unnecessary check_if_valid calls
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
Labels: none

Docs: Add specification for Cobbler modules
  cobbler/modules/__init__.py
  cobbler/modules/authentication/__init__.py
  cobbler/modules/authorization/__init__.py
Labels: none

System-Tests: Adjust bootstrap script to defaults
  system-tests/scripts/bootstrap
Labels: Tests

API: Move signatures loading to own function
  cobbler/api.py
Labels: none

Obsolete settings.d
  cobbler.spec
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/settings/migrations/helper.py
  config/cobbler/settings.d/bind_manage_ipmi.settings
  config/cobbler/settings.d/manage_genders.settings
  config/cobbler/settings.d/nsupdate.settings
  config/cobbler/settings.d/windows.settings
  config/cobbler/settings.yaml
  setup.py
  system-tests/scripts/bootstrap
Labels: Tests

Tests: Prepare for convention over configuration
  tests/items/item_test.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/settings/settings_test.py
  tests/utils_test.py
Labels: Tests

Authz: Change to specification
  cobbler/modules/authorization/allowall.py
  cobbler/modules/authorization/ownership.py
Labels: none

API: Adjust according to authz and auth spec
  cobbler/api.py
  cobbler/remote.py
Labels: none

Docs: Correct old information
  docs/cobbler-conf.rst
Labels: Documentation

Tests: Fix input_string_or_dict
  tests/utils_test.py
Labels: Tests

Tests: Enable partial validate_settings tests
  tests/settings/settings_test.py
Labels: Tests

System-Tests: Remove checks for optional settings
  system-tests/tests/basic-mkloaders
Labels: Tests

Fix input_string_or_dict
  cobbler/utils.py
Labels: none

CI: Update system-test instructions
  .github/workflows/system_testing.yml
Labels: CI

Settings: Use defaults from the schema
  cobbler/settings/__init__.py
Labels: none

Tests: Add test data for 3.4.0
  tests/test_data/V3_4_0/settings.yaml
Labels: Tests

Tests: Adjust to missing Tuple return
  tests/utils_test.py
Labels: Tests

Readd specific exceptions
  cobbler/items/item.py
  cobbler/items/mgmtclass.py
  cobbler/items/repo.py
Labels: none

tftpgen: Use dict.update instead of for loop
  cobbler/tftpgen.py
Labels: none

Convert unnecessary Tuple to pure dict return
  cobbler/items/item.py
  cobbler/items/mgmtclass.py
  cobbler/items/repo.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  cobbler/tftpgen.py
  cobbler/utils.py
Labels: none

Items: Move module docstring to spdx header
  cobbler/items/system.py
Labels: none

Items: Improve information in case of a conflict
  cobbler/items/system.py
Labels: none

Tests: Extend NetworkInterface Tests
  tests/items/network_interface_test.py
  tests/items/system_test.py
Labels: Tests

Tests: Add for untested validate functions
  tests/validate_test.py
Labels: Tests

Items: Disallow inherit where it doesn't make sense
  cobbler/items/system.py
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
