Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Fixup previous commit
  cobbler/modules/managers/import_signatures.py
Labels: none

utils: Thread - Fix that thread logs don't end after it completed
  cobbler/utils/thread.py
Labels: none

Rework serial console kernel command line parameter adding kernel serial driver
  cobbler/cli.py
  cobbler/enums.py
  cobbler/items/system.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/validate.py
  config/cobbler/settings.yaml
Labels: none

Consider case of next_server being a hostname during migration
  cobbler/settings/migrations/V3_3_0.py
Labels: none

Migrate "proxy_url_ext" properly when it was set as None
  cobbler/settings/migrations/V3_2_1.py
  tests/test_data/V3_2_0/settings.yaml
Labels: Tests

fix: Use correct interface attributes
  cobbler/modules/managers/isc.py
  cobbler/tftpgen.py
Labels: none

fix: Lower key names when converting NI to dict
  cobbler/items/system.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

Add Gunicorn to config and install requires
  cobbler.spec
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/develop/supervisord/conf.d/gunicorn.conf
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

Apache: Remove module loading as this is bad practice
  config/apache/cobbler.conf
  docker/develop/scripts/setup-supervisor.sh
Labels: none

SVC: Move WSGI script to the application
  cobbler.spec
  cobbler/services.py
  setup.py
  svc/services.py
Labels: none

Docker: Cleanup Debian to fix Apache2 startup
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_10/supervisord/conf.d/apache2.conf
  docker/debs/Debian_10/supervisord/conf.d/server-override.conf
  docker/debs/Debian_10/supervisord/supervisord.conf
  docker/debs/Debian_11/Debian11.dockerfile
  docker/debs/Debian_11/supervisord/conf.d/apache2.conf
  docker/debs/Debian_11/supervisord/conf.d/cobblerd.conf
  docker/debs/Debian_11/supervisord/conf.d/dhcpd.conf
  docker/debs/Debian_11/supervisord/conf.d/slapd.conf
  docker/debs/Debian_11/supervisord/conf.d/tftpd.conf
  docker/debs/Debian_11/supervisord/supervisord.conf
  docker/debs/build-and-install-debs.sh
Labels: none

Drop apache2-mod_wsgi dependency
  .github/workflows/release.yml
  .github/workflows/release_master.yml
  cobbler.spec
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/debs/build-and-install-debs.sh
  docker/debs/install-debs.sh
  docker/develop/develop.dockerfile
  docker/develop/scripts/setup-supervisor.sh
  docker/rpms/Fedora_34/Fedora34.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/build-and-install-rpms.sh
  docker/rpms/install-rpms.sh
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
  setup.py
Labels: CI

Apache: Refactor for Gunicorn and to pure vhost
  config/apache/cobbler.conf
Labels: none

Create webroot directory before Cobbler starts
  Makefile
  docker/debs/build-and-install-debs.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/rpms/build-and-install-rpms.sh
Labels: none

Docs: Switch from mod_wsgi to Gunicorn
  docs/installation-guide.rst
Labels: Documentation

Docker: Install isc-dhcpd server
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_10/supervisord/conf.d/dhcpd.conf
  docker/debs/Debian_11/Debian11.dockerfile
  docker/debs/Debian_11/supervisord/conf.d/dhcpd.conf
  docker/debs/build-and-install-debs.sh
Labels: none

SVC: Switch implementation to Gunicorn
  .github/workflows/release.yml
  .github/workflows/release_master.yml
  cobbler/services.py
Labels: CI

Makefile: Remove not working mkdir
  Makefile
Labels: none

Config: Add Nginx config
  cobbler.spec
  config/nginx/cobbler.conf
  setup.py
Labels: none

Docker: Remove redundant zypper call
  docker/develop/scripts/setup-reposync.sh
Labels: none

Docs: Overhaul installation documentation
  docs/cobbler.rst
  docs/installation-guide.rst
Labels: Documentation

Docs: Remove warning about missing lexer for code-block
  docs/user-guide/esxi.rst
  docs/user-guide/http-api.rst
  docs/user-guide/tftp.rst
Labels: Documentation

Docker: Add Nginx supervisor develop config
  docker/develop/supervisord/conf.d/nginx.conf
Labels: none

Docker: Update develop image to 15.4, add nginx
  docker/develop/develop.dockerfile
Labels: none

SVC: Remove URI canonicalization
  cobbler/services.py
Labels: none

Docker: Use dedicated logfiles for services
  docker/debs/Debian_10/supervisord/conf.d/apache2.conf
  docker/debs/Debian_10/supervisord/conf.d/cobblerd.conf
  docker/debs/Debian_10/supervisord/conf.d/dhcpd.conf
  docker/debs/Debian_10/supervisord/conf.d/slapd.conf
  docker/debs/Debian_10/supervisord/conf.d/tftpd.conf
  docker/develop/supervisord/conf.d/cobblerd.conf
  docker/develop/supervisord/conf.d/dhcpd.conf
  docker/develop/supervisord/conf.d/gunicorn.conf
  docker/develop/supervisord/conf.d/httpd.conf
  docker/develop/supervisord/conf.d/mongodb.conf
  docker/develop/supervisord/conf.d/slapd.conf
  docker/develop/supervisord/conf.d/tftpd.conf
  docker/rpms/Fedora_34/supervisord/conf.d/cobblerd.conf
  docker/rpms/Fedora_34/supervisord/conf.d/dhcpd.conf
  docker/rpms/Fedora_34/supervisord/conf.d/httpd.conf
  docker/rpms/Fedora_34/supervisord/conf.d/slapd.conf
  docker/rpms/Fedora_34/supervisord/conf.d/tftpd.conf
  docker/rpms/opensuse_leap/supervisord/conf.d/cobblerd.conf
  docker/rpms/opensuse_leap/supervisord/conf.d/dhcpd.conf
  docker/rpms/opensuse_leap/supervisord/conf.d/httpd.conf
  docker/rpms/opensuse_leap/supervisord/conf.d/slapd.conf
  docker/rpms/opensuse_leap/supervisord/conf.d/tftpd.conf
  docker/rpms/opensuse_tumbleweed/supervisord/conf.d/cobblerd.conf
  docker/rpms/opensuse_tumbleweed/supervisord/conf.d/dhcpd.conf
  docker/rpms/opensuse_tumbleweed/supervisord/conf.d/httpd.conf
  docker/rpms/opensuse_tumbleweed/supervisord/conf.d/slapd.conf
  docker/rpms/opensuse_tumbleweed/supervisord/conf.d/tftpd.conf
Labels: none

Docker: Change debbuild for native debian requirements
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
Labels: none

Misc: Make anamon script executable
  misc/anamon
Labels: none

Change build-instructions for "make debs" to native process
  Makefile
Labels: none

Packaging: Re-add debian directory
  debian/changelog
  debian/cobbler.docs
  debian/cobbler.install
  debian/cobbler.manpages
  debian/cobbler.postinst
  debian/compat
  debian/control
  debian/copyright
  debian/rules
  debian/source/format
Labels: none

Make: Copy deb related files to deb-build
  Makefile
Labels: none

Docker: Install debs directly from deb-build
  docker/debs/build-and-install-debs.sh
Labels: none

Debian: Disable Python bytecode generation
  distro_build_configs.sh
Labels: none

Docker: Fuse build and install scripts
  docker/debs/build-and-install-debs.sh
  docker/debs/install-debs.sh
  docker/rpms/build-and-install-rpms.sh
  docker/rpms/install-rpms.sh
Labels: none

Docker: Sleep shorter
  docker/debs/build-and-install-debs.sh
Labels: none

Docker: Add gunicorn were missing
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/rpms/Fedora_34/Fedora34.dockerfile
Labels: none

setup.py: Add gunicorn
  setup.py
Labels: none

Debian: Remove libapache2-mod-wsgi-py3
  debian/control
Labels: none

Debian: Switch to pybuild to generate pyc files in postinst
  debian/cobbler.install
  debian/cobbler.manpages
  debian/cobbler.postinst
  debian/control
  debian/rules
Labels: none

RPM: Remove debbuild support
  cobbler.spec
Labels: none
