Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Prevent "Dict changed size during iteration" errors with dedicated Network Interface item type
  cobbler/actions/buildiso/append_line.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/isc.py
  cobbler/modules/nsupdate_add_system_post.py
  cobbler/modules/nsupdate_delete_system_pre.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
Labels: none

Add Distros to distro_signatures.json
  changelog.d/3950.fixed
  cobbler/data/config/cobbler/distro_signatures.json
  system-tests/listings/redhat/fedora39/Fedora-Server-dvd-x86_64-39-1.5.iso/index
  system-tests/listings/redhat/fedora40/Fedora-Server-dvd-x86_64-40-1.14.iso/index
  system-tests/listings/redhat/fedora41/Fedora-Server-dvd-x86_64-41-1.4.iso/index
  system-tests/listings/redhat/fedora42/Fedora-Server-dvd-x86_64-42-1.1.iso/index
  system-tests/listings/redhat/fedora43/Fedora-Server-dvd-x86_64-43-1.6.iso/index
  system-tests/listings/redhat/fedora44/Fedora-Server-dvd-x86_64-44-1.7.iso/index
  system-tests/listings/suse/leapmicro6.0/openSUSE-Leap-Micro-6.0-x86_64.iso/index
  system-tests/listings/suse/leapmicro6.1/openSUSE-Leap-Micro-6.1-x86_64.iso/index
  system-tests/listings/suse/leapmicro6.2/openSUSE-Leap-Micro.x86_64-Default-SelfInstall.iso/index
  system-tests/listings/suse/sles15sp6/SLE-15-SP6-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles15sp7/SLE-15-SP7-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles16.0/SLES-16.0-Full-x86_64-GM.install.iso/index
  system-tests/listings/suse/sles16.1/SLES-16.1-Full-x86_64-009-Beta3.install.iso/index
  system-tests/listings/suse/slmicro6.0/SL-Micro.x86_64-6.0-Default-SelfInstall-GM.install.iso/index
  system-tests/listings/suse/slmicro6.1/SL-Micro.x86_64-6.1-Default-SelfInstall-GM.install.iso/index
  system-tests/listings/suse/slmicro6.2/SL-Micro.x86_64-6.2-Default-SelfInstall-GM.install.iso/index
  system-tests/listings/ubuntu/oracular/ubuntu-24.10-live-server-amd64.iso/index
  system-tests/listings/ubuntu/plucky/ubuntu-25.04-live-server-amd64.iso/index
  system-tests/listings/ubuntu/questing/ubuntu-25.10-live-server-amd64.iso/index
  tests/integration/import_test.py
Labels: Tests

feat(xmlrpc): add with_triggers, with_sync to save_item() and save_* wrappers
  changelog.d/3996.added
  cobbler/remote.py
Labels: none

test(xmlrpc): update save_* callers to use keyword token= after signature change
  contrib/api-examples/bootstrap.py
  docs/user-guide/templating.rst
  tests/integration/autoinstall_dummy_bios_test.py
  tests/integration/basic_test.py
  tests/integration/buildiso_test.py
  tests/integration/conftest.py
  tests/integration/network_config_kickstart_test.py
  tests/integration/svc_test.py
  tests/special_cases/security_test.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/distro_group_test.py
  tests/xmlrpcapi/image_test.py
  tests/xmlrpcapi/menu_test.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/non_object_calls_test.py
  tests/xmlrpcapi/profile_group_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/repo_test.py
  tests/xmlrpcapi/system_group_test.py
  tests/xmlrpcapi/system_test.py
  tests/xmlrpcapi/transaction_test.py
Labels: Documentation, Tests

test(performance): add NetworkInterface to performance benchmarks
  tests/performance/__init__.py
  tests/performance/item_add_test.py
  tests/performance/item_copy_test.py
  tests/performance/item_edit_test.py
  tests/performance/item_remove_test.py
  tests/performance/item_rename_test.py
Labels: Tests

test(performance): add DistroGroup to performance benchmarks
  tests/performance/__init__.py
  tests/performance/item_add_test.py
  tests/performance/item_copy_test.py
  tests/performance/item_edit_test.py
  tests/performance/item_remove_test.py
  tests/performance/item_rename_test.py
Labels: Tests

test(performance): add ProfileGroup to performance benchmarks
  tests/performance/__init__.py
  tests/performance/item_add_test.py
  tests/performance/item_copy_test.py
  tests/performance/item_edit_test.py
  tests/performance/item_remove_test.py
  tests/performance/item_rename_test.py
Labels: Tests

test(performance): add SystemGroup to performance benchmarks
  tests/performance/__init__.py
  tests/performance/item_add_test.py
  tests/performance/item_copy_test.py
  tests/performance/item_edit_test.py
  tests/performance/item_remove_test.py
  tests/performance/item_rename_test.py
Labels: Tests

Rename 3.4.0 to 4.0.0
  SECURITY.md
  cobbler.spec
  cobbler/api.py
  cobbler/items/abstract/bootable_item.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/abstract/item_group.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/menu.py
  cobbler/items/network_interface.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/items/template.py
  cobbler/remote.py
  cobbler/services.py
  cobbler/settings/migrations/V4_0_0.py
  debian/changelog
  debian/control
  docs/cobbler-conf.rst
  docs/cobbler-conf/migration.rst
  docs/code-autodoc/cobbler.settings.migrations.rst
  docs/conf.py
  setup.py
  tests/integration/settings_cli_test.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V4_0_0/settings.yaml
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

ci: SHA-pin all GitHub Actions and add Dependabot
  .github/dependabot.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage-upload.yml
  .github/workflows/increase-version.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/performance_testing.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
Labels: CI

ci: upgrade all GH Actions to latest stable and standardize step format
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage-upload.yml
  .github/workflows/increase-version.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/performance_testing.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
Labels: CI

ci: Group codeql-action dep updates
  .github/dependabot.yml
Labels: CI

ci: Skip performance testsuite for dependabot
  .github/workflows/performance_testing.yml
Labels: CI
