Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

fix static code analysis annotations
  cobbler/tftpgen.py
Labels: none

Enhance utils.remove_lines_in_file to work with shared volumes
  changelog.d/3920.fixed
  cobbler/utils/__init__.py
Labels: none

Add unit test for utils.remove_lines_in_file
  tests/utils/utils_test.py
Labels: Tests

Fix format and lint issues
  cobbler/utils/__init__.py
  tests/utils/utils_test.py
Labels: Tests

Extend keep_files snippet to preserve puppet keys
  autoinstall_snippets/keep_files
  changelog.d/3918.changed
Labels: none

Remove Debian 10 DEB build
  .github/workflows/packaging.yml
  Makefile
  changelog.d/3923.fixed
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/supervisord/conf.d/apache2.conf
  docker/debs/Debian_11/supervisord/conf.d/cobblerd.conf
  docker/debs/Debian_11/supervisord/conf.d/dhcpd.conf
  docker/debs/Debian_11/supervisord/conf.d/server-override.conf
  docker/debs/Debian_11/supervisord/conf.d/slapd.conf
  docker/debs/Debian_11/supervisord/conf.d/tftpd.conf
  docs/installation-guide.rst
Labels: Documentation, CI

Docs: Correct Rocky Linux 8 instructions
  docs/installation-guide.rst
Labels: Documentation

Docker: Update openSUSE Leap to 15.6
  .github/workflows/packaging.yml
  docker-compose.yml
  docker/rpms/opensuse_leap/openSUSE_Leap15.dockerfile
  docs/installation-guide.rst
Labels: Documentation, CI

Docker: Switch Debian images to new supervisord configs
  docker/debs/Debian_11/Debian11.dockerfile
  docker/debs/Debian_12/Debian12.dockerfile
Labels: none

Tests: Define performance testing rounds with env variable
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3911.added
  tests/performance/__init__.py
Labels: Tests, CI

Tests: Add updated benchmark results
  .benchmarks/Linux-CPython-3.11-64bit/0002_e431f73ba97f80c7f18bb44f7400905eb795283d_20250523_081136_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

Test: Mitigate removed power type docker
  tests/items/system_test.py
Labels: Tests

CI: Remove matrix job for performance testsuite
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Improve round and iteration numbers
  .github/workflows/performance_testing_automated.yml
  tests/performance/item_edit_test.py
  tests/performance/start_test.py
Labels: Tests, CI

CI: Widen the usage of the iteration parameter
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_edit_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests, CI

Tests: Force garbage collect for get_autoinstall
  tests/performance/get_autoinstall_test.py
Labels: Tests

CI: Update number of iterations
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Increase timeout for testrun
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Decrease number of iterations for get_autoinstall
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Disable Docker iptables raw
  .github/workflows/performance_testing_automated.yml
  docker/develop/scripts/disable-docker-iptables-raw.sh
Labels: CI

CLI: Remove bundled CLI
  bin/cobbler
  cobbler.spec
  cobbler/cli.py
  docker/debs/build-and-install-debs.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/rpms/build-and-install-rpms.sh
  docs/cobbler.rst
  docs/code-autodoc/cobbler.rst
  docs/index.rst
  setup.py
  tests/cli/__init__.py
  tests/cli/cli_unit_test.py
  tests/cli/cobbler_cli_direct_test.py
  tests/cli/cobbler_cli_object_test.py
  tests/cli/conftest.py
Labels: Documentation, Tests

XML-RPC: Remove xapi_edit
  cobbler/remote.py
  tests/xmlrpcapi/xapi_test.py
Labels: Tests

Docs: Remove CLI manpages
  docs/conf.py
Labels: Documentation

added support for additional repos and improved conformity with existing templates
  autoinstall_scripts/cloud_config_early_default
  autoinstall_scripts/cloud_config_late_default
  autoinstall_snippets/cloud_config_apt
  autoinstall_templates/cloud_config_autoinstall
Labels: none

Docker: Add dependencies for building
  docker/debs/Debian_11/Debian11.dockerfile
  docker/debs/Debian_12/Debian12.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/Rocky_Linux_9/Rocky_Linux_9.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap15.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

Switch to Rockylinux 10
  .github/workflows/packaging.yml
  Makefile
  docker/rpms/Rocky_Linux_10/Rocky_Linux_10.dockerfile
  docs/installation-guide.rst
Labels: Documentation, CI

Docker: Switch to default Python on openSUSE Tumbleweed
  docker/develop/develop.dockerfile
Labels: none

Tests: Use legacycrypt for Python > 3.12
  docker/develop/develop.dockerfile
  setup.py
  tests/special_cases/security_test.py
Labels: Tests

Test: Mitigate removed power type docker
  tests/items/system_test.py
Labels: Tests

Add generated AUTHORS file to gitignore
  .gitignore
Labels: none

setup.py: Remove runtime templated DNS configs
  setup.py
Labels: none

setup.py: Remove superfluous custom commands
  Makefile
  setup.py
Labels: none

Convert cobblerd to an setuptools entrypoint script
  bin/cobblerd
  cobbler/cobblerd.py
  setup.py
Labels: none

Convert cobbler to an setuptools entrypoint script
  bin/cobbler
  setup.py
Labels: none

Tests: Fix asserts in sync_test
  tests/api/sync_test.py
Labels: Tests

Tests: Disable MongoDB tests
  tests/modules/serializer/mongodb_test.py
Labels: Tests

accompanying docs for Ubuntu cloud-init autoinstall (and small template file fix)
  autoinstall_templates/cloud_config_autoinstall
  docs/user-guide.rst
  docs/user-guide/ubuntu-autoinstall.rst
Labels: Documentation

Reduce logging severity to WARNING
  config/cobbler/logging_config.conf
Labels: none

Tests: Fix asserts in sync_test
  tests/api/sync_test.py
Labels: Tests

Tests: Disable MongoDB tests
  .github/workflows/testing.yml
  tests/modules/serializer/mongodb_test.py
Labels: Tests, CI
