Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

utils: Add thread module
  cobbler/enums.py
  cobbler/remote.py
  cobbler/utils/thread.py
Labels: none

XML-RPC: Make get_task_status leaner
  cobbler/remote.py
Labels: none

utils: Add event module
  cobbler/remote.py
  cobbler/utils/__init__.py
  cobbler/utils/event.py
  cobbler/utils/thread.py
Labels: none

Actions: Status - Fix bug for gzipped logfiles
  cobbler/actions/status.py
Labels: none

Tests: Status Action - Initial add
  tests/actions/status_test.py
Labels: Tests

Actions: Status - Add InstallStatus object
  cobbler/actions/status.py
Labels: none

Tests: Action Status - Implement tests
  tests/actions/status_test.py
Labels: Tests

Execute migration of stored collections as part of 3.3.0 migration
  cobbler/settings/migrations/V3_3_0.py
Labels: none

cobbler-settings: exclude custom extra settings from validation
  bin/cobbler-settings
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_1_2.py
  cobbler/settings/migrations/V3_2_0.py
  cobbler/settings/migrations/V3_2_1.py
  cobbler/settings/migrations/V3_3_0.py
  cobbler/settings/migrations/V3_3_1.py
  cobbler/settings/migrations/V3_3_3.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/settings/migrations/__init__.py
Labels: none

Fix problem on 3.2.1 migration because manage_tftp is not removed
  cobbler/settings/migrations/V3_2_1.py
Labels: none

Adjust tests settings expectations for new extra_settings_list
  system-tests/tests/svc-settings
  tests/items/item_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V2_8_5/settings.yaml
  tests/test_data/V3_0_0/settings.yaml
  tests/test_data/V3_0_1/settings.yaml
  tests/test_data/V3_1_0/settings.yaml
  tests/test_data/V3_1_1/settings.yaml
  tests/test_data/V3_1_2/settings.yaml
  tests/test_data/V3_2_0/settings.yaml
  tests/test_data/V3_2_1/settings.yaml
  tests/test_data/V3_3_0/settings.yaml
  tests/test_data/V3_3_1/settings.yaml
  tests/test_data/V3_3_2/settings.yaml
  tests/test_data/V3_3_3/settings.yaml
  tests/test_data/V3_4_0/settings.yaml
Labels: Tests

Add unit tests around validation of extra settings
  tests/settings/migrations/migrations_test.py
  tests/settings/settings_test.py
  tests/test_data/V3_2_0/settings.yaml
  tests/test_data/V3_2_1/settings.yaml
Labels: Tests

Enhance type annotations for optional ignore_keys param
  cobbler/settings/__init__.py
  cobbler/settings/migrations/__init__.py
Labels: none

Actions: Check - Remove shell=True
  cobbler/actions/check.py
Labels: none

utils: Remove run_this as it is only used once
  cobbler/api.py
  cobbler/utils/__init__.py
  tests/utils/__init__.py
Labels: Tests

Actions: ACL - Remove shell=True
  cobbler/actions/acl.py
  tests/actions/acl_test.py
Labels: Tests

Actions: Replicate - Refactor to shell=False
  cobbler/actions/replicate.py
  tests/actions/replicate_test.py
  tests/actions/reposync_test.py
Labels: Tests

Actions: Hardlink - Remove shell=True
  cobbler/actions/hardlink.py
  tests/actions/hardlink_test.py
Labels: Tests

Use format strings for windows command construction
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
Labels: none

Actions: Acl - Fixup codacy warnings
  cobbler/actions/acl.py
Labels: none

Actions: Reposync - Refactor to shell=False
  cobbler/actions/reposync.py
Labels: none

utils: Refactor rsync_files to shell=False
  cobbler/utils/__init__.py
Labels: none

API: Refactor to shell=False
  cobbler/api.py
Labels: none

CI: Upgrade MongoDB to V6
  docker/develop/scripts/setup-mongodb.sh
Labels: none

Actions: Buildiso - Refactor to shell=False
  cobbler/actions/buildiso/__init__.py
Labels: none

Actions: Check - Refactor to shell=False
  cobbler/actions/check.py
Labels: none

utils: Switch default of subprocess_call to shell=False
  cobbler/utils/__init__.py
Labels: none

utils: Better variable naming for print_exec
  cobbler/utils/__init__.py
Labels: none

API: Move "cobbler import" code to actions module
  cobbler/actions/importer.py
  cobbler/api.py
Labels: none

Tests: Actions - Fixup hardlink webdir mock
  tests/actions/hardlink_test.py
Labels: Tests

Buildiso: De-Quote argument as this is not required
  cobbler/actions/buildiso/__init__.py
Labels: none

API: Improve "cobbler import logic"
  cobbler/api.py
Labels: none

Tests: Actions - reposync shell=False refactor
  tests/actions/reposync_test.py
Labels: Tests

Modules: Refactor Windows to shell=False
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
Labels: none

Docs: Fix sublists in wingen
  docs/user-guide/wingen.rst
Labels: Documentation

Docs: Reformat lists from dash to asterisk
  docs/user-guide/wingen.rst
Labels: Documentation

Docs: Pin rtd theme to get current version
  docs/requirements.rtd.txt
Labels: Documentation

Update cobbler/modules/sync_post_wingen.py
  cobbler/modules/sync_post_wingen.py
Labels: none

Update cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/import_signatures.py
Labels: none

Update cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/import_signatures.py
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
