Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Compatibility fixes for tftpboot directory setup
  changelog.d/3973.added
  cobbler/actions/mkloaders.py
  cobbler/data/config/grub/grub.cfg
  cobbler/utils/filesystem_helpers.py
  tests/actions/mkloaders_test.py
  tests/utils/filesystem_helpers_test.py
Labels: Tests

spec: enable mod_wsgi on installation
  cobbler.spec
Labels: none

Update signatures files to support debian stable version trixie
  cobbler/data/config/cobbler/distro_signatures.json
Labels: none

syncing with latest distro_signatures.json from main branch, excluding the changes from commit #449782a
  config/cobbler/distro_signatures.json
Labels: none

Accompanying docs for Ubuntu cloud-config autoinstall.
  docs/user-guide.rst
  docs/user-guide/ubuntu-autoinstall.rst
Labels: Documentation

add changelog.d entry
  changelog.d/2339.fixed
Labels: none

Add necessary files for generating latest XCP-ng autoinstall answerfile.xml
  autoinstall_scripts/xcp_post_install
  autoinstall_scripts/xcp_pre_install
  autoinstall_snippets/network_config_xcp
  autoinstall_templates/answerfile.xml
Labels: none

Add latest XCP-ng 7.x & 8.x distro signatures with updated kernel options, autoinstall template, etc...
  config/cobbler/distro_signatures.json
Labels: none

Add support for compatible network boot configs for latest XPC-ng 7.x and 8.x distros
  cobbler/actions/mkloaders.py
  cobbler/tftpgen.py
  system-tests/tests/basic-mkloaders
  templates/boot_loader_conf/grub.template
  templates/boot_loader_conf/pxe.template
Labels: Tests

Update changelog noting support for latest XCP-ng releases
  changelog.d/3980.fixed
Labels: none

Cloud-Init: Add NTP snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ntp.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add disk and mount snippets
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-disk-setup.jinja
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-mounts.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add write_files snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-write-files.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Extend Ansible Snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ansible.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add network v2 Jinja Snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-network-v2.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add network v1 snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-network-v1.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add snippet for power-state-change
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-power-state-change.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add timezone snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-timezone.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add snippet for update-hostname
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-update-hostname.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add users-groups snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-user-and-groups.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add apk_repos snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-apk-repos.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add apt snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-apt.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add byobu snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-byobu.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add chef snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-chef.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add growpart snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-growpart.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add keys_to_console snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-keys-to-console.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add landscape snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-landscape.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add lxd snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-lxd.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add mcollective snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-mcollective.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add packages snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-packages.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add puppet snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-puppet.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add redhat_subscription snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-redhat-subscription.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add resolveconf snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-resolveconf.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add rpi snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-rpi.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add rsyslog snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-rsyslog.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add snap snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-snap.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add spacewalk snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-spacewalk.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add ssh_auth_fingerprint snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ssh-authkey-fingerprints.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add ssh_import_id snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ssh-import-id.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add ssh snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ssh.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
