Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Fix package requirement for RHEL 9 based distros.
  changelog.d/3836.fixed
  cobbler.spec
Labels: none

Add RHEL/Rocky 9 target and update workflows.
  .github/workflows/packaging.yml
  Makefile
  docker-compose.yml
  docker/rpms/Rocky_Linux_9/Rocky_Linux_9.dockerfile
  system-tests/listings/redhat/rhel9/Rocky-9.4-x86_64-dvd1.iso/index
  system-tests/tests/import-redhat-rhel9
Labels: Tests, CI

Fix package requirement for RHEL 9 based distros.
  changelog.d/3655.fixed
  cobbler.spec
Labels: none

Add RHEL/Rocky 9 target and update workflows.
  .github/workflows/packaging.yml
  Makefile
  docker-compose.yml
  docker/rpms/Rocky_Linux_9/Rocky_Linux_9.dockerfile
  system-tests/listings/redhat/rhel9/Rocky-9.4-x86_64-dvd1.iso/index
Labels: Tests, CI

Docker: Update to openSUSE Leap 15.6
  changelog.d/3838.fixed
  docker-compose.yml
  docker/develop/develop.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap15.dockerfile
Labels: none

Partly backport e86451e
  tests/utils_test.py
Labels: Tests

Increase application version to 3.3.7
  cobbler.spec
  cobbler/settings/migrations/V3_3_2.py
  cobbler/settings/migrations/V3_3_3.py
  cobbler/settings/migrations/V3_3_5.py
  cobbler/settings/migrations/V3_3_6.py
  cobbler/settings/migrations/V3_3_7.py
  docs/cobbler-conf.rst
  docs/conf.py
  setup.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_3_7/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_7/settings.d/manage_genders.settings
  tests/test_data/V3_3_7/settings.d/nsupdate.settings
  tests/test_data/V3_3_7/settings.d/windows.settings
  tests/test_data/V3_3_7/settings.yaml
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

Docs: Add hint about the new Cobbler Web Interface
  docs/user-guide.rst
Labels: Documentation

Docs: Add hint about the new Cobbler CLI
  docs/cobbler.rst
Labels: Documentation

Fix Windows system
  changelog.d/3840.fixed
  cobbler/modules/sync_post_wingen.py
Labels: none

Let user specify ESP for buildiso
  changelog.d/3834.added
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  docs/user-guide/building-isos.rst
Labels: Documentation

buildiso: Introduce exclude-systems CLI option and distro autodetection
  cobbler/actions/buildiso/netboot.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Add changelog
  changelog.d/3665.added
Labels: none

Blacklint the tests
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Fix type checks
  cobbler/actions/buildiso/netboot.py
  cobbler/api.py
  cobbler/remote.py
Labels: none

Add systems options support to the standalone code
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Docs: Add missing dependencies to the install-guide
  changelog.d/3845.fixed
  docs/installation-guide.rst
Labels: Documentation

CI: Fix openSUSE Leap build
  .github/workflows/packaging.yml
Labels: CI

Modules: bind - Fix cname generation bug
  changelog.d/3812.fixed
  cobbler/modules/managers/bind.py
  tests/modules/managers/bind_test.py
Labels: Tests

Fix: dependent systems are not synced when the profile is changed
  cobbler/cobbler_collections/collection.py
Labels: none

Fix: dependent systems are not synced when the profile is changed
  changelog.d/3816.fixed
  cobbler/cobbler_collections/collection.py
Labels: none

Fix: performance tests are very slow
  changelog.d/3849.fixed
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/profiles.py
  tests/conftest.py
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_add_test.py
  tests/performance/item_copy_test.py
  tests/performance/item_edit_test.py
  tests/performance/item_remove_test.py
  tests/performance/item_rename_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests

Fix: Python 3.13 support
  changelog.d/3842.fixed
  cobbler/actions/reposync.py
  tests/actions/reposync_test.py
Labels: Tests

CI: Add workflow to generate the changelog
  .github/workflows/changelog.yml
Labels: CI

CI: Update to setup-python@v5
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/release.yml
Labels: CI

CI: Archive packages and automate release creation
  .github/workflows/packaging.yml
Labels: CI

setup.py: Move coverage to lazy imports
  setup.py
Labels: none

XML-RPC: Prevent privilege escalation from none to admin
  cobbler/cobblerd.py
  cobbler/remote.py
  cobbler/utils/__init__.py
  tests/utils/utils_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

XML-RPC: Prevent privilege escalation from none to admin
  cobbler/cobblerd.py
  cobbler/remote.py
  cobbler/utils.py
  tests/utils_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Tests: Fix XML-RPC API miscellaneous formatting
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

CI: Update gh action versions
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/release_master.yml
Labels: CI

CI: Update pypi release action to new branch
  .github/workflows/release.yml
Labels: CI

Tests: Remove caught exception from background_load_items
  tests/xmlrpcapi/background_test.py
Labels: Tests

CI: Update setup-python action to v5
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
Labels: CI

CI: Deduplicate linter workflow
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
  .github/workflows/testing.yml
Labels: CI

CI: Remove Codecov reporting
  .github/workflows/testing.yml
Labels: CI

Tests: Fix login test
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Partly backport e86451e
  tests/utils_test.py
Labels: Tests

Tests: Fix login test assertions
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Add changelog entry for CVE-2024-47533
  changelog.d/cve-2024-47533.fixed
Labels: none
