Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

CI: Update folder for automation project
  .obs/workflows.yml
Labels: Packaging

Increase application version to 3.3.4
  changelog.d/3592.fixed
  cobbler.spec
  cobbler/settings/migrations/V3_3_4.py
  docs/cobbler-conf.rst
  docs/conf.py
  setup.py
  tests/settings/migrations/migrations_test.py
  tests/test_data/V3_3_4/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_4/settings.d/manage_genders.settings
  tests/test_data/V3_3_4/settings.d/nsupdate.settings
  tests/test_data/V3_3_4/settings.d/windows.settings
  tests/test_data/V3_3_4/settings.yaml
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

CI: Use new images
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Signatures: Add various SUSE based distros
  changelog.d/3589.fixed
  config/cobbler/distro_signatures.json
Labels: none

Bash: Rewrite autocompletion to prevent infinite loop
  changelog.d/3150.fixed
  config/bash/completion/cobbler
Labels: none

SafeConfigParser was removed in 3.12
  changelog.d/3606.fixed
  cobbler/modules/authorization/configfile.py
Labels: none

Use curl instead of the missing wget for the breed suse
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

Adding newsfragement 3611.fixed
  changelog.d/3611.fixed
Labels: none

Settings: Uncomment default puppet settings
  config/cobbler/settings.yaml
Labels: none

Docs: Add content to the DHCP & DNS pages
  changelog.d/3593.fixed
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
Labels: Documentation

Settings: Sort leftovers to their topics and add online docstrings
  changelog.d/3594.fixed
  config/cobbler/settings.yaml
Labels: none

Settings: Use newly created dedicated DHCP and DNS pages
  config/cobbler/settings.yaml
Labels: none

Docs: Extend open TODOs in the settings
  docs/cobbler-conf/settings-yaml.rst
Labels: Documentation

Docs: Move DHCP and DNS sections to dedicated files
  docs/user-guide.rst
  docs/user-guide/boot-cd.rst
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
Labels: Documentation

Settings: Uncomment default puppet settings
  config/cobbler/settings.yaml
Labels: none

Settings: Sort leftovers to their topics and add online docstrings
  changelog.d/3612.fixed
  config/cobbler/settings.yaml
Labels: none

Docs: Move DHCP and DNS sections to dedicated files
  docs/user-guide.rst
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
Labels: Documentation

Docs: Extend open TODOs in the settings
  docs/cobbler-conf.rst
Labels: Documentation

Settings: Use newly created dedicated DHCP and DNS pages
  config/cobbler/settings.yaml
Labels: none

Docs: Add content to the DHCP & DNS pages
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
Labels: Documentation

[Backport] Bash: Rewrite autocompletion to prevent infinite loop
  changelog.d/3604.fixed
  config/bash/completion/cobbler
Labels: none

Docs: Fix incorrect underlines for new dhcp and dns pages
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
Labels: Documentation

CI: Add changelog automation
  .github/workflows/newsfragment_checker.yml
  changelog.d/changelog_template.jinja
  towncrier.toml
Labels: CI

Modules: scm_track - Fix pushing to repositories
  changelog.d/3590.fixed
  cobbler/modules/scm_track.py
  tests/modules/scm_track_test.py
Labels: Tests

Modules: scm_track - Fix pushing to repositories
  changelog.d/3621.fixed
  cobbler/modules/scm_track.py
  tests/modules/scm_track_test.py
Labels: Tests

setup.py: Add changelog extras category
  setup.py
Labels: none

Rename occurences of grubx86 to grubx64
  changelog.d/3623.fixed
  config/cobbler/settings.yaml
  system-tests/tests/settings-cli-migrate
  system-tests/tests/svc-settings
  templates/etc/dhcp6.template
  tests/actions/buildiso_test.py
  tests/test_data/V3_3_4/settings.yaml
Labels: Tests

SPEC: Use git stamp if available
  cobbler.spec
Labels: none

SPEC: Use git stamp if available
  cobbler.spec
Labels: none

Changelog: Add missing entries for 3.3.4
  changelog.d/2896.fixed
  changelog.d/3173.fixed
  changelog.d/3176.fixed
  changelog.d/3190.fixed
  changelog.d/3194.changed
  changelog.d/3238.fixed
  changelog.d/3367.fixed
  changelog.d/3368.added
  changelog.d/3382.added
  changelog.d/3413.added
  changelog.d/3420.fixed
  changelog.d/3446.fixed
  changelog.d/3450.fixed
  changelog.d/3455.fixed
  changelog.d/3468.changed
  changelog.d/3473.fixed
  changelog.d/3524.fixed
  changelog.d/3584.fixed
  changelog.d/3588.fixed
  changelog.d/3589.added
  changelog.d/3591.fixed
  changelog.d/3592.added
  changelog.d/3592.fixed
  changelog.d/3623.fixed
Labels: none

Changelog: Add for 3.3.4
  changelog.d/2896.fixed
  changelog.d/3173.fixed
  changelog.d/3176.fixed
  changelog.d/3190.fixed
  changelog.d/3194.changed
  changelog.d/3238.fixed
  changelog.d/3367.fixed
  changelog.d/3368.added
  changelog.d/3382.added
  changelog.d/3413.added
  changelog.d/3420.fixed
  changelog.d/3446.fixed
  changelog.d/3450.fixed
  changelog.d/3455.fixed
  changelog.d/3468.changed
  changelog.d/3473.fixed
  changelog.d/3498.fixed
  changelog.d/3524.fixed
  changelog.d/3566.added
  changelog.d/3580.fixed
  changelog.d/3584.fixed
  changelog.d/3588.fixed
  changelog.d/3589.added
  changelog.d/3591.fixed
  changelog.d/3592.added
  changelog.d/3604.fixed
  changelog.d/3606.fixed
  changelog.d/3612.fixed
  changelog.d/3621.fixed
  changelog.d/3623.fixed
  changelog/v3.3.4.md
Labels: none

Increase application version to 3.3.5
  cobbler.spec
  cobbler/settings/migrations/V3_3_5.py
  docs/cobbler-conf.rst
  docs/conf.py
  setup.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_3_5/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_5/settings.d/manage_genders.settings
  tests/test_data/V3_3_5/settings.d/nsupdate.settings
  tests/test_data/V3_3_5/settings.d/windows.settings
  tests/test_data/V3_3_5/settings.yaml
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

Item: Fix backport (1)
  cobbler/items/item.py
Labels: none

Items: Fix backport (2)
  cobbler/items/system.py
Labels: none

Collections: Fix deadlock during "lazy_start: true" with fcfs
  cobbler/cobbler_collections/collection.py
Labels: none

Add more Fedora like distros for building
  distro_build_configs.sh
Labels: none

Fixes for buildiso
  cobbler/actions/buildiso.py
Labels: none

Add signature for Alma/Rocky Minimal ISOs
  config/cobbler/distro_signatures.json
Labels: none

Update virt docs and change the default virt type to kvm, bridge to virbr0
  changelog.d/3505.changed
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  cobbler/utils/__init__.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  docs/cobbler.rst
  system-tests/tests/svc-settings
  tests/items/network_interface_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Documentation, Tests

[CI] Update to checkout@v4
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  .github/workflows/release_master.yml
  .github/workflows/testing.yml
Labels: CI

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
