Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Add changelog entry for CVE-2024-47533
  changelog.d/cve-2024-47533.fixed
Labels: none

CI: Fix changelog generation
  .github/workflows/changelog.yml
Labels: CI

CI: Fix changelog generation
  .github/workflows/changelog.yml
Labels: CI

CI: Add missing apache2-devel to changelog
  .github/workflows/changelog.yml
Labels: CI

CI: Add missing python3-devel to changelog
  .github/workflows/changelog.yml
Labels: CI

CI: Add missing cyrus-sasl-devel to changelog
  .github/workflows/changelog.yml
Labels: CI

[Bot] Add changelog for new version
  changelog.d/3812.fixed
  changelog.d/3836.fixed
  changelog.d/3838.fixed
  changelog.d/3840.fixed
  changelog.d/3845.fixed
  changelog.d/3849.fixed
  changelog.d/cve-2024-47533.fixed
  changelog/v3.3.7.md
Labels: none

CI: Add missing apache2-devel to changelog
  .github/workflows/changelog.yml
Labels: CI

CI: Add missing python3-devel to changelog
  .github/workflows/changelog.yml
Labels: CI

CI: Add missing cyrus-sasl-devel to changelog
  .github/workflows/changelog.yml
Labels: CI

CI: Update pypi release action to new branch
  .github/workflows/release.yml
Labels: CI

CI: Run release workflow on main and release branches
  .github/workflows/release.yml
Labels: CI

CI: Run packaging workflow on tags and archive build packages
  .github/workflows/packaging.yml
Labels: CI

Update version to 3.2.4
  SECURITY.md
  cobbler.spec
  docs/conf.py
  setup.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

Backport f533341
  MANIFEST.in
  Makefile
  cobbler.spec
  setup.py
Labels: none

Docker: Add Sphinx RTD Thema
  docker/openSUSE_Leap.dockerfile
Labels: none

SPEC: Add git repository if present and use autosetup
  cobbler.spec
Labels: none

Add SUSE bootloader to default config
  config/cobbler/settings.yaml
Labels: none

Make the CNAME rendering to actually be aligned.
  cobbler/modules/managers/bind.py
Labels: none

Ensure that the Yum repo file is created in the correct location
  cobbler/yumgen.py
Labels: none

Change how the nsupdate code works: * Now supports individual keys for different NS servers. * Updates will only be sent to known NS servers.
  cobbler/modules/nsupdate_add_system_post.py
  cobbler/modules/nsupdate_delete_system_pre.py
  cobbler/settings/migrations/V3_3_7.py
  config/cobbler/settings.d/nsupdate.settings
Labels: none

fix for updating profile.arch memory index
  changelog.d/3875.fixed
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/profile.py
  tests/cobbler_collections/profile_collection_test.py
Labels: Tests

Docker: Include go for new CLI
  docker/develop/develop.dockerfile
Labels: none

Docker: Remove codecov leftover dependency
  docker/develop/develop.dockerfile
Labels: none

CLI: Remove bundled CLI
  bin/cobbler
  cobbler.spec
  cobbler/cli.py
  docker/debs/build-and-install-debs.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/rpms/build-and-install-rpms.sh
  docs/cobbler.rst
  docs/code-autodoc/cobbler.rst
  docs/index.rst
  setup.py
  tests/cli/__init__.py
  tests/cli/cli_unit_test.py
  tests/cli/cobbler_cli_direct_test.py
  tests/cli/cobbler_cli_object_test.py
  tests/cli/conftest.py
Labels: Documentation, Tests

XML-RPC: Remove xapi_edit
  cobbler/remote.py
  tests/xmlrpcapi/xapi_test.py
Labels: Tests

Fix url for wimboot when importing Windows distro
  changelog.d/3885.fixed
  cobbler/modules/managers/import_signatures.py
  docs/user-guide/wingen.rst
Labels: Documentation

CI: Update to upload-artifact v4
  .github/workflows/packaging.yml
Labels: CI

Backport 3.3: Fix Windows wimboot import
  changelog.d/3887.fixed
  cobbler/modules/managers/import_signatures.py
  docs/user-guide/wingen.rst
Labels: Documentation

Exclude disabled profiles from buildiso gen
  changelog.d/3895.fixed
  cobbler/actions/buildiso/__init__.py
Labels: none

Add buildiso test case
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

fixup! Add buildiso test case
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Synchronize cobbler add and cobbler sync actions
  changelog.d/3897.fixed
  cobbler/api.py
  tests/api/sync_test.py
Labels: Tests

Exclude disabled profiles from buildiso gen
  changelog.d/3895.fixed
  cobbler/actions/buildiso/__init__.py
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Pin GH workflows to commits
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage-upload.yml
  .github/workflows/increase-version.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
Labels: CI

Downgrade setup-python workflow version
  .github/workflows/packaging.yml
Labels: CI

XML-RPC: Remove xapi_edit
  cobbler/remote.py
  tests/xmlrpcapi/xapi_test.py
Labels: Tests

CLI: Remove bundled CLI
  bin/cobbler
  cobbler.spec
  cobbler/cli.py
  docker/debs/build-and-install-debs.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/rpms/build-and-install-rpms.sh
  docs/cobbler.rst
  docs/code-autodoc/cobbler.rst
  docs/index.rst
  setup.py
  tests/cli/__init__.py
  tests/cli/cli_unit_test.py
  tests/cli/cobbler_cli_direct_test.py
  tests/cli/cobbler_cli_object_test.py
  tests/cli/conftest.py
Labels: Documentation, Tests

CI: Update python version to 3.8 for wheel
  .github/workflows/packaging.yml
Labels: CI

Docs: Remove CLI manpages
  docs/conf.py
Labels: Documentation

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
