Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

pylint: consider-merging-isinstance
  cobbler/utils/__init__.py
Labels: none

pylint: bare-except
  cobbler/actions/replicate.py
  cobbler/actions/reposync.py
  cobbler/api.py
  cobbler/autoinstall_manager.py
  cobbler/cli.py
  cobbler/cobbler_collections/collection.py
  cobbler/configgen.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/modules/authentication/configfile.py
  cobbler/modules/authentication/ldap.py
  cobbler/modules/authentication/pam.py
  cobbler/modules/installation/post_puppet.py
  cobbler/modules/installation/pre_puppet.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/remote.py
  cobbler/services.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/utils/mtab.py
  cobbler/utils/signatures.py
  cobbler/yumgen.py
Labels: none

pylint: global-statement
  cobbler/modules/nsupdate_add_system_post.py
  cobbler/modules/nsupdate_delete_system_pre.py
  cobbler/utils/mtab.py
  cobbler/utils/signatures.py
Labels: none

pylint: logging-fstring-interpolation
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/modules/sync_post_restart_services.py
  cobbler/tftpgen.py
Labels: none

pylint: f-string-without-interpolation
  cobbler/tftpgen.py
  cobbler/validate.py
Labels: none

pylint: unused-import
  cobbler/actions/reposync.py
  cobbler/modules/managers/import_signatures.py
  cobbler/serializer.py
  cobbler/settings/migrations/V3_0_0.py
Labels: none

pylint: consider-using-set-comprehension
  cobbler/templar.py
Labels: none

Add setting autoinstall_protocol for switching http(s)
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  tests/items/item_test.py
Labels: Tests

Docs: Add column for 3.3.3 migration
  docs/cobbler-conf.rst
Labels: Documentation

Use autoinstall_protocol for setting import, autoinstallgen and tftpgen
  cobbler/autoinstallgen.py
  cobbler/modules/managers/import_signatures.py
  cobbler/tftpgen.py
Labels: none

Docs: Remove section about include setting
  docs/cobbler-conf.rst
Labels: Documentation

Use autoinstall_protocol for setting buildiso parameters
  cobbler/actions/buildiso/netboot.py
Labels: none

Docs: Add section for autoinstall_protocol
  docs/cobbler-conf.rst
Labels: Documentation

Use new setting for reposync
  cobbler/actions/reposync.py
Labels: none

mypy: Fix no_implicit_optional
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  cobbler/remote.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/utils/mtab.py
  cobbler/utils/thread.py
Labels: none

Use a threadpool to increase performance on writting tftpboot files
  cobbler/modules/managers/in_tftpd.py
Labels: none

Add test to check threadpool is used in cobbler sync
  tests/modules/managers/in_tftpd_test.py
Labels: Tests

Settings: Rename autoinstall_protocol to autoinstall_scheme
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/reposync.py
  cobbler/autoinstallgen.py
  cobbler/modules/managers/import_signatures.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/tftpgen.py
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
Labels: Documentation

Autoinstallgen: Inline variable
  cobbler/autoinstallgen.py
Labels: none

Use inst.ks.sendmac instead of deprecated kssendmac
  cobbler/tftpgen.py
Labels: none

Fix regression: allow empty string as interface_type value
  cobbler/items/system.py
Labels: none

Add unit tests to cover NetworkInterfaceType
  tests/items/system_test.py
Labels: Tests

Move backup_dir to helper test module
  cobbler/settings/migrations/V3_3_0.py
  cobbler/settings/migrations/helper.py
Labels: none

Do not allow emptry string for network interface type
  cobbler/items/system.py
  tests/items/system_test.py
Labels: Tests

Add migration for interface_type
  cobbler/settings/migrations/V3_4_0.py
Labels: none

Module-Loader: Fix bug from pylint refactoring
  cobbler/module_loader.py
Labels: none

Docs: Regenerate code-autodoc
  docs/code-autodoc/cobbler.actions.rst
  docs/code-autodoc/cobbler.utils.rst
Labels: Documentation

Docs: Move boot-cd to dedicated page
  docs/user-guide.rst
  docs/user-guide/boot-cd.rst
Labels: Documentation

Docs: Remove non-existent --name option from report
  docs/cobbler.rst
Labels: Documentation

Docs: Add HTTPboot documentation
  docs/user-guide.rst
  docs/user-guide/httpboot.rst
Labels: Documentation

Docs: Include instructions for Gunicorn
  cobbler.spec
  config/service/cobblerd-gunicorn.service
  docs/installation-guide.rst
  setup.py
Labels: Documentation

setup: Add docs extra requires
  setup.py
Labels: none

Docs: Readd power-management section
  docs/user-guide.rst
  docs/user-guide/power-management.rst
Labels: Documentation

Docs: Upgrade links to https where possible
  docs/cobbler.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/esxi.rst
Labels: Documentation

Docs: Add note that you might need to adjust ExecStart for systemd
  docs/installation-guide.rst
Labels: Documentation

Docs: Get rid of modules.conf mentions
  docs/cobbler-conf.rst
  docs/cobbler-conf/migration.rst
  docs/cobbler-conf/settings-yaml.rst
  docs/cobbler.rst
  docs/user-guide/boot-cd.rst
  docs/user-guide/extending-cobbler.rst
Labels: Documentation

More explicit types
  cobbler/actions/check.py
  cobbler/api.py
  cobbler/modules/managers/import_signatures.py
  cobbler/remote.py
Labels: none

Logrotate: Fix size syntax
  config/rotate/cobblerd_rotate
Labels: none

Add new system-test to test collection migration from 2.8.5
  system-tests/tests/settings-cli-migrate-from-2.8.5
Labels: Tests

Avoid possible override of existing values
  cobbler/settings/migrations/V3_0_0.py
  cobbler/settings/migrations/V3_3_0.py
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
