Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Tftpgen: Use find_template instead of the filesystem for scripts
  cobbler/data/templates/cheetah/autoinstall/snippets/autoinstall_done.template
  cobbler/data/templates/cheetah/autoinstall/snippets/autoinstall_start.template
  cobbler/data/templates/cheetah/autoinstall/snippets/cobbler_register.template
  cobbler/data/templates/cheetah/autoinstall/snippets/download_config_files_deb.template
  cobbler/data/templates/cheetah/autoinstall/snippets/keep_cfengine_keys.template
  cobbler/data/templates/cheetah/autoinstall/snippets/keep_rhn_keys.template
  cobbler/data/templates/cheetah/autoinstall/snippets/keep_rudder_keys.template
  cobbler/data/templates/cheetah/autoinstall/snippets/keep_rudder_uuid.template
  cobbler/data/templates/cheetah/autoinstall/snippets/koan_environment.template
  cobbler/data/templates/cheetah/autoinstall/snippets/late_apt_repo_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/log_ks_post.template
  cobbler/data/templates/cheetah/autoinstall/snippets/log_ks_post_nochroot.template
  cobbler/data/templates/cheetah/autoinstall/snippets/log_ks_pre.template
  cobbler/data/templates/cheetah/autoinstall/snippets/post_anamon.template
  cobbler/data/templates/cheetah/autoinstall/snippets/post_install_network_config_deb.template
  cobbler/data/templates/cheetah/autoinstall/snippets/post_run_deb.template
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_anamon.template
  cobbler/data/templates/cheetah/autoinstall/snippets/preseed_apt_repo_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/puppet_install_if_enabled.template
  cobbler/data/templates/cheetah/autoinstall/snippets/puppet_register_if_enabled.template
  cobbler/data/templates/cheetah/autoinstall/snippets/restore_boot_device.template
  cobbler/data/templates/cheetah/autoinstall/snippets/save_boot_device.template
  cobbler/data/templates/cheetah/autoinstall/win.template
  cobbler/tftpgen.py
  tests/tftpgen_test.py
Labels: Tests

Add content to dummy docstrings
  changelog.d/3953.fixed
  cobbler/cobbler_collections/templates.py
  cobbler/items/options/uri.py
  cobbler/items/system.py
  cobbler/items/template.py
  cobbler/settings/__init__.py
  cobbler/templates/__init__.py
  cobbler/templates/jinja.py
  cobbler/utils/process_management.py
  tests/cobbler_collections/template_collection_test.py
  tests/items/template_test.py
  tests/modules/managers/genders_test.py
  tests/modules/managers/in_tftpd_test.py
  tests/modules/sync_post_wingen_test.py
  tests/special_cases/built_in_templates_kickstart_test.py
  tests/templates/cheetah_test.py
  tests/templates/jinja_test.py
  tests/templates/templar_test.py
  tests/utils/filesystem_helpers_test.py
  tests/validate_test.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

API: Allow restarting with custom templates
  changelog.d/3954.fixed
  cobbler/api.py
Labels: none

API: Add endpoints to allow refreshing template content
  changelog.d/3952.added
  cobbler/api.py
  cobbler/remote.py
  tests/api/miscellaneous_test.py
  tests/xmlrpcapi/background_test.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

Fix generate_autoinstall empty-string inputs (#3807)
  changelog.d/3807.fixed
  cobbler/remote.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

Docs: refresh install dependencies per distro (#3847)
  changelog.d/3847.docs
  docs/installation-guide.rst
Labels: Documentation

Fix cobbler status compressed log handling (#3898)
  changelog.d/3898.fixed
  cobbler/actions/status.py
  tests/actions/status_test.py
Labels: Tests

Add precise typing to _open_logfile
  cobbler/actions/status.py
Labels: none

Buildiso: Remove duplicate newline from isolinux menuentry template
  cobbler/data/templates/jinja/iso/isolinux_menuentry.jinja
  tests/templates/jinja_test.py
Labels: Tests

API: Fix finding items without a collection
  cobbler/api.py
  cobbler/cobbler_collections/manager.py
  cobbler/remote.py
  tests/api/find_test.py
Labels: Tests

API: Add endpoint to get raw template content
  cobbler/remote.py
  tests/xmlrpcapi/template_test.py
Labels: Tests

Windows: Fix template selection
  cobbler/modules/sync_post_wingen.py
Labels: none

Fix TFTP clean stale boot artefacts when boot loaders change
  cobbler/tftpgen.py
  tests/tftpgen_test.py
Labels: Tests

Fix kernel options - ensure deterministic ordering
  cobbler/autoinstallgen.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  tests/utils/utils_test.py
Labels: Tests

API: rename task options parameter
  cobbler/remote.py
Labels: none

Collections: unify kwargs naming
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  tests/autoinstallation_manager_test.py
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/image_collection_test.py
  tests/cobbler_collections/menu_collection_test.py
  tests/cobbler_collections/network_interface_collection_test.py
  tests/cobbler_collections/profile_collection_test.py
Labels: Tests

Kernel options: document scalar support
  cobbler/items/abstract/bootable_item.py
  cobbler/items/distro.py
  cobbler/items/profile.py
  cobbler/items/system.py
  docs/cobbler-conf/settings-yaml.rst
  docs/limitations.rst
  docs/user-guide/esxi.rst
Labels: Documentation

Docs: Update templating documentation
  docs/cobbler-conf/settings-yaml.rst
  docs/cobblerd.rst
  docs/limitations.rst
  docs/quickstart-guide.rst
  docs/user-guide.rst
  docs/user-guide/advanced-networking.rst
  docs/user-guide/automatic-installation.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
  docs/user-guide/esxi.rst
  docs/user-guide/power-management.rst
  docs/user-guide/templating.rst
  docs/user-guide/wingen.rst
Labels: Documentation

Fix AutoYaST autoinstall templates
  cobbler/data/templates/cheetah/autoinstall/sample_autoyast.xml.template
  cobbler/data/templates/cheetah/autoinstall/snippets/autoyast/hosts.xml.template
  cobbler/data/templates/cheetah/autoinstall/snippets/autoyast/networking.xml.template
Labels: none

isort: Skip system-tests directory
  pyproject.toml
Labels: none

Remove cheetah Macros leftovers
  contrib/templating/cheetah_macros
  docs/user-guide/extending-cobbler.rst
Labels: Documentation

Refactored Linux Kernel Command line generation
  changelog.d/3956.added
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/append_line.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/utils/kernel_command_line.py
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
  tests/tftpgen_test.py
  tests/utils/kernel_command_line_test.py
Labels: Tests

Tests: Define performance testing rounds with env variable
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3911.added
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_edit_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests, CI

Tests: Add updated benchmark results
  .benchmarks/Linux-CPython-3.11-64bit/0002_e431f73ba97f80c7f18bb44f7400905eb795283d_20250523_081136_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Remove matrix job for performance testsuite
  .github/workflows/performance_testing_automated.yml
Labels: CI

Tests: Force garbage collect for get_autoinstall
  tests/performance/get_autoinstall_test.py
Labels: Tests

CI: Increase timeout for testrun
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Disable iptables raw for performance testsuite report generation
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Merge performance test workflows
  .github/workflows/performance_testing.yml
  .github/workflows/performance_testing_automated.yml
Labels: CI

Tests: Correct name of used autoinstall template
  tests/performance/__init__.py
Labels: Tests

Templates: Correct access to IP properties
  cobbler/data/templates/cheetah/autoinstall/snippets/autoyast/hosts.xml.template
  cobbler/data/templates/cheetah/autoinstall/snippets/autoyast/networking.xml.template
  cobbler/data/templates/cheetah/autoinstall/snippets/network_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/network_config_esx.template
  cobbler/data/templates/cheetah/autoinstall/snippets/network_config_esxi.template
  cobbler/data/templates/cheetah/autoinstall/snippets/post_install_network_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/preseed/post_install_network_config_deb.template
  cobbler/data/templates/cheetah/reporting/build_report_email.template
Labels: none

Tests: Fix usage of autoinstall API
  tests/performance/get_autoinstall_test.py
  tests/performance/item_edit_test.py
Labels: Tests

Items: Fix issue that prevented copying with concrete template
  cobbler/items/image.py
  cobbler/items/profile.py
  cobbler/items/system.py
  tests/items/image_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
Labels: Tests

Tests: Adjust snippet tests for esxi
  tests/special_cases/built_in_snippets_test.py
Labels: Tests

CI: Update apt cache before download
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
Labels: CI

CI: Reduce sync test iterations
  .github/workflows/performance_testing.yml
Labels: CI

Tests: Add cleanup of network interfaces
  tests/performance/__init__.py
Labels: Tests

Tests: Add symlink for Python 3.13 benchmarks
  .benchmarks/Linux-CPython-3.13-64bit
Labels: none

CI: Always upload performance testsuite results
  .github/workflows/performance_testing.yml
Labels: CI

Refactored Linux Kernel Command line generation
  changelog.d/3956.added
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/append_line.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/utils/kernel_command_line.py
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
  tests/integration/buildiso_test.py
  tests/integration/conftest.py
  tests/integration/data/test_svc_bootcfg_esxi/expected_result_profile
  tests/integration/data/test_svc_bootcfg_esxi/expected_result_system
  tests/integration/data/test_svc_ipxe_profile/expected_result
  tests/integration/svc_test.py
  tests/tftpgen_test.py
  tests/utils/kernel_command_line_test.py
Labels: Tests
