Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

isc_manager: Handle ipv6 systemd/service correctly
  cobbler/modules/managers/isc.py
Labels: none

Fix windows distro share
  templates/windows/startnet.template
Labels: none

fix windows ipxe
  cobbler/tftpgen.py
Labels: none

Make SLE-Micro 5.4 boot via "local network boot"
  config/grub/grub/local_efi.cfg
Labels: none

update windows doc
  docs/user-guide.rst
  docs/user-guide/wingen.rst
Labels: Documentation

Use Fedora Rawhide for tests
  tests/actions/reposync_test.py
Labels: Tests

Docs: Fixup RTD configuration file
  .readthedocs.yml
Labels: none

Docs: Fixup RTD configuration file
  .readthedocs.yml
Labels: none

Docs: Fixup RTD configuration file
  .readthedocs.yml
Labels: none

Docs: Fixup RTD configuration file
  .readthedocs.yml
Labels: none

Add missing managers. for dnsmasq
  docs/user-guide/boot-cd.rst
Labels: Documentation

Add note about needing to set enable-menu for profiles to appear in PXE menu
  docs/user-guide.rst
Labels: Documentation

Add changelog fragment
  changelog.d/3514.fixed
Labels: none

Separate check for pefile
  changelog.d/3513.fixed
  cobbler/modules/sync_post_wingen.py
Labels: none

Do not open files for reading that we are only writing to. Fixes #3508.
  changelog.d/3508.fixed
  cobbler/actions/reposync.py
  cobbler/autoinstall_manager.py
  cobbler/modules/installation/post_log.py
  cobbler/modules/installation/pre_log.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/nsupdate_add_system_post.py
  cobbler/modules/nsupdate_delete_system_pre.py
  cobbler/modules/serializers/file.py
  cobbler/modules/sync_post_wingen.py
  cobbler/templar.py
  setup.py
  tests/actions/reposync_test.py
  tests/modules/managers/dnsmasq_test.py
Labels: Tests

Run black with --diff
  .github/workflows/lint.yml
Labels: CI

Try using checkout@v4 in CI
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/increase-version.yml
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/performance_testing.yml
  .github/workflows/release.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Initialize variable to prevent undefined error in some cases
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
Labels: none

Buildiso PPC64LE Enablement
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
Labels: none

Fix errors after moving copyfile function to filesystems_helpers
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
Labels: none

Add system-test for buildiso for ppc64le
  system-tests/tests/buildiso-ppc64le
Labels: Tests

Fix styling and typing issues
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
Labels: none

Use proper bootinfo.template file instead of hardcoding content
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  templates/iso/bootinfo.template
Labels: none

Add changelog
  changelog.d/3495.added
Labels: none

Do not increase code complexity to help pyright
  cobbler/actions/buildiso/standalone.py
Labels: none

Add note in user guide for builsido about supported architectures
  docs/user-guide/building-isos.rst
Labels: Documentation

Set variable type during declaration to avoid usage of cast() function
  cobbler/actions/buildiso/standalone.py
Labels: none

Notify to systemd when cobblerd startup is finished
  cobbler.spec
  cobbler/cobblerd.py
  config/service/cobblerd.service
  setup.py
Labels: none

Add changelog file
  changelog.d/3517.added
Labels: none

Rename changelog file after creating GH issue
  changelog.d/3518.added
Labels: none

Install python3-systemd inside containers
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

Fix name for systemd-python dependency and fix style issues
  cobbler/cobblerd.py
  setup.py
Labels: none

Fix container build for Fedora 37 and Rocky Linux 8
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
Labels: none

Fix build of package wheel and pyright issues
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
Labels: CI

Ignore type errors for systemd.daemon
  cobbler/cobblerd.py
Labels: none

Add libsystemd-dev build dependency to release workflow
  .github/workflows/release.yml
Labels: CI

Add inst.repo/repo to the kernel command line for RHEL
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/tftpgen.py
Labels: none

Importer: Use new kwargs item constructure
  cobbler/modules/managers/import_signatures.py
Labels: none

Importer: Deindent for loop
  cobbler/modules/managers/import_signatures.py
Labels: none

Importer: Use the API instead of collections
  cobbler/modules/managers/import_signatures.py
Labels: none
