Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Add XML-RPC endpoint for generating a TFTP file dynamically
  changelog.d/3555.added
  cobbler/api.py
  cobbler/remote.py
  cobbler/tftpgen.py
Labels: none

CI: Switch testing workflow to pull_request_target
  .github/workflows/testing.yml
Labels: CI

Revert "CI: Switch testing workflow to pull_request_target"
  .github/workflows/testing.yml
Labels: CI

CI: Split coverage away from tests
  .github/workflows/coverage-upload.yml
  .github/workflows/testing.yml
Labels: CI

Tmp
  .github/workflows/coverage-upload.yml
Labels: CI

CI: Split coverage upload away from tests
  .github/workflows/coverage-upload.yml
  .github/workflows/testing.yml
Labels: CI

CI: Upload coverage - Specify download workflow name
  .github/workflows/coverage-upload.yml
Labels: CI

CI: Upload coverage - Switch action against bash script
  .github/workflows/coverage-upload.yml
Labels: CI

CI: Upload coverage - Add -r argument
  .github/workflows/coverage-upload.yml
Labels: CI

CI: Upload Coverage - Add commit-uuid to final
  .github/workflows/coverage-upload.yml
Labels: CI

SafeConfigParser was removed in 3.12
  changelog.d/3552.fixed
  cobbler/modules/authorization/configfile.py
Labels: none

Fix MongoDB collection names
  changelog.d/3563.fixed
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/mongodb.py
  tests/modules/serializer/mongodb_test.py
Labels: Tests

Fix initrd.magic for ipxe
  changelog.d/3561.fixed
  docs/user-guide/http-api.rst
  system-tests/tests/svc-ipxe-profile
  templates/boot_loader_conf/ipxe.template
Labels: Documentation, Tests

Fix: Inheriting some non-string properties
  changelog.d/3558.fixed
  cobbler/items/image.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/validate.py
  tests/items/distro_test.py
  tests/items/file_test.py
  tests/items/image_test.py
  tests/items/item_test.py
  tests/items/menu_test.py
  tests/items/mgmtclass_test.py
  tests/items/network_interface_test.py
  tests/items/package_test.py
  tests/items/profile_test.py
  tests/items/repo_test.py
  tests/items/resource_test.py
  tests/items/system_test.py
Labels: Tests

Add EFI chainloader for Ubuntu to menu local
  changelog.d/3525.fixed
  config/grub/grub/local_efi.cfg
Labels: none

snippets: Use mac instead of ifname in netconfig
  autoinstall_snippets/pre_install_network_config
  changelog.d/3530.changed
Labels: none

docker: add build of debs for Debian 12 Bookworm
  .github/workflows/packaging.yml
  Makefile
  changelog.d/3566.added
  docker/debs/Debian_12/Debian12.dockerfile
  docs/installation-guide.rst
Labels: Documentation, CI

Add EFI chainloader for Ubuntu to menu local
  changelog.d/3525.fixed
  config/grub/grub/local_efi.cfg
Labels: none

docker: add build of debs for Debian 12 Bookworm
  .github/workflows/packaging.yml
  Makefile
  changelog.d/3566.added
  cobbler.spec
  docker/debs/Debian_12/Debian12.dockerfile
  docs/installation-guide.rst
Labels: Documentation, CI

Initial commit for sqlite backend support
  changelog.d/3554.added
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/sqlite.py
  docs/cobbler-conf/settings-yaml.rst
  docs/code-autodoc/cobbler.modules.serializers.rst
  tests/module_loader_test.py
  tests/modules/serializer/sqlite_test.py
Labels: Documentation, Tests

mkloaders: Fix path to linux.c32 for symlink
  changelog.d/3574.fixed
  cobbler/actions/mkloaders.py
Labels: none

mkloaders: Fix path to linux.c32 for symlink
  changelog.d/3580.fixed
  cobbler/actions/mkloaders.py
Labels: none

SPEC: Add extra guard for RPM build on Fedora
  changelog.d/3582.fixed
  cobbler.spec
  distro_build_configs.sh
Labels: none

SPEC: Add extra guard for RPM build on Fedora
  changelog.d/3584.fixed
  cobbler.spec
  distro_build_configs.sh
Labels: none

Rename test file to get tests collected by pytest
  tests/utils/__init___test.py
Labels: Tests

Prevent parallel executions of sync tasks via file lock
  cobbler/api.py
  cobbler/utils/__init__.py
  tests/api/sync_test.py
  tests/utils/__init___test.py
Labels: Tests

Add changelog entry
  changelog.d/3529.fixed
Labels: none

Signatures: Add new suse versions
  changelog.d/3586.added
  config/cobbler/distro_signatures.json
  system-tests/listings/suse/leapmicro5.3/openSUSE-Leap-Micro-5.3-DVD-x86_64-Media.iso/index
  system-tests/listings/suse/leapmicro5.4/openSUSE-Leap-Micro-5.4-DVD-x86_64-Media.iso/index
  system-tests/listings/suse/leapmicro5.5/openSUSE-Leap-Micro-5.5-DVD-x86_64-Media.iso/index
  system-tests/listings/suse/opensuse15.3/openSUSE-Leap-15.3-3-DVD-x86_64-Media.iso/index
  system-tests/listings/suse/opensuse15.3/openSUSE-Leap-15.3-DVD-x86_64.iso/index
  system-tests/listings/suse/opensuse15.4/openSUSE-Leap-15.4-DVD-x86_64-Media.iso/index
  system-tests/listings/suse/opensuse15.4/openSUSE-Leap-15.4-DVD-x86_64.iso/index
  system-tests/listings/suse/opensuse15.5/openSUSE-Leap-15.5-DVD-x86_64-Media.iso/index
  system-tests/listings/suse/slemicro5.3/SLE-Micro-5.3-DVD-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/slemicro5.4/SLE-Micro-5.4-DVD-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/slemicro5.5/SLE-Micro-5.5-DVD-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles15sp5/SLE-15-SP5-Full-x86_64-GM-Media1.iso/index
  system-tests/tests/import-suse-leapmicro5.3
  system-tests/tests/import-suse-leapmicro5.4
  system-tests/tests/import-suse-leapmicro5.5
  system-tests/tests/import-suse-opensuse15.5
  system-tests/tests/import-suse-slemicro5.3
  system-tests/tests/import-suse-slemicro5.4
  system-tests/tests/import-suse-slemicro5.5
  system-tests/tests/import-suse-sles15sp5
Labels: Tests

Fix failing utils unit tests after renabling tests
  cobbler/utils/__init__.py
  tests/utils/utils_test.py
Labels: Tests

Refactor for a more efficient test of utils.filelock function
  tests/utils/utils_test.py
Labels: Tests

Bump pyright version to use on lint workflow
  .github/workflows/lint.yml
Labels: CI

CI: Use matrix for system-test action
  .github/workflows/system_testing.yml
Labels: CI

CI: Move integration tests into testing.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Modules: scm_track - Fix pathspec error
  changelog.d/3591.fixed
  cobbler/modules/scm_track.py
Labels: none

DNS - Bind: Fix bind_zonefiles key error during "cobbler sync"
  changelog.d/3588.fixed
  cobbler/modules/managers/bind.py
Labels: none

Provide option to use pre-built GRUB bootloader
  changelog.d/3570.changed
  cobbler/actions/mkloaders.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  distro_build_configs.sh
  docs/cobbler-conf/settings-yaml.rst
  docs/user-guide/grub.rst
  setup.py
  tests/actions/mkloaders_test.py
  tests/items/item_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/utils_test.py
Labels: Documentation, Tests

Docker: Add named to image
  docker/develop/develop.dockerfile
  docker/develop/supervisord/conf.d/named.conf
Labels: none

Autoinstallgen: Fix object not subscriptable error
  cobbler/autoinstall_manager.py
Labels: none

CI: Update folder for automation project
  .obs/workflows.yml
Labels: Packaging

Increase application version to 3.3.4
  cobbler.spec
  cobbler/settings/migrations/V3_3_4.py
  docs/cobbler-conf.rst
  docs/conf.py
  setup.py
  tests/settings/migrations/migrations_test.py
  tests/test_data/V3_3_4/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_4/settings.d/manage_genders.settings
  tests/test_data/V3_3_4/settings.d/nsupdate.settings
  tests/test_data/V3_3_4/settings.d/windows.settings
  tests/test_data/V3_3_4/settings.yaml
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
