Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

API: Expose with_triggers for add_*
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
Labels: none

API: Fix kwargs bug
  cobbler/api.py
Labels: none

Add changelog
  changelog.d/3417.fixed
Labels: none

Docs: Make code-block directives coherent
  changelog.d/3522.fixed
  docs/cobbler-conf/settings-yaml.rst
  docs/cobbler.rst
  docs/quickstart-guide.rst
  docs/user-guide.rst
  docs/user-guide/advanced-networking.rst
  docs/user-guide/building-isos.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/esxi.rst
  docs/user-guide/http-api.rst
  docs/user-guide/httpboot.rst
  docs/user-guide/power-management.rst
  docs/user-guide/terraform-provider.rst
  docs/user-guide/wingen.rst
Labels: Documentation

isc_manager: Handle ipv6 systemd/service correctly
  changelog.d/3484.fixed
  cobbler/modules/managers/isc.py
  tests/modules/managers/isc_test.py
Labels: Tests

Do not preserve read-only permissions from mounted ISO image. Fixes #3506
  changelog.d/3506.fixed
  cobbler/actions/importer.py
Labels: none

Docs: Readd SELinux
  changelog.d/3519.fixed
  cobbler/actions/check.py
  docs/user-guide.rst
  docs/user-guide/selinux.rst
Labels: Documentation

API: Auto-create directories during startup
  changelog.d/3444.fixed
  cobbler/api.py
Labels: none

Docker: Add pytest upgrade
  docker/develop/scripts/setup-supervisor.sh
Labels: none

Add astralinux to distro signatures
  config/cobbler/distro_signatures.json
  system-tests/tests/import-debian-astralinux2.12
Labels: Tests

Actions: Check - Add check for children with empty strings
  cobbler/actions/check.py
Labels: none

Actions: Check - Switch to shutil.which
  cobbler/actions/check.py
Labels: none

item: deduplicate value from resolve decorator
  changelog.d/3211.fixed
  cobbler/items/__init__.py
  cobbler/items/item.py
  cobbler/items/profile.py
  tests/items/inheritance_test.py
  tests/items/system_test.py
  tests/xmlrpcapi/profile_test.py
Labels: Tests

Use get_conceptual_parent() for resolving attrs
  cobbler/items/item.py
Labels: none

Update distro_signatures.json
  config/cobbler/distro_signatures.json
Labels: none

Items: Move ItemCache into dedicated submodule
  cobbler/items/abstract/__init__.py
  cobbler/items/abstract/item_cache.py
  cobbler/items/item.py
Labels: none

API: Expose with_triggers for add_*
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
Labels: none

Backport issue id
  changelog.d/3498.fixed
Labels: none

Add changelog
  changelog.d/3417.fixed
Labels: none

Add inst.repo/repo to the kernel command line for RHEL
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/tftpgen.py
Labels: none

Importer: Use the API instead of collections
  cobbler/modules/managers/import_signatures.py
Labels: none

Initial work towards re-enabling subscription-manager
  autoinstall_snippets/redhat_register
  cobbler/cli.py
  cobbler/items/distro.py
Labels: none

item: deduplicate value from resolve decorator
  changelog.d/3211.fixed
  cobbler/items/__init__.py
  cobbler/items/item.py
  cobbler/items/profile.py
  tests/items/inheritance_test.py
  tests/items/system_test.py
  tests/xmlrpcapi/profile_test.py
Labels: Tests

Use get_conceptual_parent() for resolving attrs
  cobbler/items/item.py
Labels: none

Docker: Add pytest upgrade
  docker/develop/scripts/setup-supervisor.sh
Labels: none

Docker: Add named to image
  docker/develop/develop.dockerfile
  docker/develop/supervisord/conf.d/named.conf
Labels: none

changelog format
  changelog.d/3473.fixed
  changelog.d/3476.added
  changelog.d/3476.changed
Labels: none

Modules: Import - Split "import_winpe" method
  cobbler/modules/managers/import_signatures.py
Labels: none

Fix "could not apply unattended settings during [offlineServicing]"
  cobbler/modules/managers/import_signatures.py
  templates/windows/answerfile.template
  templates/windows/startnet.template
Labels: none

Windows BIOS PXE install (via syslinux pxelinux.0, linux.c32 and wimboot tftp/http)
  autoinstall_snippets/Windows/wait_network_online
  autoinstall_templates/win.ks
  changelog.d/3473.fixed
  changelog.d/3476.added
  changelog.d/3476.changed
  cobbler/actions/mkloaders.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
  cobbler/tftpgen.py
  cobbler/utils/filesystem_helpers.py
  config/cobbler/distro_signatures.json
  docs/user-guide.rst
  docs/user-guide/wingen.rst
  templates/boot_loader_conf/grub.template
  templates/boot_loader_conf/pxe.template
  templates/windows/answerfile.template
  templates/windows/post_inst_cmd.template
  templates/windows/startnet.template
Labels: Documentation

For compatibility with Windows UEFI installation in BCD changed: - Windows Boot Application (13200003) -> Windows Boot Loader - add Path: \windows\system32\winload.exe
  cobbler/modules/sync_post_wingen.py
Labels: none

Test that utils.mkdir is recursive (return to old behavior with implementation via os.makedirs)
  tests/utils/filesystem_helpers_test.py
Labels: Tests

Modules: Bind - Use process_management for named restart
  cobbler/modules/managers/bind.py
Labels: none

Modules: Bind - Add bind_zonefiles to the metadata of the template
  cobbler/modules/managers/bind.py
Labels: none

Modules: Bind - Add docs for helper class
  cobbler/modules/managers/bind.py
Labels: none

Test: Extend basic bind tests
  tests/modules/managers/bind_test.py
Labels: Tests

Makefile: Add -e option for the build
  Makefile
Labels: none

Modules: Bind - Add changelog
  changelog.d/3126.fixed
Labels: none

Tmp
  tests/modules/managers/bind_test.py
Labels: Tests

CI: Disable pycodestyle E203 due to conflict with black
  .prospector.yml
Labels: none
