Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

apply black formater
  cobbler/utils.py
Labels: none

utils: Move signature functions to submodule
  cobbler/api.py
  cobbler/cli.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/remote.py
  cobbler/utils/__init__.py
  cobbler/utils/signatures.py
  cobbler/validate.py
  tests/items/distro_test.py
  tests/items/image_test.py
  tests/utils/__init__.py
  tests/utils/signatures_test.py
  tests/validate_test.py
Labels: Tests

utils: Move process mgmt functions to submodule
  cobbler/actions/check.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/isc.py
  cobbler/modules/sync_post_restart_services.py
  cobbler/utils/__init__.py
  cobbler/utils/process_management.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/isc_test.py
  tests/modules/sync_post_restart_services_test.py
  tests/utils/__init__.py
  tests/utils/process_management_test.py
Labels: Tests

add regex for esxi kernel and initrd
  cobbler/utils.py
Labels: none

Repo: Fix bug so the repo priority can be set
  cobbler/items/repo.py
  cobbler/utils/input_converters.py
  tests/utils/input_converters_test.py
Labels: Tests

utils: Move DHCP enum to enums
  cobbler/enums.py
  cobbler/modules/managers/isc.py
  cobbler/utils/__init__.py
  tests/utils/__init__.py
Labels: Tests

System-Tests: Add tests for cobbler-settings
  system-tests/scripts/run-tests
  system-tests/tests/settings-cli-automigrate-disable
  system-tests/tests/settings-cli-automigrate-enable
  system-tests/tests/settings-cli-migrate
  system-tests/tests/settings-cli-modify-bool
  system-tests/tests/settings-cli-modify-dict
  system-tests/tests/settings-cli-modify-float
  system-tests/tests/settings-cli-modify-int
  system-tests/tests/settings-cli-modify-list
  system-tests/tests/settings-cli-modify-str
  system-tests/tests/settings-cli-verify
Labels: Tests

utils: Move link_distro() to distro.py
  cobbler/actions/replicate.py
  cobbler/cobbler_collections/collection.py
  cobbler/items/distro.py
  cobbler/utils/__init__.py
  tests/items/distro_test.py
  tests/utils/__init__.py
Labels: Tests

cobbler-settings: Fix issues with modify
  bin/cobbler-settings
Labels: none

Logging: Decrease grab_tree level to debug
  cobbler/items/item.py
  config/cobbler/logging_config.conf
Labels: none

utils: Move find_distro_path() to distro.py
  cobbler/actions/sync.py
  cobbler/cobbler_collections/collection.py
  cobbler/items/distro.py
  cobbler/modules/sync_post_wingen.py
  cobbler/utils/__init__.py
  tests/items/distro_test.py
  tests/utils/__init__.py
Labels: Tests

utils: Move filesystem helpers to submodule
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/replicate.py
  cobbler/actions/reposync.py
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/autoinstall_manager.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/repos.py
  cobbler/items/system.py
  cobbler/modules/installation/pre_clear_anamon_logs.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/modules/sync_post_wingen.py
  cobbler/templar.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  cobbler/utils/filesystem_helpers.py
  tests/utils/__init__.py
  tests/utils/filesystem_helpers_test.py
Labels: Tests

Actions: Report - Fix unknown report type
  cobbler/actions/report.py
Labels: none

XML-RPC API: Fix complex objects are return value
  cobbler/items/distro.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

XML-RPC API: get_item_resolved_value for networks
  cobbler/remote.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

Tests: Add for Cobbler report action
  tests/actions/report_test.py
Labels: Tests

Security: Insecure protocol usage
  cobbler/cli.py
  cobbler/modules/authentication/configfile.py
  cobbler/modules/authentication/denyall.py
  cobbler/modules/authentication/pam.py
  cobbler/modules/installation/pre_puppet.py
  cobbler/modules/managers/bind.py
  cobbler/utils/__init__.py
  docs/conf.py
  svc/services.py
Labels: Documentation

CI: Update CodeQL to V2
  .github/workflows/codeql-analysis.yml
Labels: CI

XML-RPC API: Fix complex objects are return value
  cobbler/remote.py
Labels: none

System-Tests: Add settingsfile reset
  system-tests/prelude
  system-tests/scripts/bootstrap
Labels: Tests

XML-RPC: Drop custom handle
  cobbler/remote.py
  cobbler/validate.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/file_test.py
  tests/xmlrpcapi/image_test.py
  tests/xmlrpcapi/menu_test.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/package_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/repo_test.py
  tests/xmlrpcapi/system_test.py
Labels: Tests

CI: Add safe directory to allow codecov to run
  .github/workflows/testing.yml
Labels: CI

Docker: Add wget2 and curl for system-tests
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_34/Fedora34.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

XML-RPC: Add authentication for rename operation
  cobbler/remote.py
Labels: none

Rename occurrences of grubx86 to grubx64
  cobbler/settings/__init__.py
  config/cobbler/settings.yaml
  system-tests/tests/settings-cli-migrate
  system-tests/tests/svc-settings
  templates/etc/dhcp6.template
  tests/actions/buildiso_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: Tests

Tests: Enable svc tests per default for GH
  system-tests/scripts/run-tests
Labels: Tests

System-Tests: svc-puppet - Fix curl syntax
  system-tests/tests/svc-puppet
Labels: Tests

Obsolete modules.conf
  cobbler.spec
  cobbler/api.py
  cobbler/cobbler_collections/manager.py
  cobbler/module_loader.py
  cobbler/modules/authentication/configfile.py
  cobbler/serializer.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/modules.conf
  config/cobbler/settings.yaml
  setup.py
  tests/api/sync_test.py
  tests/items/item_test.py
  tests/module_loader_test.py
  tests/modules/authentication/configfile_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: Tests

Fix leftovers of validateks removal
  config/bash/completion/cobbler
  docs/user-guide.rst
Labels: Documentation

Docs: Fixup rstlint for the user guide
  docs/user-guide.rst
Labels: Documentation

Add suggested changes made by pre-commit
  cobbler/items/distro.py
Labels: none

Enhance error message when kernel is not valid
  cobbler/items/distro.py
Labels: none

CI: Split jobs for system-tests
  .github/workflows/system_testing.yml
Labels: CI

Enhance find_kernel regex to match generic .kernel name
  cobbler/utils/__init__.py
Labels: none

item: deduplicate value from resolve decorator
  cobbler/items/item.py
  tests/items/item_test.py
Labels: Tests

Add support for CentOS Stream 9 and RHEL9 - fix issue #3068
  autoinstall_templates/sample.ks
  cobbler/tftpgen.py
Labels: none

import: autoinstall_meta.setter should not be used as dict
  cobbler/modules/managers/import_signatures.py
Labels: none

Tests: Refactor for reposync action
  tests/actions/reposync_test.py
Labels: Tests

Docs: Readd old image documentation
  docs/cobbler.rst
Labels: Documentation

Actions: Reposync - Cleanup with PyCharm
  cobbler/actions/reposync.py
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
