Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

CLI: Remove bundled CLI
  cobbler.spec
  cobbler/cli.py
  cobbler/cobblerd/setup.py
  cobbler/data/config/bash/completion/cobbler
  docker/debs/build-and-install-debs.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/rpms/build-and-install-rpms.sh
  docs/cobbler.rst
  docs/code-autodoc/cobbler.rst
  docs/conf.py
  docs/index.rst
  setup.py
  tests/cli/__init__.py
  tests/cli/cli_unit_test.py
  tests/cli/cobbler_cli_direct_test.py
  tests/cli/cobbler_cli_object_test.py
  tests/cli/conftest.py
Labels: Documentation, Tests

XML-RPC: Remove xapi_edit
  cobbler/remote.py
  tests/xmlrpcapi/xapi_test.py
Labels: Tests

CI: Increase timeout for testrun
  .github/workflows/performance_testing_automated.yml
Labels: CI

Tests: Add updated benchmark results
  .benchmarks/Linux-CPython-3.11-64bit/0002_e431f73ba97f80c7f18bb44f7400905eb795283d_20250523_081136_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Disable Docker iptables raw
  .github/workflows/performance_testing_automated.yml
  docker/develop/scripts/disable-docker-iptables-raw.sh
Labels: CI

CI: Widen the usage of the iteration parameter
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_edit_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests, CI

Tests: Define performance testing rounds with env variable
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  changelog.d/3911.added
  tests/performance/__init__.py
Labels: Tests, CI

CI: Decrease number of iterations for get_autoinstall
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Remove matrix job for performance testsuite
  .github/workflows/performance_testing_automated.yml
Labels: CI

Tests: Force garbage collect for get_autoinstall
  tests/performance/get_autoinstall_test.py
Labels: Tests

CI: Improve round and iteration numbers
  .github/workflows/performance_testing_automated.yml
  tests/performance/item_edit_test.py
  tests/performance/start_test.py
Labels: Tests, CI

CI: Update number of iterations
  .github/workflows/performance_testing_automated.yml
Labels: CI

Add RHEL 10 to distribution signatures
  changelog.d/3913.fixed
  cobbler/data/config/cobbler/distro_signatures.json
  system-tests/listings/redhat/rhel10/AlmaLinux-10.0-x86_64-minimal.iso/index
  system-tests/tests/import-redhat-rhel10
Labels: Tests

Reduce logging severity to WARNING
  changelog.d/3929.changed
  cobbler/data/config/cobbler/logging_config.conf
Labels: none

Fixes problem with efi netboot
  cobbler/data/config/grub/grub/grub.cfg
Labels: none

snippet keep_files: declare variables local
  cobbler/data/autoinstall_snippets/keep_files
Labels: none

Allow registering RedHat systems with either `redhat_management_org`/ `redhat_management_key` or `redhat_management_user`/`redhat_management_password`
  changelog.d/3539.added
  cobbler/cli.py
  cobbler/data/autoinstall_snippets/redhat_register
  cobbler/data/config/cobbler/settings.yaml
  cobbler/items/distro.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  docs/cobbler-conf/settings-yaml.rst
  tests/api/miscellaneous_test.py
  tests/items/bootable_item_test.py
  tests/items/distro_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/utils_test.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/item_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

anamon: also monitor packaging.log
  cobbler/data/misc/anamon
Labels: none

Remove cobbler-ext-nodes
  bin/cobbler-ext-nodes
  cobbler.spec
  setup.py
Labels: none

cobbler-settings: Migrate to entrypoint script
  cobbler/settings/cli.py
  setup.py
Labels: none

Tests: Remove TEST_NAME variable
  system-tests/scripts/run-tests
  system-tests/tests/buildiso-@
  system-tests/tests/import-@
Labels: Tests

accompanying docs for Ubuntu cloud-init autoinstall (and small template file fix)
  autoinstall_templates/cloud_config_autoinstall
  docs/user-guide.rst
  docs/user-guide/ubuntu-autoinstall.rst
Labels: Documentation

snippet 'keep_files': global variable 'keys_found' should be per-service
  cobbler/data/autoinstall_snippets/keep_files
Labels: none

anamon: also monitor packaging.log
  changelog.d/3931.added
  cobbler/data/misc/anamon
Labels: none

Settings: Allow calling CLI entrypoint for testing
  cobbler/settings/cli.py
Labels: none

CI: Enable buildiso integration tests
  .github/workflows/testing.yml
Labels: CI

Move cloudlinux 8 & 9 integration-tests to import
  tests/integration/buildiso_test.py
  tests/integration/import_test.py
Labels: Tests

API: Remove unused attribute
  cobbler/api.py
Labels: none

Autoinstallgen: Fix ValueError with valid params
  cobbler/autoinstallgen.py
Labels: none

Autoinstall: Typing fixes
  cobbler/autoinstall_manager.py
  cobbler/autoinstallgen.py
Labels: none

Tests: Adjust to fixture changes from integration tests
  tests/actions/buildiso/buildiso_test.py
  tests/actions/reposync_test.py
  tests/api/sync_test.py
  tests/cobbler_collections/distro_collection_test.py
  tests/items/system_test.py
  tests/utils/utils_test.py
  tests/xmlrpcapi/background_test.py
  tests/xmlrpcapi/transaction_test.py
Labels: Tests

CLI: Remove bundled CLI
  changelog.d/3934.removed
  cobbler.spec
  cobbler/cli.py
  cobbler/cobblerd/setup.py
  cobbler/data/config/bash/completion/cobbler
  debian/cobbler.install
  docker/debs/build-and-install-debs.sh
  docker/rpms/build-and-install-rpms.sh
  docs/cobbler.rst
  docs/code-autodoc/cobbler.rst
  docs/conf.py
  docs/index.rst
  setup.py
  tests/cli/__init__.py
  tests/cli/cli_unit_test.py
  tests/cli/cobbler_cli_direct_test.py
  tests/cli/cobbler_cli_object_test.py
  tests/cli/conftest.py
Labels: Documentation, Tests

XML-RPC: Remove xapi_edit
  cobbler/remote.py
  tests/xmlrpcapi/xapi_test.py
Labels: Tests

Serializers: Improve docstrings
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/file.py
  cobbler/modules/serializers/mongodb.py
  cobbler/modules/serializers/sqlite.py
Labels: none

Tests: Rename input_converters testfile to correct pattern
  tests/api/input_converters_test.py
  tests/xmlrpcapi/input_converters_test.py
Labels: Tests

Docker: Fix showing the Cobbler version
  docker/develop/scripts/setup-supervisor.sh
Labels: none

CI: Disable Docker iptables raw
  .github/workflows/performance_testing_automated.yml
  docker/develop/scripts/disable-docker-iptables-raw.sh
Labels: CI

Docs: Fix duplicate cobblerd module entry
  docs/code-autodoc/cobbler.rst
Labels: Documentation

Add types-urllib3 as lint requirement
  setup.py
Labels: none

Docker: Re-Enable MongoDB tests
  .github/workflows/testing.yml
  docker/ci/compose.yml
  docker/develop/scripts/setup-mongodb.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/tests/compose.yml
  tests/integration/data/settings.yaml
Labels: Tests, CI

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
