Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Cloud-Init: Add ubuntu_autoinstall snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ubuntu-autoinstall.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add ubuntu_drivers snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ubuntu-drivers.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add ubuntu_pro snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-ubuntu-pro.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add seed_random snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-seed-random.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add update_etc_hosts snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-update-etc-hosts.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add wireguard snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-wireguard.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add yum_add_repo snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-yum-add-repo.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

Cloud-Init: Add salt snippet
  cobbler/data/templates/jinja/autoinstall/snippets/cloud-init/cloud-init-module-salt-minion.jinja
  tests/special_cases/built_in_snippets_cloud_init_test.py
Labels: Tests

CI: Remove unused Codecov config file
  .codecov.yml
Labels: none

docker: add build of debs for Debian 13 Trixie
  .github/workflows/packaging.yml
  Makefile
  changelog.d/3979.added
  docker/debs/Debian_13/Debian13.dockerfile
  docs/installation-guide.rst
Labels: Documentation, CI

Add debian trixie version system tests
  system-tests/listings/debian/trixie/debian-13.2.0-amd64-netinst.iso/files/dists/trixie/Release
  system-tests/listings/debian/trixie/debian-13.2.0-amd64-netinst.iso/index
  tests/integration/import_test.py
Labels: Tests

Collections: unify kwargs naming
  changelog.d/3732.fixed
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/image_collection_test.py
  tests/cobbler_collections/menu_collection_test.py
  tests/cobbler_collections/network_interface_collection_test.py
  tests/cobbler_collections/profile_collection_test.py
Labels: Tests

Add public methods to reload distro signatures
  changelog.d/3791.added
  cobbler/api.py
  cobbler/remote.py
Labels: none

Docs: Switch to new PyPi name
  docs/requirements.rtd.txt
Labels: Documentation

ItemGroup: Introduction of item type
  changelog.d/3983.added
  cobbler/items/abstract/item_group.py
  tests/items/item_group_test.py
Labels: Tests

Introduce DistroGroup, ProfileGroup and SystemGroup
  cobbler/api.py
  cobbler/cobbler_collections/distro_group.py
  cobbler/cobbler_collections/manager.py
  cobbler/cobbler_collections/profile_group.py
  cobbler/cobbler_collections/system_group.py
  cobbler/data/config/cobbler/settings.yaml
  cobbler/enums.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/abstract/item_group.py
  cobbler/items/distro.py
  cobbler/items/distro_group.py
  cobbler/items/profile.py
  cobbler/items/profile_group.py
  cobbler/items/system.py
  cobbler/items/system_group.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils/filesystem_helpers.py
  cobbler/validate.py
  tests/api/add_test.py
  tests/api/find_test.py
  tests/cobbler_collections/distro_group_collection_test.py
  tests/cobbler_collections/profile_group_collection_test.py
  tests/cobbler_collections/system_group_collection_test.py
  tests/conftest.py
  tests/integration/data/test_svc_settings/expected_settings.json
  tests/items/cache_test.py
  tests/items/distro_group_test.py
  tests/items/item_group_test.py
  tests/items/profile_group_test.py
  tests/items/system_group_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/filesystem_helpers_test.py
  tests/xmlrpcapi/distro_group_test.py
  tests/xmlrpcapi/profile_group_test.py
  tests/xmlrpcapi/system_group_test.py
Labels: Tests

System: Fix setting the profile via objects
  cobbler/items/system.py
Labels: none

Docs: Regenerate code documentation
  docs/code-autodoc/cobbler.autoinstall.generate.rst
  docs/code-autodoc/cobbler.cobbler_collections.rst
  docs/code-autodoc/cobbler.items.abstract.rst
  docs/code-autodoc/cobbler.items.rst
Labels: Documentation

CI: Update black pre-commit hook to 3.11
  .pre-commit-config.yaml
Labels: none

Docs: Specify kernel_options(_post) type
  changelog.d/3212.fixed
  cobbler/items/abstract/bootable_item.py
  cobbler/utils/input_converters.py
Labels: none

Fix changelog naming
  changelog.d/3847.docs
  changelog.d/3847.fixed
Labels: none

Docs: Fix installation guide header style
  docs/installation-guide.rst
Labels: Documentation

Fix generate_autoinstall empty-string inputs (#3807)
  changelog.d/3807.fixed
  cobbler/remote.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

CI: Switch to ubuntu-latest
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
  .github/workflows/performance_testing.yml
  .github/workflows/release.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
  .readthedocs.yml
Labels: CI

bind_test: Implement mock files as a class
  tests/modules/managers/bind_test.py
Labels: Tests

bind_test: Do not mock file writes
  tests/modules/managers/bind_test.py
Labels: Tests

bind_test: Check bind serial in the filesystem
  tests/modules/managers/bind_test.py
Labels: Tests

bind_test: Allow to disable mocking for some files
  tests/modules/managers/bind_test.py
Labels: Tests

bind_test: Test empty forward and reverse zones
  tests/modules/managers/bind_test.py
Labels: Tests

bind_test: Test host-specific records in DNS zone files
  tests/modules/managers/bind_test.py
Labels: Tests

bind_test: Check interfaces with non-numeric IPv6 addresses
  tests/modules/managers/bind_test.py
Labels: Tests

Modules: Bind - Fix IPv6 sorting
  cobbler/modules/managers/bind.py
Labels: none

bind_test: Check sorting of zone files
  tests/modules/managers/bind_test.py
Labels: Tests

Add changelog and remove test todos
  changelog.d/3988.fixed
  cobbler/modules/managers/bind.py
  tests/modules/managers/bind_test.py
Labels: Tests

Fix ESXi import signatures
  changelog.d/2889.fixed
  cobbler/modules/managers/import_signatures.py
  tests/modules/managers/import_signatures_test.py
Labels: Tests

Drop changelog edits
  cobbler/items/abstract/bootable_item.py
  cobbler/items/distro.py
  cobbler/items/profile.py
  cobbler/items/system.py
Labels: none

Move more network configuration into pre_install_network_config; Handle basic bridges
  cobbler/data/templates/cheetah/autoinstall/snippets/network_config.template
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none

Add changelog fragment
  changelog.d/3941.changed
Labels: none

pre_install_network_config: Handle bonds, more cleanup
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none

pre_install_network_config: Fix typo, handle bonded_bridge_slave better
  cobbler/data/templates/cheetah/autoinstall/snippets/pre_install_network_config.template
Labels: none
