Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Distro: Require either local or remote kernel+initrd
  cobbler/items/distro.py
  cobbler/tftpgen.py
  tests/cobbler_collections/distro_collection_test.py
  tests/items/distro_test.py
Labels: Tests

tftpgen: Increase pathlib usage
  cobbler/tftpgen.py
Labels: none

Managers: Split into DHCP, DNS and TFTP managers
  cobbler/actions/sync.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/systems.py
  cobbler/manager.py
  cobbler/modules/managers/__init__.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/modules/managers/isc.py
  cobbler/modules/managers/ndjbdns.py
Labels: none

pyright: api.py
  cobbler/api.py
Labels: none

replace gitter badge with a matrix badge
  README.md
Labels: none

fix broken matrix chat link
  README.md
Labels: none

Make: Improve clean target
  Makefile
Labels: none

fix the error report when starting service
  cobbler/api.py
Labels: none

CI: Add changelog automation
  .github/workflows/changelog.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  changelog.d/changelog_template.jinja
  changelog/.keep
  setup.py
  towncrier.toml
Labels: CI

CI: Unify release workflows to reduce duplication
  .github/workflows/release.yml
  .github/workflows/release_master.yml
Labels: CI

CI: Add workflow to increase version automatically
  .github/workflows/increase-version.yml
Labels: CI

Add Debian 12
  config/cobbler/distro_signatures.json
  system-tests/listings/debian/bookworm/debian-12.0.0-amd64-DVD-1.iso/files/dists/bookworm/Release
  system-tests/listings/debian/bookworm/debian-12.0.0-amd64-DVD-1.iso/index
  system-tests/tests/import-debian-bookworm
Labels: Tests

Add changelog
  changelog.d/3449.added
Labels: none

Address issue #3450: Pass argument type parameter to optparse add_option() call
  cobbler/cli.py
Labels: none

Address issue #3445 - Fix issue with web.ss file ownership for restarts
  cobbler/cobblerd.py
Labels: none

added mtools, copy and mkdir inside image
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/utils/filesystem_helpers.py
Labels: none

fixup tests
  cobbler/actions/buildiso/__init__.py
  cobbler/utils/filesystem_helpers.py
  tests/utils/filesystem_helpers_test.py
Labels: Tests

fix
  cobbler/utils/filesystem_helpers.py
Labels: none

Fix broken symlinks for import tests
  system-tests/tests/import-freebsd-freebsd11.4
  system-tests/tests/import-freebsd-freebsd12.1
  system-tests/tests/import-freebsd-freebsd13.1
  system-tests/tests/import-freebsd-freebsd13.2
  system-tests/tests/import-freebsd11.4
  system-tests/tests/import-freebsd12.1
  system-tests/tests/import-freebsd13.1
  system-tests/tests/import-freebsd13.2
  system-tests/tests/import-sles15sp2
  system-tests/tests/import-sles15sp3
  system-tests/tests/import-sles15sp4
  system-tests/tests/import-suse-sles15sp2
  system-tests/tests/import-suse-sles15sp3
  system-tests/tests/import-suse-sles15sp4
Labels: Tests

add mtools dep in spec file
  cobbler.spec
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

Use Fedora Rawhide for tests
  tests/actions/reposync_test.py
Labels: Tests

Use Python3.11 instead of Python 3.10 in develop container
  docker/develop/develop.dockerfile
Labels: none

Use dhcp manager's restart_service method in sync
  changelog.d/3463.fixed
  cobbler/modules/sync_post_restart_services.py
  tests/modules/sync_post_restart_services_test.py
Labels: Tests

setup.py: Add types-mock
  setup.py
Labels: none

Fix package building with Sphinx >= 7.0.0
  Makefile
  cobbler.spec
  setup.py
Labels: none

Include main Makefile into MANIFEST.in to allow building manpages
  MANIFEST.in
Labels: none

Enhance CONTRIBUTING.md with notes about Pull Requests
  CONTRIBUTING.md
Labels: none

Fix data blender for buildiso netboot
  cobbler/actions/buildiso/netboot.py
Labels: none

Add unit test to check for kernel options in generated strings
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Add tests for correct kernel_opts blending
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Add changelog and code review fix
  changelog.d/3472.fixed
  cobbler/actions/buildiso/netboot.py
Labels: none

Reformat test file by black linter
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Backport windows BCD fix from PR #2575 for 3.2
  cobbler/modules/sync_post_wingen.py
Labels: none

Backport windows UEFI fix from PR cobbler#3476 for 3.3
  cobbler/modules/sync_post_wingen.py
Labels: none

added mtools, copy and mkdir inside image (#3457)
  changelog.d/3457.changed
  cobbler/actions/buildiso/__init__.py
  cobbler/utils/filesystem_helpers.py
  tests/utils/filesystem_helpers_test.py
Labels: Tests

Tests: Make filesystem_helpers pyright compatible
  tests/utils/filesystem_helpers_test.py
Labels: Tests

fix Codacy Static Code Analysis
  cobbler/utils/filesystem_helpers.py
Labels: none

Adjust source for CI containers used in GitHub actions
  .github/workflows/performance_testing.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Adjust OBS automation to use new repository
  .obs/main.yml
  .obs/pull_request.yml
Labels: Packaging

Fix "could not apply unattended settings during [offlineServicing]" for 3.3
  cobbler/modules/managers/import_signatures.py
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
