Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Remove unnecessary line which inserted local mirror into apt sources without checking any conditions
  autoinstall_snippets/late_apt_repo_config
Labels: none

tftpgen: Use ENUM value
  cobbler/tftpgen.py
Labels: none

signatures: Add cloudlinux 8/9
  config/cobbler/distro_signatures.json
Labels: none

System-Tests: Add cloudlinux 8 & 9
  system-tests/listings/redhat/cloudlinux8/CloudLinux-8.7-x86_64-dvd.iso/index
  system-tests/listings/redhat/cloudlinux9/CloudLinux-9.1-x86_64-dvd.iso/index
  system-tests/tests/buildiso-redhat-cloudlinux8
  system-tests/tests/buildiso-redhat-cloudlinux9
Labels: Tests

cobbler-settings: Switch to utils module
  bin/cobbler-settings
Labels: none

System-Tests: Fixup settings-cli test for 3.3.3
  system-tests/tests/settings-cli-migrate
Labels: Tests

CI: Use official test container for 3.3.x
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Refactor Buildiso: split logic and I/O
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  templates/iso/isolinux_menuentry.template
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Refactor: polymorphic buildiso run() methods
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
Labels: none

Add EFI support with ESP and grub.cfg
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  templates/iso/grub_menuentry.template
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Add dosfstools to dockerfiles
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

Fix generate_autoinstall when passing a system
  cobbler/autoinstallgen.py
Labels: none

CI: Execute container with highest privileges
  .github/workflows/performance_testing.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

CI: Add pyright
  .github/workflows/lint.yml
  pyproject.toml
Labels: CI

Tests: Fulfill strict pyright requirements
  tests/actions/hardlink_test.py
  tests/actions/replicate_test.py
  tests/actions/status_test.py
  tests/cli/cobbler_cli_object_test.py
  tests/cli/conftest.py
  tests/conftest.py
  tests/items/item_test.py
  tests/items/profile_test.py
  tests/modules/serializer/file_test.py
  tests/utils/signatures_test.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/system_test.py
Labels: Tests

Setup: Add specific linter versions
  .github/workflows/lint.yml
  setup.py
Labels: CI

Tests: Revert files that have only cosmetic changes
  tests/cli/cobbler_cli_object_test.py
Labels: Tests

System-Test: Changes for 3.3.3
  system-tests/tests/settings-cli-automigrate-disable
  system-tests/tests/settings-cli-automigrate-enable
  system-tests/tests/settings-cli-migrate
  system-tests/tests/settings-cli-modify-bool
  system-tests/tests/settings-cli-modify-dict
  system-tests/tests/settings-cli-modify-float
  system-tests/tests/settings-cli-modify-int
  system-tests/tests/settings-cli-modify-list
  system-tests/tests/settings-cli-modify-str
Labels: Tests

Docker: Remove setup of reposync
  docker/develop/scripts/setup-reposync.sh
  docker/develop/scripts/setup-supervisor.sh
Labels: none

Docker: Submit changes from OBS
  docker/develop/develop.dockerfile
Labels: none

Make: Introduce target to build container
  Makefile
Labels: none

cobbler-settings: Workaround for optional matching
  bin/cobbler-settings
Labels: none

Docs: Windows import
  docs/user-guide/wingen.rst
Labels: Documentation

Tests: Adjust for pytest version older than 6
  tests/conftest.py
  tests/items/item_test.py
  tests/items/system_test.py
Labels: Tests

cobbler-settings: Early return
  bin/cobbler-settings
Labels: none

cobbler-settings: Comment for for-loop
  bin/cobbler-settings
Labels: none

cobbler-settings: Remove redundant Optional check
  bin/cobbler-settings
Labels: none

cobbler-settings: Explain list vs isinstance list scenario
  bin/cobbler-settings
Labels: none

cobbler-settings: Add comment about Hadolint
  docker/develop/develop.dockerfile
Labels: none

CI: Use new image for testing
  .github/workflows/performance_testing.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

CI: Trigger service for main branch
  .obs/main.yml
Labels: Packaging

Docker: Update for new image building process
  docker/develop/develop.dockerfile
Labels: none

SPEC: Use createrepo_c for Ubuntu 22 and later
  cobbler.spec
Labels: none

Add new distros to signatures and update isort
  .pre-commit-config.yaml
  config/cobbler/distro_signatures.json
Labels: none

Fix anamon invalid type
  cobbler/remote.py
  misc/anamon
Labels: none

Docs: Move autoinstallation to dedicated page
  docs/user-guide.rst
  docs/user-guide/automatic-installation.rst
Labels: Documentation

tftpgen: Use format string
  cobbler/tftpgen.py
Labels: none

Fix anamon invalid type
  cobbler/remote.py
  misc/anamon
Labels: none

Fix anamon invalid type
  cobbler/remote.py
  misc/anamon
Labels: none

Include install append line in all cases
  cobbler/actions/buildiso/netboot.py
Labels: none
