Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

Only call __interface_edit if in fact there are interface keys to edit.
  cobbler/remote.py
Labels: none

Tests: Move xapi_edit tests to dedicated file
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/xapi_test.py
Labels: Tests

Remote: Fix modify_setting
  cobbler/remote.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Tests: Remove redundant testclass
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

API: Add typehint for settings
  cobbler/api.py
Labels: none

XML-RPC: Add more typehints
  cobbler/remote.py
Labels: none

Tests: Add more typehints
  tests/conftest.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Fix parmfile for s390 systems when long parameters
  cobbler/tftpgen.py
  tests/tftpgen_test.py
Labels: Tests

Tftpgen: Replace hardcoded str with constant value
  cobbler/tftpgen.py
Labels: none

Tftpgen: Extend docstring with directory layout and typing
  cobbler/tftpgen.py
Labels: none

Tests: Tftpgen - Enable write_all_system_files
  tests/tftpgen_test.py
Labels: Tests

Tests: Add strict typing and docs for tftpgen used fixtures
  tests/conftest.py
Labels: Tests

Tests: Type test method signatures for tftpgen
  tests/tftpgen_test.py
Labels: Tests

Tests: Fixup more tftpgen tests
  tests/tftpgen_test.py
Labels: Tests

Tests: Add testcase for different case item names
  tests/api/add_test.py
Labels: Tests

Tests: Test uppercase and lowercase item rename operations
  tests/cobbler_collections/distro_collection_test.py
Labels: Tests

Fix: rename item
  cobbler/cobbler_collections/collection.py
Labels: none

Remove regression that only lowercase items are allowed implicitly
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/manager.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/modules/installation/post_report.py
Labels: none

Tests: Add typing for distro_collection_test
  tests/cobbler_collections/conftest.py
  tests/cobbler_collections/distro_collection_test.py
Labels: Tests

Backport gh/cobbler/cobbler/3351
  cobbler/tftpgen.py
  tests/tftpgen_test.py
Labels: Tests

Fix: Add inheritance to overlooked properties
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  cobbler/utils/signatures.py
  tests/items/distro_test.py
  tests/items/file_test.py
  tests/items/image_test.py
  tests/items/item_test.py
  tests/items/menu_test.py
  tests/items/mgmtclass_test.py
  tests/items/network_interface_test.py
  tests/items/package_test.py
  tests/items/profile_test.py
  tests/items/repo_test.py
  tests/items/resource_test.py
  tests/items/system_test.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

Fix: keys in distro_signatures.json must be in lowercase
  config/cobbler/distro_signatures.json
Labels: none

CI: Add coverage also to Codacy
  .github/workflows/testing.yml
Labels: CI

CI: Fixup name of black linter
  .github/workflows/lint.yml
Labels: CI

README: Switch to Codacy badge
  README.md
Labels: none

Add SUSE copyright
  cobbler.spec
Labels: none

Backport b11b231
  cobbler.spec
Labels: none

Add missing import to conftest.py (#22)
  tests/conftest.py
Labels: Tests

Update tftpgen.py
  cobbler/tftpgen.py
Labels: none

Remove actions for releasing package
  .github/workflows/release.yml
  .github/workflows/release_master.yml
Labels: CI

Adjust target branches for GH actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Parse reposync --tries argument as integer
  cobbler/cli.py
Labels: none

Update late_apt_repo_config
  autoinstall_snippets/late_apt_repo_config
Labels: none

Delete late_apt_repo_config
  autoinstall_snippets/late_apt_repo_config
Labels: none

CI: Add isort
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: CI

System-Tests: Add tests for cobbler-settings
  system-tests/scripts/run-tests
  system-tests/tests/settings-cli-automigrate-disable
  system-tests/tests/settings-cli-automigrate-enable
  system-tests/tests/settings-cli-migrate
  system-tests/tests/settings-cli-modify-bool
  system-tests/tests/settings-cli-modify-dict
  system-tests/tests/settings-cli-modify-float
  system-tests/tests/settings-cli-modify-int
  system-tests/tests/settings-cli-modify-list
  system-tests/tests/settings-cli-modify-str
  system-tests/tests/settings-cli-verify
Labels: Tests

cobbler-settings: Fix issues with modify
  bin/cobbler-settings
Labels: none

Scripts: Fix shellcheck warnings
  scripts/settings-migration-v1-to-v2.sh
Labels: none

Add missing space between pxelinux config options: priority=critical and netcfg/choose_interface
  cobbler/tftpgen.py
Labels: none

CI: Pin rstcheck to appropiate version
  .github/workflows/lint.yml
Labels: CI

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
