Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

This uses a real boolean instead of a one converted to a str
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

Further reduce code duplication
  autoinstall_snippets/autoinstall_done
  autoinstall_snippets/autoinstall_start
Labels: none

fix: maximum recursion depth exceeded
  changelog.d/3654.fixed
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/manager.py
  cobbler/items/item.py
  cobbler/remote.py
Labels: none

background_load_items
  changelog.d/3677.added
  cobbler/cobblerd.py
  cobbler/remote.py
  cobbler/utils/thread.py
  tests/xmlrpcapi/background_test.py
Labels: Tests

Fix windows for 3.2
  autoinstall_snippets/Windows/wait_network_online
  autoinstall_snippets/wait_network_online
  autoinstall_templates/win.ks
  cobbler.spec
  cobbler/grub.py
  cobbler/items/distro.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
  cobbler/settings.py
  cobbler/tftpgen.py
  config/cobbler/distro_signatures.json
  config/cobbler/settings.d/windows.settings
  docs/user-guide/wingen.rst
  setup.py
  templates/boot_loader_conf/gpxe_profile_windows.template
  templates/boot_loader_conf/grubprofile.template
  templates/boot_loader_conf/grubsystem.template
  templates/boot_loader_conf/pxeprofile.template
  templates/boot_loader_conf/pxesystem.template
  templates/windows/answerfile.template
  templates/windows/post_inst_cmd.template
  templates/windows/startnet.template
Labels: Documentation

Add EFI chainloader for SLE-Micro
  changelog.d/3675.added
  config/grub/grub/local_efi.cfg
Labels: none

Add compatibility with the file binary version below 5.37
  changelog.d/3679.added
  cobbler/modules/managers/import_signatures.py
  cobbler/tftpgen.py
  docs/user-guide/wingen.rst
  system-tests/tests/svc-ipxe-profile
Labels: Documentation, Tests

Add compatibility with the file binary version below 5.37
  changelog.d/3680.added
  cobbler/modules/managers/import_signatures.py
  cobbler/tftpgen.py
  system-tests/tests/svc-ipxe-profile
  templates/boot_loader_conf/ipxe.template
Labels: Tests

Backport: Windows support from 3.4
  autoinstall_snippets/Windows/wait_network_online
  autoinstall_templates/win.ks
  cobbler.spec
  cobbler/grub.py
  cobbler/items/distro.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
  cobbler/settings.py
  cobbler/tftpgen.py
  config/cobbler/distro_signatures.json
  config/cobbler/settings.d/windows.settings
  docs/user-guide/wingen.rst
  setup.py
  templates/boot_loader_conf/gpxe_profile_windows.template
  templates/boot_loader_conf/grubprofile.template
  templates/boot_loader_conf/grubsystem.template
  templates/boot_loader_conf/pxeprofile.template
  templates/boot_loader_conf/pxesystem.template
  templates/windows/answerfile.template
  templates/windows/post_inst_cmd.template
  templates/windows/startnet.template
Labels: Documentation

Accept InfiniBand MAC addresses
  cobbler/validate.py
Labels: none

Backport fix for PXE boot filename
  templates/etc/dhcp.template
Labels: none

Allow registering RedHat systems with either `redhat_management_org`/ `redhat_management_key` or `redhat_management_user`/`redhat_management_password`
  autoinstall_snippets/redhat_register
  autoinstall_snippets/rhn_certificate_based_register
  cobbler/items/distro.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/settings.py
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

Make redhat_management_* settings optional
  cobbler/settings.py
Labels: none

Add redhat_management_* fields to UI
  cobbler/web/field_ui_info.py
Labels: none

Allow registering RedHat systems with either `redhat_management_org`/ `redhat_management_key` or `redhat_management_user`/`redhat_management_password`
  autoinstall_snippets/redhat_register
  changelog.d/3539.added
  cobbler/cli.py
  cobbler/items/distro.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  tests/api/miscellaneous_test.py
  tests/items/distro_test.py
  tests/items/item_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/utils_test.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/item_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Documentation, Tests

CI: Add manual performance testing workflow
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Fix folder pattern for benchmark upload
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Remove codecov upload from testing
  .github/workflows/testing.yml
Labels: CI

CI: Trust the git folder for the performance testsuite
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI

CI: Trust git repository during integration tests
  .github/workflows/testing.yml
Labels: CI

CI: Remove coverage reporting for automated performance tests
  .github/workflows/performance_testing_automated.yml
Labels: CI

Signatures: Update default signatures URL
  changelog.d/3696.added
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  system-tests/tests/svc-settings
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/utils_test.py
Labels: Documentation, Tests

CI: Increase timeout for benchmark generation
  .github/workflows/performance_testing_manual.yml
Labels: CI

Fix downloads with proxy_url_ext set
  cobbler/download_manager.py
Labels: none

Fix downloads with proxy_url_ext set
  changelog.d/2472.fixed
  cobbler/download_manager.py
Labels: none

Collection indexes
  changelog.d/3671.added
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/item.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/system_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: Tests

Deduplicate NetworkInterface index update
  cobbler/items/system.py
Labels: none

Move interface index update to Systems collection
  cobbler/cobbler_collections/systems.py
  cobbler/items/system.py
Labels: none

CI: Split performance testsuite into matrix job
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Add performance comparison
  .benchmarks/Linux-CPython-3.11-64bit/0001_4989f124d2bbc7425e39a3268267ee6e337a781b_20240527_132104_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Improve runs to 50
  .github/workflows/performance_testing_automated.yml
Labels: CI

CI: Replace "master" comparison file
  .benchmarks/Linux-CPython-3.11-64bit/0001_fa663b82919798d9eb623bdd9e021a747b186ddb_20240528_151313_uncommited-changes.json
Labels: none

Collection: Remove duplicate system serialization
  cobbler/cobbler_collections/collection.py
Labels: none

update landing page with note about content
  docs/index.rst
Labels: Documentation

Docker: Switch to new repo location
  docker/develop/develop.dockerfile
Labels: none

Docker: Add new dependencies for performance testsuite
  docker/develop/develop.dockerfile
Labels: none

Docker: Switch from .repo to normal repo add
  docker/develop/develop.dockerfile
Labels: none

CI: Trust repository inside the container
  .github/workflows/performance_testing.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

API: Fix get_event_log endpoint
  changelog.d/3708.fixed
  cobbler/enums.py
  cobbler/remote.py
  cobbler/utils.py
Labels: none

move sections to autoinstall page
  docs/user-guide.rst
  docs/user-guide/automatic-installation.rst
Labels: Documentation

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
