Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Remove deprecated encoding after moving away from simplejson
  cobbler/settings/migrations/V3_0_0.py
Labels: none

Include setup files for tests container subpackage
  setup.py
Labels: none

Add cobbler-tests-containers subpackage to cobbler.spec
  cobbler.spec
Labels: none

Use debmirror package from Fedora 37 repo (as Fedora 35 is EOL)
  docker/develop/develop.dockerfile
  docker/develop/scripts/setup-reposync.sh
Labels: none

Prevent issues in case request.node.originalname is not available
  tests/conftest.py
  tests/items/item_test.py
Labels: Tests

Allow loopback on test_local_get_cobbler_api_url
  tests/utils/__init__.py
Labels: Tests

Exclude possible 'default' network interface from testing results
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

Fix tests to use real symlink and do not rely on expectations
  tests/utils/filesystem_helpers_test.py
  tests/utils/mtab_test.py
Labels: Tests

Move away from Fedora 34 (EOL) to latest Fedora 37
  .github/workflows/packaging.yml
  Makefile
  cobbler.spec
  docker-compose.yml
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Fedora_37/supervisord/conf.d/cobblerd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/dhcpd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/httpd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/slapd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/tftpd.conf
  docker/rpms/Fedora_37/supervisord/supervisord.conf
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docs/installation-guide.rst
Labels: Documentation, CI

Add new tests subpackages for DEB packages
  Makefile
  debian/cobbler-tests-containers.install
  debian/cobbler-tests.install
  debian/control
Labels: none

Prevent pybuild to build an empty DEB package
  debian/clean
  debian/cobbler.install
  debian/rules
Labels: none

PyUp: Remove tool
  .pyup.yml
Labels: none

Pin netaddr to latest version 0.8.0
  docs/requirements.rtd.txt
Labels: Documentation

Pin cheetah3 to latest version 3.2.6.post2
  docs/requirements.rtd.txt
Labels: Documentation

Pin dnspython to latest version 2.2.1
  docs/requirements.rtd.txt
Labels: Documentation

Pin pyyaml to latest version 6.0
  docs/requirements.rtd.txt
Labels: Documentation

Pin distro to latest version 1.8.0
  docs/requirements.rtd.txt
Labels: Documentation

Update sphinx_rtd_theme from 1.0.0 to 1.1.1
  docs/requirements.rtd.txt
Labels: Documentation

Pin file-magic to latest version 0.4.1
  docs/requirements.rtd.txt
Labels: Documentation

Pin schema to latest version 0.7.5
  docs/requirements.rtd.txt
Labels: Documentation

Update distro_signatures.json for rhel9, fedora33-37
  config/distro_signatures.json
Labels: none

Sync distro_signatures.json - add almalinux/rocky and bullseye
  config/distro_signatures.json
Labels: none

Skip wrong collections instead of crashing
  cobbler/cobbler_collections/collection.py
  cobbler/modules/serializers/file.py
  cobbler/utils/__init__.py
Labels: none

Add BaseOS folder to import_rsync_whitelist
  config/rsync/import_rsync_whitelist
Labels: none

Add BaseOS folder to import_rsync_whitelist
  config/rsync/import_rsync_whitelist
Labels: none

Ignore: Update to new IDEs
  .gitignore
Labels: none

Do generate boot menus even if no profiles or systems - only local boot
  cobbler/tftpgen.py
Labels: none

Tests: tftpgen - Add test stubs
  tests/tftpgen_test.py
Labels: Tests

tftpgen: make_pxe_menu - Better default for timout_action
  cobbler/tftpgen.py
Labels: none

tftpgen: make_pxe_menu - Remove redundant variable
  cobbler/tftpgen.py
Labels: none

tftpgen: Make dict keys available at top level
  cobbler/tftpgen.py
Labels: none

tftpgen: Convert to f-strings
  cobbler/tftpgen.py
Labels: none

tftpgen: build_kernel - Add missing docstring
  cobbler/tftpgen.py
Labels: none

tftpgen: Remove duplicated list calls
  cobbler/tftpgen.py
Labels: none

tftpgen: make_pxe_menu - Slice into smaller methods
  cobbler/tftpgen.py
Labels: none

tftpgen: write_templates - Small optimizations
  cobbler/tftpgen.py
Labels: none

tftpgen: write_all_system_files - Splitout s390 logic
  cobbler/tftpgen.py
Labels: none

tftpgen: get_submenus - Splitout child logic
  cobbler/tftpgen.py
Labels: none

tftpgen: get_*_menu - Deduplicate bootloader logic
  cobbler/tftpgen.py
Labels: none

Tests: Skip broken new tests
  tests/tftpgen_test.py
Labels: Tests
