Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

Add test for buildiso profile with install set
  tests/actions/buildiso/append_line_test.py
Labels: Tests

Tests: Make append_line_test pyright compatible
  tests/actions/buildiso/append_line_test.py
Labels: Tests

Docs: Add changelog for Cobbler Items
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/resource.py
  cobbler/items/system.py
Labels: none

Docs: Add Python, XML-RPC and HTTP-API changelogs
  cobbler/api.py
  cobbler/remote.py
  cobbler/services.py
Labels: none

Tmp
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/resource.py
  cobbler/items/system.py
Labels: none

Items: Profile - Fix bug for filename being "<<inherit>>"
  cobbler/items/menu.py
  cobbler/items/profile.py
Labels: none

Tests: Add testcases for profile parent and filename
  tests/items/profile_test.py
Labels: Tests

Include setup files for tests container subpackage
  cobbler.spec
  setup.py
Labels: none

Docker: Exclude not available GRUB package
  docker/develop/develop.dockerfile
Labels: none

CI: Update OBS workflow for release33
  .obs/workflows.yml
Labels: Packaging

Ignore: Add vscode
  .gitignore
Labels: none

Backport fix for CVE-2022-0860
  cobbler/modules/authentication/pam.py
Labels: none

Backport removal of get-loaders to 3.2
  cobbler/actions/check.py
  cobbler/actions/dlcontent.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  config/bash/completion/cobbler
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
  docs/cobbler.rst
  docs/code-autodoc/cobbler.actions.rst
  tests/cli/cobbler_cli_direct_test.py
  tests/xmlrpcapi/background_test.py
Labels: Documentation, Tests

Backport PR #2590 autoinstall_templates fix for 3.2
  cobbler/actions/sync.py
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
  tests/test_data/settings_old
Labels: Documentation, Tests

fix/ldap_anonymous_bind
  cobbler/modules/authentication/ldap.py
Labels: none

Sync signatures from master
  config/cobbler/distro_signatures.json
Labels: none

Add support for older anaconda
  cobbler/actions/buildiso.py
  cobbler/tftpgen.py
Labels: none

Install everything in scripts/ to get migrate-data-v2-to-v3.py
  setup.py
Labels: none

Ingore: Add vscode settings directory
  .gitignore
Labels: none

modules/managers/import: Fix windows import
  cobbler/modules/managers/import_signatures.py
Labels: none

Fix filename inheritence
  cobbler/items/profile.py
Labels: none

Tmp
  autoinstall_templates/win.ks
  cobbler/modules/managers/import_signatures.py
Labels: none

modify docker/rpms/build-and-install-rpms.sh to be more POSIX compatible
  docker/rpms/build-and-install-rpms.sh
Labels: none

modify docker/develop/scripts/setup-openldap.sh to be more POSIX compatible
  docker/develop/scripts/setup-openldap.sh
Labels: none

modify misc/anamon.init to be more POSIX compatible
  misc/anamon.init
Labels: none

modify system-tests/tests/autoinstall-dummy-bios to be more POSIX compatible
  system-tests/tests/autoinstall-dummy-bios
Labels: Tests

modify docker/debs/build-and-install-debs.sh to be more POSIX compatible
  docker/debs/build-and-install-debs.sh
Labels: none

modify distro_build_configs.sh to be more POSIX compatible
  distro_build_configs.sh
Labels: none

fixed issue with profile and pxe menu
  cobbler/items/profile.py
Labels: none

Tests: Add test for match single key
  tests/items/item_test.py
Labels: Tests

Tests: Add create_menu fixture
  tests/conftest.py
Labels: Tests

Tests: Add find_match for profile
  tests/items/profile_test.py
Labels: Tests

Use bootloader config parameters in expected order
  cobbler/actions/buildiso/netboot.py
Labels: none

Fix package building with Sphinx >= 7.0.0
  Makefile
  cobbler.spec
  setup.py
Labels: none

Add import tests and listings for fedora, cloudlinux and ubuntu
  system-tests/listings/redhat/cloudlinux7/CloudLinux-DVD-x86_64-7.9.iso/index
  system-tests/listings/redhat/fedora36/Fedora-Workstation-Live-x86_64-36-1.5.iso/index
  system-tests/listings/redhat/fedora37/Fedora-Workstation-Live-x86_64-37-1.7.iso/index
  system-tests/listings/redhat/fedora38/Fedora-Workstation-Live-x86_64-38-1.6.iso/index
  system-tests/listings/ubuntu/groovy/ubuntu-20.10-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/groovy/ubuntu-20.10-desktop-amd64.iso/files/dists/groovy/Release
  system-tests/listings/ubuntu/groovy/ubuntu-20.10-desktop-amd64.iso/index
  system-tests/listings/ubuntu/hirsute/ubuntu-21.04-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/hirsute/ubuntu-21.04-desktop-amd64.iso/files/dists/hirsute/Release
  system-tests/listings/ubuntu/hirsute/ubuntu-21.04-desktop-amd64.iso/index
  system-tests/listings/ubuntu/kinetic/ubuntu-22.10-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/kinetic/ubuntu-22.10-desktop-amd64.iso/files/dists/kinetic/Release
  system-tests/listings/ubuntu/kinetic/ubuntu-22.10-desktop-amd64.iso/index
  system-tests/listings/ubuntu/lunar/ubuntu-23.04-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/lunar/ubuntu-23.04-desktop-amd64.iso/files/dists/lunar/Release
  system-tests/listings/ubuntu/lunar/ubuntu-23.04-desktop-amd64.iso/index
  system-tests/tests/import-redhat-cloudlinux7
  system-tests/tests/import-redhat-fedora36
  system-tests/tests/import-redhat-fedora37
  system-tests/tests/import-redhat-fedora38
  system-tests/tests/import-ubuntu-groovy
  system-tests/tests/import-ubuntu-hirsute
  system-tests/tests/import-ubuntu-kinetic
  system-tests/tests/import-ubuntu-lunar
Labels: Tests

Include main Makefile into MANIFEST.in to allow building manpages
  MANIFEST.in
Labels: none

Add listings and import tests for sles and freebsd
  system-tests/listings/freebsd/freebsd11.4/FreeBSD-11.4-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd11.4/FreeBSD-11.4-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/freebsd/freebsd12.1/FreeBSD-12.1-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd12.1/FreeBSD-12.1-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/freebsd/freebsd13.1/FreeBSD-13.1-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd13.1/FreeBSD-13.1-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/freebsd/freebsd13.2/FreeBSD-13.2-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd13.2/FreeBSD-13.2-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/suse/sles15sp2/SLE-15-SP2-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles15sp3/SLE-15-SP3-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles15sp4/SLE-15-SP4-Full-x86_64-GM-Media1.iso/index
  system-tests/tests/import-freebsd11.4
  system-tests/tests/import-freebsd12.1
  system-tests/tests/import-freebsd13.1
  system-tests/tests/import-freebsd13.2
  system-tests/tests/import-sles15sp2
  system-tests/tests/import-sles15sp3
  system-tests/tests/import-sles15sp4
Labels: Tests

multi: template + snippets improvements
  autoinstall_snippets/network_disable_interfaces
  autoinstall_snippets/partition_rhel
  autoinstall_snippets/pre_install_network_config
  autoinstall_templates/sample.ks
Labels: none

Docker: Add openssl explicitly to the TW images
  docker/develop/develop.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: none

pyright: utils module
  cobbler/utils/__init__.py
  cobbler/utils/filesystem_helpers.py
Labels: none
