Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

CI: Add higher privilege level for container
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Docker: Add dosfstools to Debian 12
  docker/debs/Debian_12/Debian12.dockerfile
Labels: none

tftpgen: Always generate boot menus
  changelog.d/3753.fixed
  cobbler/tftpgen.py
Labels: none

Fix: rename item (bsc#1204900) (bsc#1209149)
  changelog.d/3745.fixed
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/manager.py
  cobbler/cobbler_collections/profiles.py
  tests/collections/conftest.py
  tests/collections/distro_collection_test.py
Labels: Tests

CI: Add repo execution condition on release workflow
  .github/workflows/release.yml
  changelog.d/3743.added
Labels: CI

CI: Merge the PyPi release workflows
  .github/workflows/release.yml
  .github/workflows/release_master.yml
  changelog.d/3769.added
Labels: CI

CI: Update actions/checkout to v4
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
  .github/workflows/performance_testing.yml
  .github/workflows/release.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI

Settings: Add extra_settings_list
  bin/cobbler-settings
  changelog.d/3771.added
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_1_2.py
  cobbler/settings/migrations/V3_2_0.py
  cobbler/settings/migrations/V3_2_1.py
  cobbler/settings/migrations/V3_3_0.py
  cobbler/settings/migrations/V3_3_1.py
  cobbler/settings/migrations/V3_3_2.py
  cobbler/settings/migrations/V3_3_3.py
  cobbler/settings/migrations/V3_3_5.py
  cobbler/settings/migrations/__init__.py
  docs/cobbler-conf.rst
  tests/items/item_test.py
  tests/settings/migrations/normalize_test.py
  tests/settings/settings_test.py
  tests/utils_test.py
Labels: Documentation, Tests

CI: Limit number of branches for coverage upload
  .github/workflows/coverage-upload.yml
Labels: CI

Network Interface: Allow empty str for interface type
  changelog.d/3774.fixed
  cobbler/items/system.py
  tests/items/network_interface_test.py
Labels: Tests

Settings: Fix 3.3.0 migration
  changelog.d/3776.fixed
  cobbler/settings/migrations/V3_3_0.py
Labels: none

CI: Attempt to fix coverage upload
  .github/workflows/coverage-upload.yml
Labels: CI

CI: Remove name from download-artifact action
  .github/workflows/coverage-upload.yml
Labels: CI

CI: Switch to actions/github-script
  .github/workflows/coverage-upload.yml
Labels: CI

CI: Write found artifact to disk
  .github/workflows/coverage-upload.yml
Labels: CI

Fixes problem with efi netboot
  config/grub/grub/grub.cfg
Labels: none

fixed issue with profile and pxe menu
  changelog.d/3779.fixed
  cobbler/items/profile.py
  tests/conftest.py
  tests/items/item_test.py
  tests/items/profile_test.py
Labels: Tests

Items: Use kwargs for item bootstrapping
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/resource.py
  cobbler/items/system.py
Labels: none

Changelog: Add for 3.3.6
  changelog.d/3744.added
  changelog.d/3745.fixed
  changelog.d/3747.fixed
  changelog.d/3748.added
  changelog.d/3749.fixed
  changelog.d/3750.fixed
  changelog.d/3751.fixed
  changelog.d/3753.fixed
  changelog.d/3769.added
  changelog.d/3771.added
  changelog.d/3774.fixed
  changelog.d/3776.fixed
  changelog.d/3779.fixed
  changelog/v3.3.6.md
Labels: none

update landing page with note about content
  docs/index.rst
Labels: Documentation

deduplicate trigger sections
  docs/user-guide.rst
Labels: Documentation

move sections to autoinstall page
  docs/user-guide.rst
  docs/user-guide/automatic-installation.rst
Labels: Documentation

Add more debugging info
  docs/user-guide/automatic-installation.rst
Labels: Documentation

add changelog
  changelog.d/3672.added
Labels: none

Add EFI chainloader for Centos to menu local
  config/grub/grub/local_efi.cfg
Labels: none

Update grub.cfg
  config/grub/grub/grub.cfg
Labels: none

support ESXi 8 Legacy & fix some ESXi UEFI bugs
  cobbler/templar.py
  templates/boot_loader_conf/ipxe.template
Labels: none

support ESXi 8 Legacy & fix some ESXi UEFI bugs
  cobbler/tftpgen.py
Labels: none

re-delocalize verb participle
  docs/cobbler-conf/settings-yaml.rst
Labels: Documentation

Add support for querying and removing unsaved items
  changelog.d/3799.changed
  cobbler/remote.py
  tests/xmlrpcapi/item_test.py
Labels: Tests

Non-unique collection indexes
  changelog.d/3721.added
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/abstract/base_item.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/network_interface.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/image_collection_test.py
  tests/cobbler_collections/menu_collection_test.py
  tests/cobbler_collections/profile_collection_test.py
  tests/cobbler_collections/repo_collection_test.py
  tests/cobbler_collections/system_collection_test.py
  tests/items/cache_test.py
  tests/items/inmemory_test.py
  tests/items/item_test.py
  tests/modules/serializer/sqlite_test.py
  tests/utils/utils_test.py
Labels: Tests

support ESXi 8 UEFI
  cobbler/tftpgen.py
  templates/boot_loader_conf/bootcfg.template
  templates/boot_loader_conf/ipxe.template
Labels: none

XML-RPC API: Fix querying and removing items
  cobbler/remote.py
Labels: none

pyright: Enable import-cycles error and exclude undesired directories
  pyproject.toml
Labels: none

CI: Remove changed-files and upgrade pyright action
  .github/workflows/lint.yml
Labels: CI

Remove unused reporting module
  cobbler/actions/report.py
  cobbler/api.py
  tests/actions/report_test.py
Labels: Tests

Fix Windows sync bug
  cobbler/modules/sync_post_wingen.py
Labels: none

Remove to_string method
  cobbler/cobbler_collections/collection.py
  cobbler/settings/__init__.py
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/system_collection_test.py
  tests/settings/settings_test.py
Labels: Tests

Items: Introduce InheritableItem
  cobbler/items/abstract/base_item.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/item.py
  tests/items/inheritable_item_test.py
  tests/items/item_test.py
Labels: Tests

Items: Fix typing of "name_servers" attribute
  cobbler/items/profile.py
  cobbler/items/system.py
Labels: none

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
