Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*

API: Extend "set_item_resolved_value" to allow deduplication of lists
  cobbler/api.py
  tests/api/miscellaneous_test.py
Labels: Tests

Modules: dnsmasq - Remove unnecessary typing
  cobbler/modules/managers/dnsmasq.py
Labels: none

Items: Remove fetchable_files
  cobbler/cli.py
  cobbler/items/distro.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils/__init__.py
  tests/items/distro_test.py
  tests/items/item_test.py
  tests/items/profile_test.py
  tests/utils/utils_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Items: Remove boot_files
  cobbler/cli.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/remote.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils/__init__.py
  tests/items/item_test.py
  tests/items/profile_test.py
  tests/utils/utils_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Item: Fix typo
  cobbler/items/item.py
Labels: none

Docs: Update code-autodoc
  docs/code-autodoc/cobbler.actions.rst
  docs/code-autodoc/cobbler.items.abstract.rst
  docs/code-autodoc/cobbler.items.rst
  docs/code-autodoc/cobbler.modules.serializers.rst
  docs/code-autodoc/cobbler.settings.migrations.rst
Labels: Documentation

Items: Rename "Item" to "BootableItem"
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/items/abstract/base_item.py
  cobbler/items/abstract/bootable_item.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/abstract/item_cache.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/menu.py
  cobbler/items/network_interface.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/sqlite.py
  cobbler/remote.py
  cobbler/serializer.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  tests/items/bootable_item_test.py
  tests/items/cache_test.py
  tests/items/inheritable_item_test.py
  tests/modules/serializer/file_test.py
  tests/modules/serializer/sqlite_test.py
Labels: Tests

tftpgen: Fix bug with removed boot_files
  cobbler/modules/managers/in_tftpd.py
  cobbler/tftpgen.py
Labels: none

enhance log
  cobbler/tftpgen.py
Labels: none

Title: fix deploy rhel in UEFI mode with multi interface connected dhcp
  cobbler/tftpgen.py
Labels: none

Fix: dependent systems are not synced when the profile is changed
  cobbler/cobbler_collections/collection.py
Labels: none

Fix: performance tests are very slow
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/profiles.py
  tests/conftest.py
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_add_test.py
  tests/performance/item_copy_test.py
  tests/performance/item_edit_test.py
  tests/performance/item_remove_test.py
  tests/performance/item_rename_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
Labels: Tests

Make passthru authenticate() always return True.
  cobbler/modules/authentication/passthru.py
Labels: none

Increase start timeout for cobblerd unit
  changelog.d/3821.changed
  config/service/cobblerd.service
Labels: none

Implement transactions
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/profiles.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/transaction_test.py
Labels: Tests

XML-RPC: Prevent privilege escalation from none to admin
  cobbler/cobblerd.py
  cobbler/remote.py
  cobbler/utils.py
  tests/utils_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/remote.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
  tests/utils_test.py
Labels: Tests

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/utils.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Tmp: Add debugging logs
  cobbler/items/item.py
Labels: none

Add systems options support to the standalone code
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  tests/actions/buildiso/buildiso_test.py
Labels: Tests

Test workflow
  .xyzzy
Labels: none
