Repository cobbler/cobbler, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Tests, CI, Packaging

tftpgen: Enrich docstrings
  cobbler/tftpgen.py
Labels: none

feat: Added signature for Ubuntu 22.04 LTS
  config/cobbler/distro_signatures.json
Labels: none

System-Tests: Add import test for Ubuntu Jammy
  system-tests/listings/ubuntu/jammy/ubuntu-22.04.1-live-server-amd64.iso/files/dists/jammy/Release
  system-tests/listings/ubuntu/jammy/ubuntu-22.04.1-live-server-amd64.iso/index
  system-tests/tests/import-ubuntu-jammy
Labels: Tests

Support for older anaconda boot line options
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/tftpgen.py
  tests/actions/buildiso/append_line_test.py
Labels: Tests

Fix spec error introduced with CVE fix
  cobbler.spec
Labels: none

Security: Fix incomplete template sanitization
  cobbler/templar.py
Labels: none

Security: Restrict config file accessibility
  cobbler.spec
Labels: none

Docker: Install Python code editable to prevent shebang mangling
  docker/openSUSE_Leap.dockerfile
Labels: none

Swap %dir / %attr
  cobbler.spec
Labels: none

Whitespace fix
  cobbler/tftpgen.py
Labels: none

Makefile: Specify interpreter used for build
  Makefile
Labels: none

Docker: Switch from CentOS 8 to Rocky Linux
  .github/workflows/packaging.yml
  distro_build_configs.sh
  docker-compose.yml
  docker/Rocky_Linux_8.dockerfile
Labels: CI

setup.py: Skip duplicated build
  Makefile
Labels: none

CI: Upgrade rstcheck to V6
  .github/workflows/lint.yml
  .rstcheck.cfg
Labels: CI

Adapt test_deserialize_raw to ensure it is getting a list
  tests/modules/serializer/mongodb_test.py
Labels: Tests

Enforce a list instead of cursor and remove internal mongo '_id' attribute
  cobbler/modules/serializers/mongodb.py
Labels: none

Do not use deprecated methods on latest mongodb and pymongo
  cobbler/modules/serializers/mongodb.py
Labels: none

CI: Use OBS for package builds
  .obs/main.yml
  .obs/pull_request.yml
  .obs/workflows.yml
Labels: Packaging

workaround_apache2_confdir_for_suma.patch
  cobbler.spec
  distro_build_configs.sh
  setup.py
Labels: none

temp_patch_to_avoid_permission_errors.patch
  cobbler/cobbler_collections/collection.py
Labels: none

backport_complex_xmlrpc_objects_and_logger_spam.patch
  cobbler/items/distro.py
  cobbler/items/item.py
  cobbler/items/system.py
  cobbler/remote.py
  config/cobbler/logging_config.conf
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

backport_kernel_regex_error_message.patch
  cobbler/items/distro.py
  cobbler/utils.py
Labels: none

backport_fix_for_buildiso_exclude_dns.patch
  cobbler/actions/buildiso/netboot.py
  docs/user-guide/building-isos.rst
  tests/actions/buildiso/__init__.py
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
  tests/actions/buildiso/conftest.py
  tests/actions/buildiso_test.py
Labels: Documentation, Tests

fix_buildiso_for_image_based_systems.patch
  cobbler/actions/buildiso/netboot.py
  docs/cobbler.rst
  docs/user-guide/building-isos.rst
  tests/conftest.py
  tests/xmlrpcapi/image_test.py
Labels: Documentation, Tests

temp_patch_do_generate_local_only_menus.patch
  cobbler/tftpgen.py
Labels: none

fix_cobbler_settings_migrations.patch
  cobbler/settings/migrations/V2_8_5.py
  cobbler/settings/migrations/V3_0_0.py
  cobbler/settings/migrations/V3_1_2.py
  cobbler/settings/migrations/V3_2_0.py
  cobbler/settings/migrations/V3_2_1.py
  cobbler/settings/migrations/V3_3_0.py
  cobbler/settings/migrations/V3_3_1.py
  cobbler/settings/migrations/V3_3_2.py
  cobbler/settings/migrations/V3_3_3.py
Labels: none

fix_next_server_being_hostname.patch
  cobbler/settings/migrations/V3_3_0.py
Labels: none

fix_proxy_url_ext_migration_none_value.patch
  cobbler/settings/migrations/V3_2_1.py
  tests/test_data/V3_2_0/settings.yaml
Labels: Tests

fix_v2_migration_script.patch
  scripts/migrate-data-v2-to-v3.py
Labels: none

fix_failing_cobbler_tests.patch
  setup.py
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
  tests/actions/mkloaders_test.py
  tests/actions/reposync_test.py
  tests/conftest.py
  tests/items/item_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/settings/migrations/normalize_test.py
  tests/tftpgen_test.py
  tests/utils_test.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: Tests

fix_regression_empty_interface_type.patch
  cobbler/items/system.py
Labels: none

fix_avoid_overriding_boot_loader_if_existing.patch
  cobbler/settings/migrations/V3_3_0.py
  scripts/migrate-data-v2-to-v3.py
Labels: none

add_cobbler_tests_containers_package.patch
  setup.py
Labels: none

add_item_to_dict_cache_and_threadpool.patch
  cobbler/items/item.py
  cobbler/modules/managers/in_tftpd.py
Labels: none

skip_wrong_collections_instead_crashing.patch
  cobbler/cobbler_collections/collection.py
  cobbler/modules/serializers/file.py
  cobbler/utils.py
Labels: none

items_Fix_creation_of_default_NetworkInterface.patch
  cobbler/items/system.py
  cobbler/remote.py
  tests/conftest.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Tests

Fix: reposync
  cobbler/actions/reposync.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  system-tests/tests/settings-cli-migrate
  system-tests/tests/svc-settings
  tests/actions/reposync_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: Documentation, Tests

CI: Update feature request template
  .github/ISSUE_TEMPLATE/02_feature_request.md
Labels: CI

XML-RPC: Fixup interface edits
  cobbler/remote.py
Labels: none

Docs: Readd advanced network management
  docs/cobbler.rst
  docs/user-guide.rst
  docs/user-guide/advanced-networking.rst
Labels: Documentation

.github/labeler.yml:

Documentation:
- docs/**/*

Tests:
- tests/**/*
- system-tests/**/*

CI:
- .github/**/*

Packaging:
- .obs/**/*
