Repository cobbler/cobbler, pull requests merged in 2020-10, with the labels that each got.

#2420 Tests: Add tests for utils.py
  bin/cobbler-ext-nodes
  cobbler/items/item.py
  cobbler/modules/serializers/file.py
  cobbler/modules/serializers/mongodb.py
  cobbler/utils.py
  svc/services.py
  tests/conftest.py
  tests/utils_test.py
Labels: tests

#2413 Add changes from the OBS spec file
  cobbler.spec
  distro_build_configs.sh
  dockerfiles/Debian10.dockerfile
  setup.py
Labels: Packaging

#2435 Add support for ESXi 7 in Cobbler 3
  autoinstall_templates/sample_esxi7.ks
  cobbler.spec
  cobbler/tftpgen.py
  config/cobbler/distro_signatures.json
  templates/boot_loader_conf/bootcfg_esxi70.template
  templates/boot_loader_conf/gpxe_system_esxi7.template
Labels: hacktoberfest-accepted

#2391 cleaning yum code in the reposync, auto_add_repos
  cobbler.spec
  cobbler/actions/reposync.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/items/repo.py
  cobbler/remote.py
  cobbler/utils.py
  dockerfiles/CentOS7.dockerfile
  dockerfiles/CentOS8.dockerfile
  dockerfiles/Fedora31.dockerfile
  docs/cobbler.rst
  docs/installation-guide.rst
  docs/user-guide.rst
  tests/build-and-install-debs.sh
  tests/build-and-install-rpms.sh
  tests/install-debs.sh
Labels: Documentation, PKG
