Repository cobbler/cobbler, pull requests merged in 2020-12, with the labels that each got.

#2464 Fix/general cleanup
  .travis.yml
  autoinstall_snippets/cobbler_register
  autoinstall_snippets/post_koan_add_reinstall_entry
  bin/cobblerd
  cobbler/actions/check.py
  cobbler/cli.py
  cobbler/cobblerd.py
  cobbler/items/distro.py
  cobbler/modules/authentication/passthru.py
  cobbler/power_manager.py
  docs/cobbler.rst
  docs/installation-guide.rst
  docs/limitations.rst
  docs/quickstart-guide.rst
  tests/modules/authentication/passthrough_test.py
Labels: tech-debt

#2450 Order loading parent profiles before sub-profiles
  cobbler/modules/serializers/file.py
  cobbler/modules/serializers/mongodb.py
  cobbler/serializer.py
Labels: 3.1.2

#2466 Trigger to generate Windows boot files
  cobbler/modules/sync_post_wingen.py
  config/cobbler/distro_signatures.json
  docs/user-guide/wingen.rst
Labels: PXE

#2481 docs: fix simple typo, vaild -> valid
  docs/cobbler.rst
Labels: Documentation
