Repository cobbler/cobbler, pull requests merged in 2020-09, with the labels that each got.

#2401 Rewrite the spacewalk authentication module
  cobbler/modules/authentication/spacewalk.py
Labels: tech-debt

#2402 Remove future and past imports
  bin/tftpd.py
  cobbler/actions/replicate.py
  cobbler/actions/report.py
  cobbler/actions/status.py
  cobbler/api.py
  cobbler/autoinstallgen.py
  cobbler/cli.py
  cobbler/cobbler_collections/manager.py
  cobbler/items/mgmtclass.py
  cobbler/module_loader.py
  cobbler/modules/authentication/spacewalk.py
  cobbler/modules/authorization/configfile.py
  cobbler/modules/authorization/ownership.py
  cobbler/modules/serializers/file.py
  cobbler/modules/serializers/mongodb.py
  cobbler/remote.py
  cobbler/services.py
  cobbler/utils.py
  cobbler/web/views.py
  setup.py
  svc/services.py
Labels: tech-debt

#2399 move repoysync rsync flags to settings
  cobbler/actions/reposync.py
  cobbler/items/repo.py
  cobbler/web/field_ui_info.py
  config/cobbler/settings
  docs/cobbler-conf.rst
Labels: tech-debt

#2409 Fix for file dependency on CentOS 8. Fixes #2334
  cobbler.spec
Labels: 3.1.1

#2408 Test views
  cobbler/web/urls.py
  pytest.ini
  tests/modules/authentication/configfile_test.py
  tests/setup-test-docker.sh
  tests/views/__init__.py
  tests/views/actions_view_test.py
  tests/views/conftest.py
  tests/views/edit_items_view_test.py
  tests/views/list_items_view_test.py
  tests/views/logon_view_test.py
Labels: tech-debt, tests

#2407 Fix broken source installation including the documentation
  cobbler/cli.py
  cobbler/modules/authentication/pam.py
  cobbler/settings.py
  docs/cobbler-conf.rst
  docs/cobbler.rst
  docs/cobblerd.rst
  docs/conf.py
  docs/index.rst
  docs/installation-guide.rst
  docs/quickstart-guide.rst
  docs/user-guide.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/web-interface.rst
Labels: 3.1.2, Documentation
