Repository cobbler/cobbler, pull requests merged in 2020-07, with the labels that each got.

#2357 make changing $server to IP address for autoinstallation profile URLs conditional
  cobbler/settings.py
  cobbler/tftpgen.py
  config/cobbler/settings
Labels: PXE

#2384 The "cobbler reposync" command does not work in Fedora 32
  cobbler/actions/reposync.py
Labels: PKG

#2377 Impove the Install Docs for Source Installations
  Makefile
  docs/installation-guide.rst
Labels: Documentation

#2388 cobbler/cli.py: fix sync command abandoned option
  cobbler/cli.py
Labels: usability
