Repository cobbler/cobbler, pull requests merged in 2020-11, with the labels that each got.

#2446 Fix for old str.join usage
  cobbler/tftpgen.py
Labels: 3.2.0, tech-debt

#2449 Update import.tmpl to show vmware as a breed option
  web/templates/import.tmpl
Labels: web-interface

#2451 Remove redundant '.json' addition in serialize_item and serialize_delete
  cobbler/modules/serializers/file.py
Labels: 3.1.2

#2442 Add support for ESXi 7.0 U1
  cobbler.spec
  config/cobbler/distro_signatures.json
  templates/boot_loader_conf/bootcfg_esxi70u1.template
Labels: ISO, Packaging

#2441 Do not try to access log file if we are not running as root
  cobbler/clogger.py
Labels: usability

#2444 Authentication: Fix for PAM authentication by @fonzinc in #2400
  cobbler/modules/authentication/pam.py
  tests/modules/authentication/pam_test.py
  tests/setup-test-docker.sh
Labels: 3.1.2
