Repository cobbler/cobbler, pull requests merged in 2020-01, with the labels that each got.

#2206 Add api doc
  .readthedocs.yml
  cobbler/configgen.py
  cobbler/module_loader.py
  cobbler/modules/serializers/mongodb.py
  cobbler/remote.py
  cobbler/template_api.py
  cobbler/utils.py
  docs/Makefile
  docs/cobbler.rst
  docs/code-autodoc/cobbler.actions.rst
  docs/code-autodoc/cobbler.cobbler_collections.rst
  docs/code-autodoc/cobbler.items.rst
  docs/code-autodoc/cobbler.modules.authentication.rst
  docs/code-autodoc/cobbler.modules.authorization.rst
  docs/code-autodoc/cobbler.modules.installation.rst
  docs/code-autodoc/cobbler.modules.managers.rst
  docs/code-autodoc/cobbler.modules.rst
  docs/code-autodoc/cobbler.modules.serializers.rst
  docs/code-autodoc/cobbler.rst
  docs/code-autodoc/cobbler.web.rst
  docs/code-autodoc/cobbler.web.templatetags.rst
  docs/conf.py
  docs/index.rst
  docs/requirements.rtd.txt
Labels: doc

#2229 Add codecov
  .codecov.yml
  .travis.yml
  README.md
  setup.py
Labels: tests

#2237 Fix rpmlint errors
  cobbler.rpmlintrc
  cobbler.spec
  cobbler/web/manage.py
  config/bash/completion/cobbler
  config/rotate/cobblerd_rotate
  patches/.keep
  patches/debian/.keep
  patches/suse/.keep
  scripts/settings-migration-v1-to-v2.sh
  setup.py
  svc/services.py
Labels: 3.1.1, Packaging

#2244 Fix create & delete snippets with XMLRPC
  cobbler/autoinstall_manager.py
  cobbler/remote.py
  contrib/api-examples/API_test.py
  contrib/api-examples/create_snippet.py
  contrib/api-examples/demo_connect.py
  contrib/api-examples/read_snippet.py
  contrib/api-examples/remove_snippet.py
  web/templates/snippet_edit.tmpl
Labels: 3.1.1, API
