Repository cobbler/cobbler, pull requests merged in 2020-03, with the labels that each got.

#2292 Expand config file list for maximum compatibility with Debian/Ubuntu
  cobbler.spec
Labels: Packaging

#2299 Improve the hash handling of the users.digest file.
  cobbler/module_loader.py
  cobbler/modules/authentication/configfile.py
  config/cobbler/modules.conf
  config/cobbler/users.digest
  tests/modules/__init__.py
  tests/modules/authentication/__init__.py
  tests/modules/authentication/configfile_test.py
Labels: security

#2255 Debian10 automated DEBs build
  .gitignore
  .travis.yml
  Makefile
  cobbler.spec
  config/apache/cobbler_web.conf
  config/bash/completion/cobbler
  config/service/cobblerd.service
  dockerfiles/CentOS7.dockerfile
  dockerfiles/Debian10.dockerfile
  setup.py
  templates/power/fence_apc_snmp.template
  templates/power/fence_bladecenter.template
  templates/power/fence_bullpap.template
  templates/power/fence_drac.template
  templates/power/fence_ilo.template
  templates/power/fence_ipmilan.template
  templates/power/fence_lpar.template
  templates/power/fence_rsa.template
  templates/power/fence_virsh.template
  templates/power/fence_wti.template
  templates/zone_templates/foo.example.com
  tests/build-and-install-debs.sh
  tests/install-debs.sh
Labels: Packaging

#2296 Iso fixes
  cobbler/actions/buildiso.py
Labels: ISO

#2302 Revert unneeded fence templates again
  cobbler.spec
  cobbler/power_manager.py
  cobbler/settings.py
  config/cobbler/settings
  docs/cobbler-conf.rst
  templates/power/fence_apc_snmp.template
  templates/power/fence_bladecenter.template
  templates/power/fence_bullpap.template
  templates/power/fence_drac.template
  templates/power/fence_ilo.template
  templates/power/fence_ipmilan.template
  templates/power/fence_lpar.template
  templates/power/fence_rsa.template
  templates/power/fence_virsh.template
  templates/power/fence_wti.template
Labels: Packaging

#2305 Docs/passwords guide
  cobbler/modules/authentication/configfile.py
  docs/user-guide/web-interface.rst
  web/templates/master.tmpl
Labels: doc
