Repository cobbler/cobbler, pull requests merged in 2021-07, with the labels that each got.

#2696 depth in item is int not float
  cobbler/items/item.py
Labels: master

#2700 Remove leftover in the systemd file about cobbler.wsgi
  config/service/cobblerd.service
Labels: master

#2705 Backport AlmaLinux/Rocky Linux support
  cobbler/utils.py
  config/cobbler/distro_signatures.json
Labels: 3.2.0, backport

#2715 Update testing container to Leap 15.3
  docker/testing/testing.dockerfile
Labels: CI

#2712 Adjust DNS settings
  cobbler/modules/managers/bind.py
  config/cobbler/settings.yaml
  setup.py
  templates/etc/named.template
  templates/etc/secondary.template
Labels: master

#2727 fix: Int values from the CLI
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/utils.py
  cobbler/validate.py
  tests/items/profile_test.py
  tests/validate_test.py
Labels: API, Usability, master
