Repository cobbler/cobbler, pull requests merged in 2021-02, with the labels that each got.

#2528 Document Terraform provider
  docs/user-guide.rst
  docs/user-guide/terraform-provider.rst
Labels: Documentation

#2532 Remove multi-language support since it is not implemented and causes problems
  cobbler/actions/check.py
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/autoinstallgen.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/module_loader.py
  cobbler/modules/authorization/ownership.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/genders.py
  cobbler/modules/managers/isc.py
  cobbler/settings.py
  cobbler/utils.py
Labels: tech-debt

#2538 Run a linter on the docs
  .github/workflows/lint.yml
  .rstcheck.cfg
  docs/cobbler-conf.rst
  docs/code-autodoc/cobbler.rst
  docs/developer-guide.rst
  docs/quickstart-guide.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/extending-cobbler.rst
  docs/user-guide/terraform-provider.rst
  docs/user-guide/web-interface.rst
  docs/user-guide/wingen.rst
Labels: Documentation

#2531 Rename settings file
  .prospector.yml
  autoinstall_snippets/cobbler_register
  bin/cobbler-ext-nodes
  cobbler.spec
  cobbler/actions/check.py
  cobbler/api.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/genders.py
  cobbler/modules/managers/isc.py
  cobbler/modules/serializers/file.py
  cobbler/modules/serializers/mongodb.py
  cobbler/remote.py
  cobbler/settings.py
  cobbler/tftpgen.py
  cobbler/utils.py
  cobbler/web/views.py
  config/cobbler/modules.conf
  config/cobbler/settings.yaml
  docker/openSUSE_Leap.dockerfile
  docker/openSUSE_TW.dockerfile
  docs/cobbler-conf.rst
  docs/cobbler.rst
  docs/cobblerd.rst
  docs/installation-guide.rst
  docs/quickstart-guide.rst
  docs/user-guide.rst
  docs/user-guide/configuration-management-integrations.rst
  setup.py
  svc/services.py
  tests/settings_test.py
  tests/utils_test.py
  web/templates/settings.tmpl
Labels: tech-debt

#2543 Fix gitstamp, gitdate in setup.py
  setup.py
Labels: tech-debt

#2541 Fix generate_bootcfg
  cobbler/tftpgen.py
Labels: tech-debt

#2547 Docs: Small adjustments for the source installation guide
  docs/installation-guide.rst
Labels: Documentation

#2546 Tests: Add module_loader
  cobbler/api.py
  cobbler/module_loader.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
  tests/module_loader_test.py
  tests/utils_test.py
Labels: tests

#2551 Remove import cgi
  svc/services.py
Labels: tech-debt

#2550 Basic pytests for module file.py
  cobbler/modules/serializers/file.py
  setup.py
  tests/modules/serializer/file_test.py
Labels: tests

#2554 Grub: Add tests and catch some errors
  cobbler/grub.py
  tests/grub_test.py
Labels: master, tests

#2533 Try to fix SNIPPET and Cheetah Macro usage
  cobbler/actions/sync.py
  cobbler/autoinstallgen.py
  cobbler/configgen.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/genders.py
  cobbler/modules/managers/isc.py
  cobbler/modules/sync_post_wingen.py
  cobbler/templar.py
  cobbler/template_api.py
  cobbler/tftpgen.py
  cobbler/yumgen.py
  docker/openSUSE_Leap.dockerfile
  tests/templar_test.py
  tests/template_api_test.py
  tests/utils_test.py
Labels: Bug Report, master

#2565 CI: Add release workflow
  .github/workflows/release.yml
  .github/workflows/release_master.yml
  docker/release.dockerfile
  setup.py
Labels: Packaging
