Repository cobbler/cobbler, pull requests merged in 2021-08, with the labels that each got.

#2729 fix: Cobbler distro remove
  cobbler/actions/sync.py
  cobbler/utils.py
  tests/utils_test.py
Labels: Bug Report, Usability, tech-debt

#2730 CI: Obsolete Testing container
  .github/workflows/lint.yml
  .github/workflows/testing.yml
  docker/develop/develop.dockerfile
  docker/develop/pam/login
  docker/testing/supervisord/conf.d/cobblerd.conf
  docker/testing/supervisord/conf.d/httpd.conf
  docker/testing/supervisord/conf.d/tftpd.conf
  docker/testing/supervisord/supervisord.conf
  docker/testing/testing.dockerfile
  tests/settings_test.py
Labels: CI

#2728 feat: Add initial Oracle Linux support
  cobbler/utils.py
  distro_build_configs.sh
Labels: Feature Request, master

#2733 fix: Correct handling of Enum validation
  cobbler/remote.py
  cobbler/validate.py
Labels: Bug Report, Usability, master

#2752 Use os.urandom instead of file
  cobbler/remote.py
Labels: tech-debt, main/master

#2759 fix: Cobbler reposync ssl
  cobbler/actions/reposync.py
Labels: PKG

#2769 Minor adjustments to cobbler-settings validate
  bin/cobbler-settings
  cobbler/settings/migrations/__init__.py
Labels: main/master

#2771 Update docs and fix docstrings
  cobbler/actions/acl.py
  cobbler/api.py
  cobbler/autoinstall_manager.py
  cobbler/autoinstallgen.py
  cobbler/cli.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/menus.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/manager.py
  cobbler/modules/authentication/ldap.py
  cobbler/modules/authentication/pam.py
  cobbler/modules/authentication/spacewalk.py
  cobbler/modules/installation/__init__.py
  cobbler/modules/installation/post_report.py
  cobbler/modules/installation/pre_clear_anamon_logs.py
  cobbler/modules/installation/pre_log.py
  cobbler/modules/installation/pre_puppet.py
  cobbler/modules/managers/genders.py
  cobbler/services.py
  cobbler/settings/migrations/helper.py
  cobbler/templar.py
  cobbler/template_api.py
  cobbler/tftpgen.py
  cobbler/utils.py
  cobbler/validate.py
  config/cobbler/modules.conf
  docs/cobbler-conf.rst
  docs/cobblerd.rst
  docs/code-autodoc/modules.rst
  docs/installation-guide.rst
  docs/release-notes.rst
  docs/user-guide.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/web-interface.rst
  tests/modules/authentication/configfile_test.py
Labels: Documentation, main/master

#2772 Cobbler-settings: Change options order
  bin/cobbler-settings
Labels: main/master
