Repository cobbler/cobbler, pull requests merged in 2021-04, with the labels that each got.

#2573 Logger: Replace custom logger with Python standard one
  bin/cobblerd
  cobbler/actions/acl.py
  cobbler/actions/buildiso.py
  cobbler/actions/check.py
  cobbler/actions/hardlink.py
  cobbler/actions/litesync.py
  cobbler/actions/log.py
  cobbler/actions/replicate.py
  cobbler/actions/report.py
  cobbler/actions/reposync.py
  cobbler/actions/status.py
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/autoinstall_manager.py
  cobbler/autoinstallgen.py
  cobbler/cli.py
  cobbler/clogger.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/cobblerd.py
  cobbler/configgen.py
  cobbler/download_manager.py
  cobbler/module_loader.py
  cobbler/modules/authentication/denyall.py
  cobbler/modules/installation/post_log.py
  cobbler/modules/installation/post_power.py
  cobbler/modules/installation/post_puppet.py
  cobbler/modules/installation/post_report.py
  cobbler/modules/installation/pre_clear_anamon_logs.py
  cobbler/modules/installation/pre_log.py
  cobbler/modules/installation/pre_puppet.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/genders.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/modules/managers/isc.py
  cobbler/modules/managers/ndjbdns.py
  cobbler/modules/nsupdate_add_system_post.py
  cobbler/modules/nsupdate_delete_system_pre.py
  cobbler/modules/scm_track.py
  cobbler/modules/sync_post_restart_services.py
  cobbler/modules/sync_post_wingen.py
  cobbler/power_manager.py
  cobbler/remote.py
  cobbler/serializer.py
  cobbler/services.py
  cobbler/templar.py
  cobbler/tftpgen.py
  cobbler/utils.py
  config/cobbler/logging_config.conf
  docs/code-autodoc/cobbler.rst
  tests/utils_test.py
Labels: tech-debt

#2609 Expose ports 80 and 443 of the Test container to fix CORS for Cobbler Web in the API calls
  docker/testing/testing.dockerfile
Labels: master, tests

#2610 Use a base class ManagerModule for all modules/manager/*.py module cl…
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/manager.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/modules/managers/isc.py
  cobbler/modules/managers/ndjbdns.py
  cobbler/remote.py
  tests/api_test.py
  tests/cli/cobbler_cli_direct_test.py
Labels: API, Usability, master

#2615 Refactor cobbler sync
  cobbler/actions/litesync.py
  cobbler/actions/sync.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/systems.py
Labels: API, Usability

#2613 Update utils.py to include Almalinux
  cobbler/utils.py
Labels: master
