Repository cobbler/cobbler, pull requests merged in 2021-05, with the labels that each got.

#2601 [RFC] Allow sync only work on specified systems
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/remote.py
  docs/cobbler.rst
  tests/actions/sync_test.py
  tests/api_test.py
  tests/cli/cli_unit_test.py
  tests/cli/cobbler_cli_direct_test.py
  tests/modules/managers/in_tftpd_test.py
Labels: API, Usability, master

#2626 Fix trail stripping in case of using UTF symbols
  svc/services.py
Labels: master

#2630 Fix settings file for 'cobbler check'
  cobbler/actions/check.py
Labels: Usability, master

#2627 Update utils.py to include Rocky Linux
  cobbler/utils.py
  config/cobbler/distro_signatures.json
Labels: Feature Request, master

#2629 Do not print empty searchlist tags if name_servers_list array is empt…
  autoinstall_snippets/SuSE/networking.xml
Labels: 3.2.0, Bug Report

#2631 CI: Adjusting docker container
  docker/develop/develop.dockerfile
  docker/develop/scripts/setup-supervisor.sh
  docker/testing/testing.dockerfile
Labels: CI, Usability

#2633 Fix docs generation error from Sphinx
  cobbler/cobblerd.py
  cobbler/template_api.py
  docs/code-autodoc/cobbler.actions.rst
  docs/code-autodoc/cobbler.modules.managers.rst
Labels: Documentation, master

#2632 IP address goes into the hosts file without associated hostname
  autoinstall_snippets/SuSE/hosts.xml
Labels: master

#2539 [RFC] Add dhcpv6
  cobbler.spec
  cobbler/actions/check.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/isc.py
  cobbler/settings.py
  cobbler/utils.py
  config/cobbler/settings.yaml
  distro_build_configs.sh
  docs/quickstart-guide.rst
  setup.py
  templates/etc/dhcp.template
  templates/etc/dhcp6.template
  tests/settings_test.py
  tests/utils_test.py
Labels: PXE, tech-debt

#2642 Add descriptions to the __init__.py files
  cobbler/__init__.py
  cobbler/actions/__init__.py
  cobbler/cobbler_collections/__init__.py
  cobbler/items/__init__.py
  cobbler/modules/__init__.py
  cobbler/modules/authentication/__init__.py
  cobbler/modules/authorization/__init__.py
  cobbler/modules/installation/__init__.py
  cobbler/modules/managers/__init__.py
  cobbler/modules/serializers/__init__.py
Labels: Documentation

#2643 Replace generic CX exceptions and typing improvements
  cobbler/actions/acl.py
  cobbler/actions/buildiso.py
  cobbler/actions/reposync.py
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/autoinstall_manager.py
  cobbler/autoinstallgen.py
  cobbler/cexceptions.py
  cobbler/cli.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/configgen.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/module_loader.py
  cobbler/modules/authentication/ldap.py
  cobbler/modules/authentication/passthru.py
  cobbler/modules/authentication/spacewalk.py
  cobbler/modules/authentication/testing.py
  cobbler/modules/authorization/allowall.py
  cobbler/modules/authorization/ownership.py
  cobbler/modules/installation/post_report.py
  cobbler/modules/installation/pre_clear_anamon_logs.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/genders.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/nsupdate_delete_system_pre.py
  cobbler/modules/scm_track.py
  cobbler/modules/sync_post_restart_services.py
  cobbler/modules/sync_post_wingen.py
  cobbler/remote.py
  cobbler/resource.py
  cobbler/serializer.py
  cobbler/services.py
  cobbler/templar.py
  cobbler/template_api.py
  cobbler/tftpgen.py
  cobbler/utils.py
  cobbler/validate.py
  tests/cli/conftest.py
  tests/utils_test.py
Labels: Usability, master, tech-debt

#2645 Split the distro_profile_system_test.py into three files
  tests/conftest.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/distro_profile_system_test.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/koan_test.py
  tests/xmlrpcapi/menu_test.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/system_test.py
Labels: Tests

#2647 fix: `fixed-address6` field in DHCPv6 template
  templates/etc/dhcp6.template
Labels: PXE, master

#2649 Split up the field tests into one testcase per field value
  cobbler/items/system.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/system_test.py
Labels: Tests

#2650 Switch to direct uuid access instead of indirect through a fence
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/manager.py
  cobbler/utils.py
Labels: master

#2652 Moved from the collection_mgr to the api
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/resource.py
  cobbler/utils.py
Labels: tech-debt

#2653 Grub config fix
  cobbler/actions/sync.py
  cobbler/modules/managers/in_tftpd.py
  scripts/mkgrub.sh
Labels: master
