Repository cobbler/cobbler, pull requests merged in 2021-01, with the labels that each got.

#2463 Fedora 31 EOL, replace with Fedora 33
  .travis.yml
  Makefile
  cobbler.spec
  distro_build_configs.sh
  docker-compose.yml
  dockerfiles/Fedora33.dockerfile
Labels: Packaging

#2485 Prevent duplicate pathing of snippet filenames
  cobbler/web/views.py
Labels: web-interface

#2484 Update the web interface docs to make the new users.digest management more obvious
  docs/user-guide/web-interface.rst
Labels: Documentation

#2514 CI: Replace Travis with Github Actions
  .github/workflows/packaging.yml
  .github/workflows/testing.yml
  .travis.yml
  DOCKER-BUILD.md
  Dockerfile
  cobbler.spec
  cobbler/web/views.py
  config/apache/cobbler.conf
  config/apache/cobbler_web.conf
  docker-compose.yml
  docker/CentOS8.dockerfile
  docker/Debian10.dockerfile
  docker/Debian10/supervisord/conf.d/apache2.conf
  docker/Debian10/supervisord/conf.d/cobblerd.conf
  docker/Debian10/supervisord/conf.d/tftpd.conf
  docker/Debian10/supervisord/supervisord.conf
  docker/Fedora33.dockerfile
  docker/Fedora33/supervisord/conf.d/cobblerd.conf
  docker/Fedora33/supervisord/conf.d/httpd.conf
  docker/Fedora33/supervisord/conf.d/tftpd.conf
  docker/Fedora33/supervisord/supervisord.conf
  docker/openSUSE_Leap.dockerfile
  docker/openSUSE_TW.dockerfile
  docker/release.dockerfile
  dockerfiles/CentOS7.dockerfile
  docs/developer-guide.rst
  docs/requirements.rtd.txt
  tests/build-and-install-debs.sh
  tests/build-and-install-rpms.sh
  tests/setup-test-docker.sh
  tests/setup_files/pam/login
  tests/setup_files/supervisord/conf.d/cobblerd.conf
  tests/setup_files/supervisord/conf.d/httpd.conf
  tests/setup_files/supervisord/conf.d/tftpd.conf
  tests/setup_files/supervisord/supervisord.conf
Labels: ci

#2513 Fix string replacements for @@xyz@@
  cobbler/templar.py
  tests/xmlrpcapi/distro_profile_system_test.py
Labels: Packaging

#2509 Fix/Cheetah template macros
  cobbler/templar.py
  cobbler/template_api.py
  docs/user-guide.rst
  docs/user-guide/extending-cobbler.rst
Labels: tech-debt

#2524 Important fixes
  cobbler.spec
  cobbler/module_loader.py
Labels: Packaging, tech-debt
