Repository cobbler/cobbler, pull requests merged in 2021-03, with the labels that each got.

#2569 Update release master workflow
  .github/workflows/release_master.yml
Labels: ci, master

#2512 Remove cobbler internal python tftp daemon implementation
  Makefile
  bin/tftpd.py
  cobbler.spec
  cobbler/modules/managers/tftpd_py.py
  config/cobbler/modules.conf
  docker/CentOS8.dockerfile
  docker/Debian10.dockerfile
  docker/Fedora33.dockerfile
  docs/cobbler-conf.rst
  setup.py
  tests/build-and-install-debs.sh
  tests/build-and-install-rpms.sh
  tests/install-debs.sh
  tests/install-rpms.sh
  tests/module_loader_test.py
Labels: tech-debt

#2571 Add missing schema dependencies
  docs/installation-guide.rst
  docs/requirements.rtd.txt
Labels: Documentation, master

#2572 Remove get-loaders code
  cobbler/actions/check.py
  cobbler/actions/dlcontent.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  config/bash/completion/cobbler
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
  docs/cobbler.rst
  docs/code-autodoc/cobbler.actions.rst
  tests/cli/cobbler_cli_direct_test.py
  tests/xmlrpcapi/background_test.py
Labels: security, tech-debt

#2594 API: Add HTTP 200 Return in case we have an OPTIONS request
  cobbler/remote.py
Labels: tech-debt

#2602 Remove simplejson dependency
  cobbler.spec
  cobbler/configgen.py
  cobbler/modules/serializers/file.py
  cobbler/services.py
  cobbler/utils.py
  docs/installation-guide.rst
  docs/requirements.rtd.txt
  setup.py
Labels: Packaging, tech-debt
