Repository cobbler/cobbler, pull requests merged in 2021-09, with the labels that each got.

#2780 spec file needs an open source license header to be build in open bui…
  cobbler.rpmlintrc
  cobbler.spec
Labels: Packaging

#2788 Docs: Add the mkgrub command to the CLI
  docs/cobbler.rst
Labels: Documentation

#2794 Fix multiple security vulnerabilites
  autoinstall_snippets/redhat_register
  cobbler/api.py
  cobbler/remote.py
  cobbler/tftpgen.py
  cobbler/validate.py
  tests/actions/__init__.py
  tests/conftest.py
  tests/special_cases/__init__.py
  tests/special_cases/security_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Security, 3.2.1

#2797 Security: Prevent arbitrary file write and read
  cobbler/remote.py
  cobbler/tftpgen.py
  cobbler/validate.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Security, backport

#2806 Improve devel Docker image
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/build-and-install-debs.sh
  docker/debs/install-debs.sh
  docker/develop/develop.dockerfile
  docker/rpms/CentOS_8/CentOS8.dockerfile
  docker/rpms/Fedora_34/Fedora34.dockerfile
  docker/rpms/build-and-install-rpms.sh
  docker/rpms/install-rpms.sh
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: CI

#2810 fix: OBS build in pull requests
  .obs/workflows.yml
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: CI
