Repository cobbler/cobbler, pull requests merged in 2021-06, with the labels that each got.

#2656 Add explicit configgen testcases and added todos
  cobbler/configgen.py
  cobbler/remote.py
  cobbler/utils.py
  tests/configgen_test.py
Labels: Tests, tech-debt

#2662 Remove field_info.py as it is empty and not used for ages
  cobbler/cli.py
  cobbler/field_info.py
  cobbler/utils.py
  docs/code-autodoc/cobbler.rst
Labels: tech-debt

#2666 Adjust finding the children in utils.blender to new method
  cobbler/utils.py
Labels: master

#2682 Fix arch comparison
  cobbler/tftpgen.py
Labels: master

#2685 A series of post-refactoring fixes
  cobbler/actions/reposync.py
  cobbler/actions/sync.py
  cobbler/modules/managers/isc.py
  cobbler/remote.py
  cobbler/services.py
  cobbler/tftpgen.py
  templates/etc/dhcp.template
Labels: master

#2676 Add boolean conversion methods to all boolean fields
  cobbler/items/mgmtclass.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/utils.py
  cobbler/validate.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/utils_test.py
  tests/validate_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/system_test.py
Labels: master

#2683 Fix usage of interfacename none if no interfacename is given
  cobbler/items/system.py
  cobbler/remote.py
Labels: Bug Report, master
