Repository cobbler/cobbler, pull requests merged in 2022-08, with the labels that each got.

#3223 Tests: Add for hardlink action
  tests/actions/hardlink_test.py
Labels: tests

#3221 Tests: Add tests for acl module
  tests/actions/acl_test.py
Labels: tests

#3224 Tests: Add `cobbler replicate`
  cobbler/actions/replicate.py
  tests/actions/replicate_test.py
Labels: tests

#3230 Generate TFTP and WWW content root folder structure during runtime
  cobbler.spec
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/tftpgen.py
  cobbler/utils/filesystem_helpers.py
  distro_build_configs.sh
  setup.py
  system-tests/prelude
  system-tests/scripts/bootstrap
  tests/actions/hardlink_test.py
  tests/actions/replicate_test.py
  tests/tftpgen_test.py
  tests/utils/filesystem_helpers_test.py
Labels: API, tests

#3233 Fix dynamic folder creation
  cobbler/utils/filesystem_helpers.py
  docker/debs/build-and-install-debs.sh
  docker/develop/supervisord/conf.d/httpd.conf
  docker/develop/supervisord/supervisord.conf
  docker/rpms/build-and-install-rpms.sh
  docker/rpms/opensuse_leap/supervisord/conf.d/httpd.conf
  docker/rpms/opensuse_tumbleweed/supervisord/conf.d/httpd.conf
  tests/utils/filesystem_helpers_test.py
Labels: tests

#3237 "cobbler buildiso": Prevent image based systems from being processed
  cobbler/actions/buildiso/netboot.py
  docs/cobbler.rst
  docs/user-guide/building-isos.rst
  tests/actions/buildiso/buildiso_test.py
  tests/conftest.py
  tests/xmlrpcapi/image_test.py
Labels: documentation, tests

#3240 XML-RPC API: Add `resolved` parameter to `find_*` methods
  cobbler/api.py
  cobbler/enums.py
  cobbler/remote.py
  tests/utils/process_management_test.py
Labels: API, tests

#3241 Fix incorrect filename in `dhcpd.conf`
  cobbler/items/menu.py
  cobbler/items/profile.py
  cobbler/items/system.py
  tests/items/profile_test.py
Labels: tests

#3243 filesystem_helpers mkdir create parent directories
  cobbler/actions/sync.py
  cobbler/utils/filesystem_helpers.py
  tests/utils/filesystem_helpers_test.py
Labels: tests
