Repository cobbler/cobbler, pull requests merged in 2022-01, with the labels that each got.

#2908 Authentication: Remove testing module
  cobbler/modules/authentication/testing.py
  docs/cobbler-conf.rst
  docs/code-autodoc/cobbler.modules.authentication.rst
  tests/module_loader_test.py
Labels: Security

#2911 Security: Validate the data before logging it
  cobbler/modules/installation/post_log.py
  cobbler/modules/installation/post_power.py
  cobbler/modules/installation/post_puppet.py
  cobbler/modules/installation/post_report.py
  cobbler/modules/installation/pre_clear_anamon_logs.py
  cobbler/modules/installation/pre_log.py
  docker/develop/develop.dockerfile
  docker/develop/scripts/setup-openldap.sh
  tests/xmlrpcapi/miscellaneous_test.py
Labels: Security

#2919 Security: Stabalize the MongoDB serializer
  cobbler/modules/serializers/mongodb.py
Labels: Security, main/master

#2920 Enums: Fix failure to convert <<inherit>>
  cobbler/enums.py
  cobbler/items/system.py
  tests/enums_test.py
Labels: main/master

#2904 Docs: Explain TFTP and internal database
  docs/cobbler.rst
  docs/limitations.rst
  docs/scripts.rst
  docs/user-guide.rst
  docs/user-guide/internal-database.rst
  docs/user-guide/repository-management.rst
  docs/user-guide/tftp.rst
Labels: Documentation

#2905 move postrotate to systemd
  config/rotate/cobblerd_rotate
Labels: Packaging
