Repository cobbler/cobbler, pull requests merged in 2022-12, with the labels that each got.

#3296 Fixup documentation
  cobbler.spec
  config/service/cobblerd-gunicorn.service
  docs/cobbler-conf.rst
  docs/cobbler-conf/migration.rst
  docs/cobbler-conf/settings-yaml.rst
  docs/cobbler.rst
  docs/code-autodoc/cobbler.actions.rst
  docs/code-autodoc/cobbler.utils.rst
  docs/installation-guide.rst
  docs/user-guide.rst
  docs/user-guide/boot-cd.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/esxi.rst
  docs/user-guide/extending-cobbler.rst
  docs/user-guide/httpboot.rst
  docs/user-guide/power-management.rst
  setup.py
Labels: documentation

#3299 Avoid possible override of existing values during migration of collections to 3.3.0
  cobbler/settings/migrations/V3_0_0.py
  cobbler/settings/migrations/V3_3_0.py
  system-tests/tests/settings-cli-migrate-from-2.8.5
Labels: tests

#3289 Fix some detected issues with tests when running them on different setups
  tests/conftest.py
  tests/items/item_test.py
  tests/utils/__init__.py
  tests/utils/filesystem_helpers_test.py
  tests/utils/mtab_test.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: tests

#3303 Use "debmirror" package from Fedora 37 repo (as Fedora 35 is EOL) when testing Cobbler
  .github/workflows/packaging.yml
  Makefile
  cobbler.spec
  docker-compose.yml
  docker/develop/develop.dockerfile
  docker/develop/scripts/setup-reposync.sh
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Fedora_37/supervisord/conf.d/cobblerd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/dhcpd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/httpd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/slapd.conf
  docker/rpms/Fedora_37/supervisord/conf.d/tftpd.conf
  docker/rpms/Fedora_37/supervisord/supervisord.conf
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docs/installation-guide.rst
Labels: documentation, CI
