Repository cobbler/cobbler, pull requests merged in 2022-05, with the labels that each got.

#3091 skip ldap-negative test
  tests/modules/authentication/ldap_test.py
Labels: Tests, CI

#3099 Fixing migration logic
  cobbler/settings/migrations/V3_0_0.py
  cobbler/settings/migrations/V3_0_1.py
  cobbler/settings/migrations/V3_1_0.py
  cobbler/settings/migrations/V3_1_1.py
  cobbler/settings/migrations/V3_1_2.py
  cobbler/settings/migrations/V3_2_0.py
  cobbler/settings/migrations/V3_2_1.py
  cobbler/settings/migrations/V3_3_0.py
  cobbler/settings/migrations/V3_3_1.py
  cobbler/settings/migrations/V3_3_2.py
  cobbler/settings/migrations/V3_4_0.py
Labels: 3.0.0, 2.8.5, 3.0.1, 3.1.1, 3.1.2, 3.2.0, 3.2.1, 3.3.0, 3.2.2, 3.3.1, 3.3.2

#3104 [backport][3.3]fix console=ttyS-1,-1 check in build_kernel_options
  cobbler/tftpgen.py
Labels: backport

#3106 Fix inconsistant auth and authz return
  cobbler/api.py
  cobbler/modules/__init__.py
  cobbler/modules/authentication/__init__.py
  cobbler/modules/authentication/configfile.py
  cobbler/modules/authentication/denyall.py
  cobbler/modules/authentication/ldap.py
  cobbler/modules/authentication/pam.py
  cobbler/modules/authentication/passthru.py
  cobbler/modules/authentication/spacewalk.py
  cobbler/modules/authorization/__init__.py
  cobbler/modules/authorization/allowall.py
  cobbler/modules/authorization/configfile.py
  cobbler/modules/authorization/ownership.py
  cobbler/remote.py
  docs/cobbler-conf.rst
Labels: Documentation

#3004 Only save changes values in `settings.yaml`
  .github/workflows/system_testing.yml
  cobbler.spec
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/settings/migrations/helper.py
  config/cobbler/settings.d/bind_manage_ipmi.settings
  config/cobbler/settings.d/manage_genders.settings
  config/cobbler/settings.d/nsupdate.settings
  config/cobbler/settings.d/windows.settings
  config/cobbler/settings.yaml
  setup.py
  system-tests/scripts/bootstrap
  system-tests/tests/basic-mkloaders
  tests/items/item_test.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/settings/settings_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/utils_test.py
Labels: Tests, CI

#3108 Fix input_string_or_dict
  cobbler/items/item.py
  cobbler/items/mgmtclass.py
  cobbler/items/repo.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  cobbler/tftpgen.py
  cobbler/utils.py
  tests/utils_test.py
Labels: Tests

#3113 Include conflict object
  cobbler/items/item.py
  cobbler/items/system.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/validate_test.py
Labels: Tests

#3115 Cleanup codacy issues
  cobbler/actions/replicate.py
  cobbler/actions/reposync.py
  cobbler/api.py
  cobbler/cobbler_collections/manager.py
  cobbler/configgen.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/modules/authorization/ownership.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils.py
  tests/autoinstallation_manager_test.py
Labels: Tests

#3117 enable ldap-negative test again
  tests/modules/authentication/ldap_test.py
Labels: Tests

#3119 Fix - Owners inheritance
  cobbler/api.py
  cobbler/items/item.py
  cobbler/remote.py
  cobbler/utils.py
  tests/items/item_test.py
  tests/modules/managers/genders_test.py
  tests/modules/managers/in_tftpd_test.py
  tests/modules/managers/isc_test.py
  tests/utils_test.py
Labels: Tests

#3120 API: Add set attribute resolved
  cobbler/api.py
  cobbler/decorator.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  tests/api/miscellaneous_test.py
  tests/items/item_test.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/item_test.py
Labels: Tests
