Repository cobbler/cobbler, pull requests merged in 2022-07, with the labels that each got.

#3178 XML-RPC API: get_item_resolved_value for networks
  cobbler/remote.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: tests

#3168 Security: Insecure protocol usage
  cobbler/cli.py
  cobbler/modules/authentication/configfile.py
  cobbler/modules/authentication/denyall.py
  cobbler/modules/authentication/pam.py
  cobbler/modules/installation/pre_puppet.py
  cobbler/modules/managers/bind.py
  cobbler/utils/__init__.py
  docs/conf.py
  svc/services.py
Labels: documentation, Security

#3185 CI: Update CodeQL to V2
  .github/workflows/codeql-analysis.yml
Labels: CI

#3182 Test: Action - Report coverage
  cobbler/actions/report.py
  tests/actions/report_test.py
Labels: tests

#3186 XML-RPC: Drop custom handle
  .github/workflows/testing.yml
  cobbler/remote.py
  cobbler/validate.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/file_test.py
  tests/xmlrpcapi/image_test.py
  tests/xmlrpcapi/menu_test.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/package_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/repo_test.py
  tests/xmlrpcapi/system_test.py
Labels: tests, CI

#3183 Rename occurences of grubx86 to grubx64
  .github/workflows/system_testing.yml
  cobbler/settings/__init__.py
  config/cobbler/settings.yaml
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_34/Fedora34.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
  system-tests/prelude
  system-tests/scripts/bootstrap
  system-tests/scripts/run-tests
  system-tests/tests/settings-cli-migrate
  system-tests/tests/svc-puppet
  system-tests/tests/svc-settings
  templates/etc/dhcp6.template
  tests/actions/buildiso_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: tests, CI

#3189 Docs: Fixup rstlint for the user guide
  docs/user-guide.rst
Labels: documentation

#3038 Obsolete modules.conf
  cobbler.spec
  cobbler/api.py
  cobbler/cobbler_collections/manager.py
  cobbler/module_loader.py
  cobbler/modules/authentication/configfile.py
  cobbler/serializer.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/modules.conf
  config/cobbler/settings.yaml
  setup.py
  tests/api/sync_test.py
  tests/items/item_test.py
  tests/module_loader_test.py
  tests/modules/authentication/configfile_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: tests

#3191 Docs: Readd old image documentation
  docs/cobbler.rst
Labels: documentation

#3167 Tests - Reposync overhaul
  cobbler/actions/reposync.py
  tests/actions/reposync_test.py
Labels: tests

#3210 Fix `cobbler buildiso --exclude-dns`
  cobbler/actions/buildiso/netboot.py
  docs/user-guide/building-isos.rst
  tests/actions/buildiso/__init__.py
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
  tests/actions/buildiso/conftest.py
  tests/actions/buildiso_test.py
Labels: documentation, tests

#3205 Fixing boot menu issues
  cobbler/cli.py
  cobbler/items/image.py
  cobbler/items/menu.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/tftpgen.py
  templates/boot_loader_conf/grub.template
  templates/boot_loader_conf/grub_submenu.template
  templates/boot_loader_conf/ipxe_submenu.template
  templates/boot_loader_conf/pxe_submenu.template
  tests/items/image_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
Labels: tests

#3200 API: Expose input_converters to the outside
  .github/labeler.yml
  cobbler/api.py
  cobbler/remote.py
  docs/code-autodoc/cobbler.actions.buildiso.rst
  docs/code-autodoc/cobbler.actions.rst
  docs/code-autodoc/cobbler.rst
  docs/code-autodoc/cobbler.settings.migrations.rst
  docs/code-autodoc/cobbler.utils.rst
  tests/api/input_converters.py
  tests/utils/input_converters_test.py
  tests/xmlrpcapi/input_converters.py
Labels: documentation, API, tests, CI

#3207 CI: Add PR template
  .github/pull_request_template.md
Labels: CI

#3039 Obsolete mongodb.conf
  cobbler.spec
  cobbler/api.py
  cobbler/cobbler_collections/manager.py
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/file.py
  cobbler/modules/serializers/mongodb.py
  cobbler/serializer.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/mongodb.conf
  config/cobbler/settings.yaml
  docker/develop/scripts/setup-mongodb.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/develop/supervisord/conf.d/mongodb.conf
  setup.py
  tests/items/item_test.py
  tests/modules/serializer/file_test.py
  tests/modules/serializer/mongodb_test.py
  tests/serializer_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: API, tests

#3201 ESXi: add support for uefi pxe install and ipxe
  cobbler/actions/sync.py
  cobbler/modules/managers/isc.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  config/cobbler/distro_signatures.json
  docs/user-guide.rst
  docs/user-guide/esxi.rst
  docs/user-guide/tftp.rst
  system-tests/images/fake/boot.cfg
  system-tests/listings/vmware/esxi70/VMware-VMvisor-Installer-7.0U3d-19482537.x86_64.iso/files/vmware-esx-base-osl.txt
  system-tests/listings/vmware/esxi70/VMware-VMvisor-Installer-7.0U3d-19482537.x86_64.iso/index
  system-tests/prelude
  system-tests/tests/import-vmware-esxi70
  system-tests/tests/svc-bootcfg
  system-tests/tests/svc-bootcfg-esxi
  templates/boot_loader_conf/bootcfg.template
  templates/boot_loader_conf/ipxe.template
  templates/boot_loader_conf/pxe.template
  templates/etc/dhcp.template
Labels: documentation, tests

#3002 Integrate V2.x.x to V3.x.x migration script
  cobbler/settings/migrations/V3_0_0.py
  cobbler/settings/migrations/V3_0_1.py
  cobbler/settings/migrations/V3_4_0.py
  docs/index.rst
  docs/scripts.rst
  scripts/migrate-data-v2-to-v3.py
  scripts/settings-migration-v1-to-v2.sh
  tests/settings/migrations/migrations_test.py
  tests/test_data/V3_0_0/modules.conf
  tests/test_data/V3_3_3/modules.conf
  tests/test_data/V3_3_3/mongodb.conf
Labels: documentation, tests
