Repository cobbler/cobbler, pull requests merged in 2022-04, with the labels that each got.

#3043 Add GH PR Labeler
  .github/ISSUE_TEMPLATE/03_backport_request.md
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI

#3036 Remove templated variables in migrations
  cobbler/settings/migrations/V3_3_0.py
  cobbler/settings/migrations/V3_3_1.py
  cobbler/settings/migrations/V3_4_0.py
  setup.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: Tests

#3060 Backport of multiple PRs from the main branch
  autoinstall_snippets/redhat_register
  autoinstall_snippets/rhn_certificate_based_register
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/actions/sync.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/items/image.py
  cobbler/items/system.py
  cobbler/modules/managers/import_signatures.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_3_2.py
  docs/cobbler-conf.rst
  docs/cobbler.rst
  docs/user-guide/building-isos.rst
  system-tests/tests/buildiso-@
  system-tests/tests/buildiso-non-standard-directory
  tests/api/miscellaneous_test.py
  tests/utils_test.py
Labels: backport

#3014 Added AlmaLinux build support on release33
  distro_build_configs.sh
Labels: backport

#3065 [mkloaders] Add the missing 'syslinux/libutil.c32'
  cobbler/actions/mkloaders.py
Labels: backport

#3067 Backport of GitHub PR 3019
  cobbler/api.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/utils.py
  cobbler/validate.py
  tests/api/miscellaneous_test.py
  tests/conftest.py
  tests/items/distro_test.py
  tests/items/item_test.py
  tests/items/profile_test.py
  tests/items/repo_test.py
  tests/items/system_test.py
  tests/utils_test.py
  tests/validate_test.py
  tests/xmlrpcapi/non_object_calls_test.py
Labels: backport

#3066 setup.py: Fix logger
  setup.py
Labels: backport
