Repository cobbler/cobbler, pull requests merged in 2022-03, with the labels that each got.

#2957 Refactor isc manager
  cobbler/modules/managers/isc.py
  tests/modules/managers/isc_test.py
Labels: Tests

#2944 Update DHCP conf for iPXE
  .github/workflows/testing.yml
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/items/system.py
  cobbler/manager.py
  cobbler/modules/managers/isc.py
  cobbler/utils.py
  docker/debs/Debian_10/supervisord/conf.d/slapd.conf
  docker/debs/Debian_10/supervisord/supervisord.conf
  docker/debs/Debian_11/supervisord/conf.d/slapd.conf
  docker/debs/Debian_11/supervisord/supervisord.conf
  docker/debs/build-and-install-debs.sh
  docker/develop/scripts/setup-supervisor.sh
  docker/develop/supervisord/conf.d/dhcpd.conf
  docker/rpms/Fedora_34/supervisord/conf.d/slapd.conf
  docker/rpms/Fedora_34/supervisord/supervisord.conf
  docker/rpms/build-and-install-rpms.sh
  docker/rpms/opensuse_leap/supervisord/conf.d/slapd.conf
  docker/rpms/opensuse_leap/supervisord/supervisord.conf
  docker/rpms/opensuse_tumbleweed/supervisord/conf.d/slapd.conf
  docker/rpms/opensuse_tumbleweed/supervisord/supervisord.conf
  system-tests/scripts/bootstrap
  system-tests/scripts/run-tests
  system-tests/tests/basic-system-ipxe-dhcpd-conf-update
  tests/actions/buildiso_test.py
  tests/api/sync_test.py
  tests/modules/managers/isc_test.py
  tests/utils_test.py
Labels: Tests

#2963 Tests: XML-RPC to Python switch
  cobbler/utils.py
  templates/etc/dhcp.template
  templates/etc/dhcp6.template
  tests/actions/mkloaders_test.py
  tests/api/find_test.py
  tests/api/miscellaneous_test.py
  tests/api/sync_test.py
  tests/cli/cli_unit_test.py
  tests/collections/conftest.py
  tests/collections/distro_collection_test.py
  tests/configgen_test.py
  tests/conftest.py
  tests/items/distro_test.py
  tests/items/file_test.py
  tests/items/image_test.py
  tests/items/item_test.py
  tests/items/menu_test.py
  tests/items/mgmtclass_test.py
  tests/items/package_test.py
  tests/items/profile_test.py
  tests/items/repo_test.py
  tests/items/resource_test.py
  tests/items/system_test.py
  tests/modules/authentication/ldap_test.py
  tests/modules/authentication/pam_test.py
  tests/modules/managers/isc_test.py
  tests/modules/serializer/file_test.py
  tests/templar_test.py
  tests/tftpgen_test.py
  tests/utils_test.py
  tests/validate_test.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/system_test.py
Labels: Tests

#2956 Tests: Add basic tests for untested modules
  cobbler/actions/reposync.py
  cobbler/actions/sync.py
  cobbler/items/system.py
  cobbler/modules/managers/bind.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/genders.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/modules/managers/ndjbdns.py
  cobbler/modules/scm_track.py
  cobbler/modules/sync_post_restart_services.py
  cobbler/utils.py
  docker/develop/develop.dockerfile
  docs/user-guide.rst
  templates/etc/dnsmasq.template
  tests/autoinstallation_manager_test.py
  tests/conftest.py
  tests/items/system_test.py
  tests/module_loader_test.py
  tests/modules/authentication/ldap_test.py
  tests/modules/authorization/__init__.py
  tests/modules/authorization/allowall_test.py
  tests/modules/authorization/configfile_test.py
  tests/modules/authorization/ownership_test.py
  tests/modules/installation/__init__.py
  tests/modules/installation/post_log_test.py
  tests/modules/installation/post_power_test.py
  tests/modules/installation/post_puppet_test.py
  tests/modules/installation/post_report_test.py
  tests/modules/installation/pre_clear_anamon_logs_test.py
  tests/modules/installation/pre_log_test.py
  tests/modules/installation/pre_puppet_test.py
  tests/modules/managers/bind_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/genders_test.py
  tests/modules/managers/import_signatures_test.py
  tests/modules/managers/in_tftpd_test.py
  tests/modules/managers/isc_test.py
  tests/modules/managers/ndjbdns_test.py
  tests/modules/nsupdate_add_system_post_test.py
  tests/modules/nsupdate_delete_system_pre_test.py
  tests/modules/scm_track_test.py
  tests/modules/serializer/file_test.py
  tests/modules/sync_post_restart_services_test.py
  tests/modules/sync_post_wingen_test.py
  tests/utils_test.py
  tests/xmlrpcapi/background_test.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/distro_test.py
  tests/xmlrpcapi/file_test.py
  tests/xmlrpcapi/image_test.py
  tests/xmlrpcapi/menu_test.py
  tests/xmlrpcapi/mgmt_class_test.py
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/non_object_calls_test.py
  tests/xmlrpcapi/package_test.py
  tests/xmlrpcapi/profile_test.py
  tests/xmlrpcapi/repo_test.py
  tests/xmlrpcapi/system_test.py
Labels: Tests

#2942 fix/reposync_librepo
  cobbler/actions/reposync.py
  cobbler/cli.py
  docker/develop/develop.dockerfile
  docker/develop/scripts/setup-reposync.sh
  docker/develop/scripts/setup-supervisor.sh
  tests/actions/reposync_test.py
Labels: PKG, Tests

#2976 [managers] Fix 'signatures' key error
  cobbler/modules/managers/import_signatures.py
Labels: 3.3.2
