Repository cobbler/cobbler, pull requests merged in 2023-07, with the labels that each got.

#3448 Add Debian 12 to supported distros
  changelog.d/3449.added
  config/cobbler/distro_signatures.json
  system-tests/listings/debian/bookworm/debian-12.0.0-amd64-DVD-1.iso/files/dists/bookworm/Release
  system-tests/listings/debian/bookworm/debian-12.0.0-amd64-DVD-1.iso/index
  system-tests/tests/import-debian-bookworm
  system-tests/tests/import-freebsd-freebsd11.4
  system-tests/tests/import-freebsd-freebsd12.1
  system-tests/tests/import-freebsd-freebsd13.1
  system-tests/tests/import-freebsd-freebsd13.2
  system-tests/tests/import-freebsd11.4
  system-tests/tests/import-freebsd12.1
  system-tests/tests/import-freebsd13.1
  system-tests/tests/import-freebsd13.2
  system-tests/tests/import-sles15sp2
  system-tests/tests/import-sles15sp3
  system-tests/tests/import-sles15sp4
  system-tests/tests/import-suse-sles15sp2
  system-tests/tests/import-suse-sles15sp3
  system-tests/tests/import-suse-sles15sp4
Labels: enhancement, tests

#3467 Use Fedora Rawhide for tests
  tests/actions/reposync_test.py
Labels: tests, no changelog

#3466 add mtools dep in spec file and dockerfile
  cobbler.spec
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: Packaging, no changelog

#3469 Use Python 3.11 instead of Python 3.10 in develop container (openSUSE Tumbleweed)
  docker/develop/develop.dockerfile
Labels: CI, no changelog

#3470 Use dhcp manager's restart_service method in sync
  changelog.d/3463.fixed
  cobbler/modules/sync_post_restart_services.py
  setup.py
  tests/modules/sync_post_restart_services_test.py
Labels: tests
