Repository cobbler/cobbler, pull requests merged in 2023-02, with the labels that each got.

#3245 Do generate boot menus even if no profiles or systems - only local boot
  cobbler/tftpgen.py
  tests/tftpgen_test.py
Labels: tests

#3250 feat: Added signature for Ubuntu 22.04 LTS
  config/cobbler/distro_signatures.json
  system-tests/listings/ubuntu/jammy/ubuntu-22.04.1-live-server-amd64.iso/files/dists/jammy/Release
  system-tests/listings/ubuntu/jammy/ubuntu-22.04.1-live-server-amd64.iso/index
  system-tests/tests/import-ubuntu-jammy
Labels: tests

#3338 Fix issues found on "mongodb" serializer module on latest pymongo versions
  cobbler/modules/serializers/mongodb.py
  tests/modules/serializer/mongodb_test.py
Labels: tests

#3343 Fix `cobbler reposync`
  cobbler/actions/reposync.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  system-tests/tests/settings-cli-migrate
  system-tests/tests/svc-settings
  tests/actions/reposync_test.py
  tests/test_data/V3_4_0/settings.yaml
Labels: documentation, tests

#3335 Support for older anaconda boot line options
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/tftpgen.py
  tests/actions/buildiso/append_line_test.py
Labels: tests

#3260 Only call __interface_edit if in fact there are interface keys to edit.
  cobbler/remote.py
  docs/cobbler.rst
  docs/user-guide.rst
  docs/user-guide/advanced-networking.rst
  tests/xmlrpcapi/miscellaneous_test.py
  tests/xmlrpcapi/xapi_test.py
Labels: documentation, API, tests

#3337 XML-RPC: Fixup `modify_setting` with boolean values
  cobbler/api.py
  cobbler/remote.py
  tests/conftest.py
  tests/xmlrpcapi/conftest.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: API, tests

#3351 Fix parm files for s390 systems when there are long kernel options values
  cobbler/tftpgen.py
  tests/conftest.py
  tests/tftpgen_test.py
Labels: tests

#3353 Fix: rename item
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/manager.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/modules/installation/post_report.py
  tests/api/add_test.py
  tests/cobbler_collections/conftest.py
  tests/cobbler_collections/distro_collection_test.py
Labels: tests
