Repository cobbler/cobbler, pull requests merged in 2023-04, with the labels that each got.

#3357 Fix buildiso with efi firmware
  .github/workflows/performance_testing.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  cobbler/autoinstallgen.py
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
  templates/iso/grub_menuentry.template
  templates/iso/isolinux_menuentry.template
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
Labels: API, tests, CI

#3405 Docs: Windows import
  docs/user-guide/wingen.rst
Labels: documentation

#3386 Backport: `cobbler-settings modify` fixes
  .github/workflows/lint.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
  Makefile
  bin/cobbler-settings
  docker/develop/develop.dockerfile
  docker/develop/scripts/setup-reposync.sh
  docker/develop/scripts/setup-supervisor.sh
  scripts/settings-migration-v1-to-v2.sh
  system-tests/scripts/run-tests
  system-tests/tests/settings-cli-automigrate-disable
  system-tests/tests/settings-cli-automigrate-enable
  system-tests/tests/settings-cli-migrate
  system-tests/tests/settings-cli-modify-bool
  system-tests/tests/settings-cli-modify-dict
  system-tests/tests/settings-cli-modify-float
  system-tests/tests/settings-cli-modify-int
  system-tests/tests/settings-cli-modify-list
  system-tests/tests/settings-cli-modify-str
  system-tests/tests/settings-cli-verify
  tests/conftest.py
  tests/items/item_test.py
  tests/items/system_test.py
Labels: backport

#3392 CI: Use new image for testing
  .github/workflows/performance_testing.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
  .obs/main.yml
  docker/develop/develop.dockerfile
Labels: Packaging, main, CI

#3326 Fix anamon invalid type when sending logs
  cobbler/remote.py
  cobbler/tftpgen.py
  docs/user-guide.rst
  docs/user-guide/automatic-installation.rst
  misc/anamon
Labels: documentation, API

#3421 Fix anamon invalid type
  cobbler/remote.py
  misc/anamon
Labels: backport

#3362 Netiso install option fix
  cobbler/actions/buildiso/netboot.py
  tests/actions/buildiso/append_line_test.py
Labels: tests
