Repository cobbler/cobbler, pull requests merged in 2023-05, with the labels that each got.

#3423 [Backport] Fixup incorrect dhcpd filename option
  cobbler/items/menu.py
  cobbler/items/profile.py
  tests/items/profile_test.py
Labels: documentation, API, tests, CI, backport

#3424 Include setup files for tests container subpackage
  cobbler.spec
  setup.py
Labels: backport

#3397 [3.2] Backport fix for CVE-2022-0860
  cobbler/modules/authentication/pam.py
Labels: backport

#3395 Backport removal of get-loaders to 3.2
  cobbler/actions/check.py
  cobbler/actions/dlcontent.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  config/bash/completion/cobbler
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
  docs/cobbler.rst
  docs/code-autodoc/cobbler.actions.rst
  tests/cli/cobbler_cli_direct_test.py
  tests/xmlrpcapi/background_test.py
Labels: backport

#3396 Backport PR #2590 autoinstall_templates fix for 3.2
  cobbler/actions/sync.py
  config/cobbler/settings.yaml
  docs/cobbler-conf.rst
  tests/test_data/settings_old
Labels: backport

#2965 Some backported fixes for release32 branch
  cobbler/actions/buildiso.py
  cobbler/modules/authentication/ldap.py
  cobbler/tftpgen.py
  config/cobbler/distro_signatures.json
  setup.py
Labels: backport

#3333 Changelog for public-facing API and data structures
  cobbler/api.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/resource.py
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/services.py
Labels: documentation, API

#3411 Fixed issue with profile and pxe menu
  cobbler/items/profile.py
  tests/conftest.py
  tests/items/item_test.py
  tests/items/profile_test.py
Labels: tests

#3418 Add new distros to signatures and update isort
  .pre-commit-config.yaml
  config/cobbler/distro_signatures.json
  system-tests/listings/freebsd/freebsd11.4/FreeBSD-11.4-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd11.4/FreeBSD-11.4-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/freebsd/freebsd12.1/FreeBSD-12.1-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd12.1/FreeBSD-12.1-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/freebsd/freebsd13.1/FreeBSD-13.1-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd13.1/FreeBSD-13.1-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/freebsd/freebsd13.2/FreeBSD-13.2-RELEASE-amd64-dvd1.iso/files/bin/freebsd-version
  system-tests/listings/freebsd/freebsd13.2/FreeBSD-13.2-RELEASE-amd64-dvd1.iso/index
  system-tests/listings/redhat/cloudlinux7/CloudLinux-DVD-x86_64-7.9.iso/index
  system-tests/listings/redhat/fedora36/Fedora-Workstation-Live-x86_64-36-1.5.iso/index
  system-tests/listings/redhat/fedora37/Fedora-Workstation-Live-x86_64-37-1.7.iso/index
  system-tests/listings/redhat/fedora38/Fedora-Workstation-Live-x86_64-38-1.6.iso/index
  system-tests/listings/suse/sles15sp2/SLE-15-SP2-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles15sp3/SLE-15-SP3-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/suse/sles15sp4/SLE-15-SP4-Full-x86_64-GM-Media1.iso/index
  system-tests/listings/ubuntu/groovy/ubuntu-20.10-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/groovy/ubuntu-20.10-desktop-amd64.iso/files/dists/groovy/Release
  system-tests/listings/ubuntu/groovy/ubuntu-20.10-desktop-amd64.iso/index
  system-tests/listings/ubuntu/hirsute/ubuntu-21.04-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/hirsute/ubuntu-21.04-desktop-amd64.iso/files/dists/hirsute/Release
  system-tests/listings/ubuntu/hirsute/ubuntu-21.04-desktop-amd64.iso/index
  system-tests/listings/ubuntu/kinetic/ubuntu-22.10-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/kinetic/ubuntu-22.10-desktop-amd64.iso/files/dists/kinetic/Release
  system-tests/listings/ubuntu/kinetic/ubuntu-22.10-desktop-amd64.iso/index
  system-tests/listings/ubuntu/lunar/ubuntu-23.04-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/lunar/ubuntu-23.04-desktop-amd64.iso/files/dists/lunar/Release
  system-tests/listings/ubuntu/lunar/ubuntu-23.04-desktop-amd64.iso/index
  system-tests/tests/import-freebsd11.4
  system-tests/tests/import-freebsd12.1
  system-tests/tests/import-freebsd13.1
  system-tests/tests/import-freebsd13.2
  system-tests/tests/import-redhat-cloudlinux7
  system-tests/tests/import-redhat-fedora36
  system-tests/tests/import-redhat-fedora37
  system-tests/tests/import-redhat-fedora38
  system-tests/tests/import-sles15sp2
  system-tests/tests/import-sles15sp3
  system-tests/tests/import-sles15sp4
  system-tests/tests/import-ubuntu-groovy
  system-tests/tests/import-ubuntu-hirsute
  system-tests/tests/import-ubuntu-kinetic
  system-tests/tests/import-ubuntu-lunar
Labels: tests
