Repository cobbler/cobbler, pull requests merged in 2023-11, with the labels that each got.

#3515 Run black with --diff
  .github/workflows/lint.yml
Labels: CI, no changelog

#3501 Add missing managers. for dnsmasq
  changelog.d/3514.fixed
  docs/user-guide.rst
  docs/user-guide/boot-cd.rst
Labels: documentation

#3516 Try using checkout@v4 in CI
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/increase-version.yml
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/performance_testing.yml
  .github/workflows/release.yml
  .github/workflows/system_testing.yml
  .github/workflows/testing.yml
Labels: CI, no changelog

#3495 Buildiso PPC64LE Enablement
  changelog.d/3495.added
  cobbler.spec
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  docs/user-guide/building-isos.rst
  system-tests/tests/buildiso-ppc64le
  templates/iso/bootinfo.template
Labels: documentation, tests

#3517 Notify to systemd when cobblerd startup is finished
  .github/workflows/lint.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  changelog.d/3518.added
  cobbler.spec
  cobbler/cobblerd.py
  config/service/cobblerd.service
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_37/Fedora37.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
  setup.py
Labels: CI

#3509 Do not open files for reading that we are only writing to.
  changelog.d/3508.fixed
  cobbler/actions/reposync.py
  cobbler/autoinstall_manager.py
  cobbler/modules/installation/post_log.py
  cobbler/modules/installation/pre_log.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/nsupdate_add_system_post.py
  cobbler/modules/nsupdate_delete_system_pre.py
  cobbler/modules/serializers/file.py
  cobbler/modules/sync_post_wingen.py
  cobbler/templar.py
  setup.py
  tests/actions/reposync_test.py
  tests/modules/managers/dnsmasq_test.py
Labels: tests

#3497 Add tree auto install meta back to imported distros
  changelog.d/3417.fixed
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/modules/managers/import_signatures.py
  cobbler/tftpgen.py
Labels: API

#3521 Docs: Make code-block directives coherent
  changelog.d/3522.fixed
  docs/cobbler-conf/settings-yaml.rst
  docs/cobbler.rst
  docs/quickstart-guide.rst
  docs/user-guide.rst
  docs/user-guide/advanced-networking.rst
  docs/user-guide/building-isos.rst
  docs/user-guide/configuration-management-integrations.rst
  docs/user-guide/esxi.rst
  docs/user-guide/http-api.rst
  docs/user-guide/httpboot.rst
  docs/user-guide/power-management.rst
  docs/user-guide/terraform-provider.rst
  docs/user-guide/wingen.rst
Labels: documentation

#3485 Restart dhcpd for both IPv4 and IPv6
  changelog.d/3484.fixed
  cobbler/modules/managers/isc.py
  tests/modules/managers/isc_test.py
Labels: tests
