Repository cobbler/cobbler, pull requests merged in 2024-07, with the labels that each got.

#3737 Add changelog for 3.3.5
  changelog.d/3596.added
  changelog.d/3666.added
  changelog.d/3680.added
  changelog.d/3702.added
  changelog.d/3708.fixed
  changelog.d/3715.fixed
  changelog.d/3724.fixed
  changelog.d/3725.added
  changelog/v3.3.5.md
Labels: no changelog

#3752 Add dosfstools to dockerfiles
  docker/debs/Debian_10/Debian10.dockerfile
  docker/debs/Debian_11/Debian11.dockerfile
  docker/develop/develop.dockerfile
  docker/rpms/Fedora_34/Fedora34.dockerfile
  docker/rpms/Rocky_Linux_8/Rocky_Linux_8.dockerfile
  docker/rpms/opensuse_leap/openSUSE_Leap153.dockerfile
  docker/rpms/opensuse_tumbleweed/openSUSE_TW.dockerfile
Labels: no changelog

#3710 Enable dhcp sync to work on single system
  changelog.d/3710.changed
  cobbler/actions/sync.py
  cobbler/cobbler_collections/collection.py
  cobbler/modules/managers/__init__.py
  cobbler/modules/managers/dnsmasq.py
  cobbler/modules/managers/isc.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/utils/__init__.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  templates/etc/dnsmasq.template
  tests/items/item_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/isc_test.py
  tests/utils/utils_test.py
Labels: documentation, tests

#3739 Move NetworkInterface class to dedicated module
  cobbler/cobbler_collections/systems.py
  cobbler/items/network_interface.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/cobbler_collections/system_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: API, tests, no changelog

#3755 Actions: Buildiso - Fix DNS append line generation
  changelog.d/3747.fixed
  cobbler/actions/buildiso/netboot.py
  docs/user-guide/building-isos.rst
  tests/actions/buildiso/__init__.py
  tests/actions/buildiso/append_line_test.py
  tests/actions/buildiso/buildiso_test.py
  tests/actions/buildiso/conftest.py
Labels: backport

#3757 Document detail for buildiso exclude-dns param
  docs/user-guide/building-isos.rst
Labels: documentation, no changelog

#3738 Forward port 3.3.4 and 3.3.5 migrations
  changelog.d/3628.changed
  changelog/.keep
  changelog/v3.3.4.md
  changelog/v3.3.5.md
  cobbler/settings/migrations/V3_3_4.py
  cobbler/settings/migrations/V3_3_5.py
  cobbler/settings/migrations/V3_4_0.py
  tests/settings/migrations/migrations_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_3_4/modules.conf
  tests/test_data/V3_3_4/mongodb.conf
  tests/test_data/V3_3_4/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_4/settings.d/manage_genders.settings
  tests/test_data/V3_3_4/settings.d/nsupdate.settings
  tests/test_data/V3_3_4/settings.d/windows.settings
  tests/test_data/V3_3_4/settings.yaml
  tests/test_data/V3_3_5/modules.conf
  tests/test_data/V3_3_5/mongodb.conf
  tests/test_data/V3_3_5/settings.d/bind_manage_ipmi.settings
  tests/test_data/V3_3_5/settings.d/manage_genders.settings
  tests/test_data/V3_3_5/settings.d/nsupdate.settings
  tests/test_data/V3_3_5/settings.d/windows.settings
  tests/test_data/V3_3_5/settings.yaml
Labels: tests

#3758 Introduce `BaseItem` class
  cobbler/api.py
  cobbler/autoinstall_manager.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/manager.py
  cobbler/decorator.py
  cobbler/items/abstract/base_item.py
  cobbler/items/distro.py
  cobbler/items/item.py
  cobbler/modules/authorization/ownership.py
  cobbler/remote.py
  cobbler/settings/migrations/V3_3_4.py
  cobbler/settings/migrations/V3_3_5.py
  cobbler/utils/__init__.py
  cobbler/validate.py
  cobbler/yumgen.py
  system-tests/tests/settings-cli-migrate
  tests/items/base_item_test.py
  tests/items/item_test.py
  tests/settings/migrations/normalize_test.py
Labels: API, tests, no changelog

#3761 SPEC: Add SUSE copyright
  cobbler.spec
Labels: no changelog

#3763 SPEC: Add SUSE copyright
  cobbler.spec
Labels: no changelog

#3768 CI: Add repo execution condition on release workflow
  .github/workflows/release.yml
  changelog.d/3743.added
Labels: CI

#3773 CI: Limit number of branches for coverage upload
  .github/workflows/coverage-upload.yml
Labels: CI, no changelog

#3781 Add 3.3.6 changelog
  changelog.d/3744.added
  changelog.d/3745.fixed
  changelog.d/3747.fixed
  changelog.d/3748.added
  changelog.d/3749.fixed
  changelog.d/3750.fixed
  changelog.d/3751.fixed
  changelog.d/3753.fixed
  changelog.d/3769.added
  changelog.d/3771.added
  changelog.d/3774.fixed
  changelog.d/3776.fixed
  changelog.d/3779.fixed
  changelog/v3.3.6.md
Labels: no changelog

#3714 Add debugging help to docs
  changelog.d/3672.added
  docs/index.rst
  docs/user-guide.rst
  docs/user-guide/automatic-installation.rst
Labels: documentation
