Repository cobbler/cobbler, pull requests merged in 2024-01, with the labels that each got.

#3535 Items: Move ItemCache into dedicated submodule
  cobbler/items/abstract/__init__.py
  cobbler/items/abstract/item_cache.py
  cobbler/items/item.py
Labels: no changelog

#3476 Fix Windows UEFI
  autoinstall_snippets/Windows/wait_network_online
  autoinstall_templates/win.ks
  changelog.d/3473.fixed
  changelog.d/3476.added
  changelog.d/3476.changed
  cobbler/actions/mkloaders.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/sync_post_wingen.py
  cobbler/tftpgen.py
  cobbler/utils/filesystem_helpers.py
  config/cobbler/distro_signatures.json
  docs/user-guide.rst
  docs/user-guide/wingen.rst
  templates/boot_loader_conf/grub.template
  templates/boot_loader_conf/pxe.template
  templates/windows/answerfile.template
  templates/windows/post_inst_cmd.template
  templates/windows/startnet.template
  tests/utils/filesystem_helpers_test.py
Labels: documentation, tests

#3252 item: deduplicate value from resolve decorator
  changelog.d/3211.fixed
  cobbler/items/__init__.py
  cobbler/items/item.py
  cobbler/items/profile.py
  docker/develop/scripts/setup-supervisor.sh
  tests/items/inheritance_test.py
  tests/items/system_test.py
  tests/xmlrpcapi/profile_test.py
Labels: tests

#3547 Fix `cobbler sync` with enabled DNS management
  Makefile
  changelog.d/3126.fixed
  cobbler/modules/managers/bind.py
  tests/modules/managers/bind_test.py
Labels: tests

#3549 Add XML-RPC endpoint for generating a TFTP file dynamically
  .prospector.yml
  changelog.d/3555.added
  cobbler/api.py
  cobbler/remote.py
  cobbler/tftpgen.py
Labels: API

#3563 Fix MongoDB collection names
  changelog.d/3563.fixed
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/mongodb.py
  tests/modules/serializer/mongodb_test.py
Labels: tests

#3561 Fix initrd.magic for ipxe
  changelog.d/3561.fixed
  docs/user-guide/http-api.rst
  system-tests/tests/svc-ipxe-profile
  templates/boot_loader_conf/ipxe.template
Labels: documentation, tests

#3558 Fix: Inheriting some non-string properties
  changelog.d/3558.fixed
  cobbler/items/image.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/validate.py
  tests/items/distro_test.py
  tests/items/file_test.py
  tests/items/image_test.py
  tests/items/item_test.py
  tests/items/menu_test.py
  tests/items/mgmtclass_test.py
  tests/items/network_interface_test.py
  tests/items/package_test.py
  tests/items/profile_test.py
  tests/items/repo_test.py
  tests/items/resource_test.py
  tests/items/system_test.py
Labels: tests

#3566 docker: add build of debs for Debian 12 Bookworm
  .github/workflows/packaging.yml
  Makefile
  changelog.d/3566.added
  docker/debs/Debian_12/Debian12.dockerfile
  docs/installation-guide.rst
Labels: documentation, CI

#3554 Feature: Add SQLite backend support
  changelog.d/3554.added
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/sqlite.py
  docs/cobbler-conf/settings-yaml.rst
  docs/code-autodoc/cobbler.modules.serializers.rst
  tests/module_loader_test.py
  tests/modules/serializer/sqlite_test.py
Labels: documentation, tests
