Repository cobbler/cobbler, pull requests merged in 2024-06, with the labels that each got.

#3671 Collection indexes
  .benchmarks/Linux-CPython-3.11-64bit/0001_fa663b82919798d9eb623bdd9e021a747b186ddb_20240528_151313_uncommited-changes.json
  .github/workflows/performance_testing_automated.yml
  changelog.d/3671.added
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/item.py
  cobbler/items/system.py
  cobbler/remote.py
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/system_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: API, tests, CI

#3711 Add performance testsuite dependencies
  docker/develop/develop.dockerfile
Labels: backport, no changelog

#3712 Docker: Fix adding repository to the image
  docker/develop/develop.dockerfile
Labels: no changelog

#3713 Fix `get_event_log` XML-RPC endpoint
  changelog.d/3708.fixed
  cobbler/enums.py
  cobbler/remote.py
  cobbler/utils.py
Labels: API

#3727 Backport collection indicies
  changelog.d/3725.added
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/files.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/mgmtclasses.py
  cobbler/cobbler_collections/packages.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/repos.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/distro.py
  cobbler/items/file.py
  cobbler/items/image.py
  cobbler/items/item.py
  cobbler/items/menu.py
  cobbler/items/mgmtclass.py
  cobbler/items/package.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/resource.py
  cobbler/items/system.py
  cobbler/modules/installation/post_report.py
  cobbler/remote.py
  docker/develop/develop.dockerfile
  tests/collections/distro_collection_test.py
  tests/collections/system_collection_test.py
  tests/conftest.py
  tests/items/network_interface_test.py
  tests/items/system_test.py
  tests/modules/managers/dnsmasq_test.py
  tests/modules/managers/ndjbdns_test.py
Labels: API, tests, backport
