Repository cobbler/cobbler, pull requests merged in 2024-11, with the labels that each got.

#3837 Fix RHEL 9 RPM build
  .github/workflows/packaging.yml
  Makefile
  changelog.d/3655.fixed
  cobbler.spec
  docker-compose.yml
  docker/rpms/Rocky_Linux_9/Rocky_Linux_9.dockerfile
  system-tests/listings/redhat/rhel9/Rocky-9.4-x86_64-dvd1.iso/index
Labels: tests, CI

#3834 Let users specify ESP for buildiso
  changelog.d/3834.added
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  docs/user-guide/building-isos.rst
Labels: documentation, API

#3665 buildiso: Introduce exclude-systems CLI option and distro autodetection
  changelog.d/3665.added
  cobbler/actions/buildiso/__init__.py
  cobbler/actions/buildiso/netboot.py
  cobbler/actions/buildiso/standalone.py
  cobbler/api.py
  cobbler/cli.py
  cobbler/remote.py
  tests/actions/buildiso/buildiso_test.py
Labels: API, tests

#3721 Non-unique collection indexes
  changelog.d/3721.added
  changelog.d/3816.fixed
  cobbler/api.py
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/distros.py
  cobbler/cobbler_collections/images.py
  cobbler/cobbler_collections/menus.py
  cobbler/cobbler_collections/profiles.py
  cobbler/cobbler_collections/systems.py
  cobbler/items/abstract/base_item.py
  cobbler/items/abstract/bootable_item.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/network_interface.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  tests/cobbler_collections/distro_collection_test.py
  tests/cobbler_collections/image_collection_test.py
  tests/cobbler_collections/menu_collection_test.py
  tests/cobbler_collections/profile_collection_test.py
  tests/cobbler_collections/repo_collection_test.py
  tests/cobbler_collections/system_collection_test.py
  tests/conftest.py
  tests/items/base_item_test.py
  tests/items/bootable_item_test.py
  tests/items/cache_test.py
  tests/items/inheritable_item_test.py
  tests/items/inmemory_test.py
  tests/modules/managers/isc_test.py
  tests/modules/serializer/sqlite_test.py
  tests/performance/__init__.py
  tests/performance/deserialize_test.py
  tests/performance/get_autoinstall_test.py
  tests/performance/item_add_test.py
  tests/performance/item_copy_test.py
  tests/performance/item_edit_test.py
  tests/performance/item_remove_test.py
  tests/performance/item_rename_test.py
  tests/performance/make_pxe_menu_test.py
  tests/performance/start_test.py
  tests/performance/sync_test.py
  tests/utils/utils_test.py
Labels: API, tests

#3842 Fix: Python 3.13 support
  changelog.d/3842.fixed
  cobbler/actions/reposync.py
  tests/actions/reposync_test.py
Labels: tests

#3850 CI: Cleanup release33 packaging and release workflows
  .github/workflows/changelog.yml
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  setup.py
Labels: no changelog

#3851 Tests: Fix XML-RPC API miscellaneous formatting
  .github/workflows/lint.yml
  .github/workflows/newsfragment_checker.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  tests/xmlrpcapi/background_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: tests, CI, no changelog

#3853 Fix: release33 login test errors
  tests/xmlrpcapi/miscellaneous_test.py
Labels: no changelog
