Repository cobbler/cobbler, pull requests merged in 2024-03, with the labels that each got.

#3645 Fixes for buildiso
  cobbler/actions/buildiso.py
Labels: backport

#3505 Update virt docs and change the default virt type to kvm, bridge to v…
  changelog.d/3505.changed
  cobbler/items/system.py
  cobbler/remote.py
  cobbler/settings/__init__.py
  cobbler/utils/__init__.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  docs/cobbler.rst
  system-tests/tests/svc-settings
  tests/items/network_interface_test.py
  tests/items/profile_test.py
  tests/items/system_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/xmlrpcapi/non_object_calls_test.py
Labels: documentation, API, tests

#3629 add uyuni authentication endpoint
  changelog.d/3631.added
  cobbler/modules/authentication/spacewalk.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  tests/items/item_test.py
  tests/utils/utils_test.py
Labels: documentation, tests

#3661 Accept InfiniBand MAC addresses
  changelog.d/3660.fixed
  cobbler/validate.py
  tests/items/network_interface_test.py
Labels: tests
