Repository cobbler/cobbler, pull requests merged in 2024-02, with the labels that each got.

#3581 Backport - mkloaders: Fix path to linux.c32 for symlink
  changelog.d/3580.fixed
  cobbler/actions/mkloaders.py
Labels: documentation, API, tests, Packaging, CI

#3564 Prevent parallel executions of cobbler sync actions to avoid race conditions
  .github/workflows/lint.yml
  changelog.d/3529.fixed
  cobbler/api.py
  cobbler/utils/__init__.py
  tests/api/sync_test.py
  tests/utils/utils_test.py
Labels: API, tests, CI

#3570 Fix: Provide a way to link existing GRUB file
  changelog.d/3570.changed
  cobbler/actions/mkloaders.py
  cobbler/settings/__init__.py
  cobbler/settings/migrations/V3_4_0.py
  config/cobbler/settings.yaml
  distro_build_configs.sh
  docs/cobbler-conf/settings-yaml.rst
  docs/user-guide/grub.rst
  setup.py
  tests/actions/mkloaders_test.py
  tests/items/item_test.py
  tests/settings/migrations/normalize_test.py
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/utils_test.py
Labels: documentation, tests

#3607 Release33 configparser
  changelog.d/3606.fixed
  cobbler/modules/authorization/configfile.py
Labels: documentation, API, tests, Packaging, CI

#3610 Docs: Fixup smaller issues
  changelog.d/3593.fixed
  changelog.d/3594.fixed
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  docs/user-guide.rst
  docs/user-guide/boot-cd.rst
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
Labels: documentation

#3618 Backport: Bash completion
  changelog.d/3604.fixed
  config/bash/completion/cobbler
  docs/user-guide/dhcp-management.rst
  docs/user-guide/dns-management.rst
Labels: backport

#3619 CI: Add changelog automation
  .github/workflows/newsfragment_checker.yml
  changelog.d/changelog_template.jinja
  towncrier.toml
Labels: backport, no changelog

#3620 Modules: scm_track - Fix pushing to repositories
  changelog.d/3590.fixed
  cobbler/modules/scm_track.py
  tests/modules/scm_track_test.py
Labels: tests

#3622 [Backport] Modules: scm_track - Fix pushing to repositories
  changelog.d/3621.fixed
  cobbler/modules/scm_track.py
  setup.py
  tests/modules/scm_track_test.py
Labels: backport

#3626 Rename occurences of grubx86 to grubx64
  changelog.d/3623.fixed
  cobbler.spec
  config/cobbler/settings.yaml
  system-tests/tests/settings-cli-migrate
  system-tests/tests/svc-settings
  templates/etc/dhcp6.template
  tests/actions/buildiso_test.py
  tests/test_data/V3_3_4/settings.yaml
Labels: backport
