Repository cobbler/cobbler, pull requests merged in 2024-08, with the labels that each got.

#3800 re-delocalize verb participle
  docs/cobbler-conf/settings-yaml.rst
Labels: documentation, no changelog

#3801 [XMLRPC-API] Add support for querying and removing unsaved items
  changelog.d/3799.changed
  cobbler/remote.py
  tests/xmlrpcapi/item_test.py
Labels: API, tests

#3803 XML-RPC API: Fix querying and removing items
  cobbler/remote.py
Labels: API, no changelog

#3787 Items: Introduce InheritableItem
  cobbler/api.py
  cobbler/items/abstract/base_item.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/item.py
  cobbler/items/profile.py
  cobbler/items/system.py
  cobbler/modules/managers/dnsmasq.py
  tests/api/miscellaneous_test.py
  tests/items/inheritable_item_test.py
  tests/items/item_test.py
Labels: API, tests, no changelog

#3805 Items: Introduce `BootableItem`
  cobbler/api.py
  cobbler/cli.py
  cobbler/cobbler_collections/collection.py
  cobbler/items/abstract/base_item.py
  cobbler/items/abstract/bootable_item.py
  cobbler/items/abstract/inheritable_item.py
  cobbler/items/abstract/item_cache.py
  cobbler/items/distro.py
  cobbler/items/image.py
  cobbler/items/menu.py
  cobbler/items/network_interface.py
  cobbler/items/profile.py
  cobbler/items/repo.py
  cobbler/items/system.py
  cobbler/modules/managers/import_signatures.py
  cobbler/modules/managers/in_tftpd.py
  cobbler/modules/serializers/__init__.py
  cobbler/modules/serializers/sqlite.py
  cobbler/remote.py
  cobbler/serializer.py
  cobbler/settings/migrations/V3_4_0.py
  cobbler/tftpgen.py
  cobbler/utils/__init__.py
  docs/code-autodoc/cobbler.actions.rst
  docs/code-autodoc/cobbler.items.abstract.rst
  docs/code-autodoc/cobbler.items.rst
  docs/code-autodoc/cobbler.modules.serializers.rst
  docs/code-autodoc/cobbler.settings.migrations.rst
  tests/items/bootable_item_test.py
  tests/items/cache_test.py
  tests/items/distro_test.py
  tests/items/inheritable_item_test.py
  tests/items/profile_test.py
  tests/modules/serializer/file_test.py
  tests/modules/serializer/sqlite_test.py
  tests/utils/utils_test.py
  tests/xmlrpcapi/miscellaneous_test.py
Labels: documentation, API, tests, no changelog
