Repository cobbler/cobbler, pull requests merged in 2024-04, with the labels that each got.

#3647 Add signature for Alma/Rocky Minimal ISOs
  config/cobbler/distro_signatures.json
Labels: backport

#3670 Add Ubuntu 23.10 to supported distros
  changelog.d/3656.added
  config/cobbler/distro_signatures.json
  system-tests/listings/ubuntu/mantic/ubuntu-23.10.1-desktop-amd64.iso/files/.disk/info
  system-tests/listings/ubuntu/mantic/ubuntu-23.10.1-desktop-amd64.iso/files/dists/mantic/Release
  system-tests/listings/ubuntu/mantic/ubuntu-23.10.1-desktop-amd64.iso/index
  system-tests/tests/import-ubuntu-mantic
Labels: tests

#3654 Fix lazy start
  changelog.d/3654.fixed
  cobbler/cobbler_collections/collection.py
  cobbler/cobbler_collections/manager.py
  cobbler/items/item.py
  cobbler/modules/serializers/sqlite.py
  cobbler/remote.py
  cobbler/utils/__init__.py
  tests/items/network_interface_test.py
  tests/modules/serializer/sqlite_test.py
Labels: API, tests

#3679 Add compatibility with the file binary version below 5.37
  changelog.d/3679.added
  cobbler/modules/managers/import_signatures.py
  cobbler/tftpgen.py
  docs/user-guide/wingen.rst
  system-tests/tests/svc-ipxe-profile
Labels: documentation, tests

#3677 Add background_load_items
  changelog.d/3677.added
  cobbler/cobblerd.py
  cobbler/remote.py
  cobbler/utils/thread.py
  tests/xmlrpcapi/background_test.py
Labels: API, tests
