Repository cobbler/cobbler, pull requests merged in 2024-05, with the labels that each got.

#3684 Backport fix for PXE boot filename
  templates/etc/dhcp.template
Labels: backport

#3694 CI: Add manual performance testing workflow
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
Labels: CI, no changelog

#3695 CI: Fixup manual benchmark workflow
  .github/workflows/performance_testing_automated.yml
  .github/workflows/performance_testing_manual.yml
  .github/workflows/testing.yml
Labels: CI, no changelog

#3697 Signatures: Update default signatures URL
  changelog.d/3696.added
  config/cobbler/settings.yaml
  docs/cobbler-conf/settings-yaml.rst
  system-tests/tests/svc-settings
  tests/test_data/V3_4_0/settings.yaml
  tests/utils/utils_test.py
Labels: documentation, tests
